[2019-03-21 02:17] joaopcnogueira opened #1 "New Features"
Hello there!

Firstly, I really would like to thank you for providing this package. Its really boosted my productivity!

Do you have plans for add new features? I felt the missing of scalers, for example.

Edit: Today I have written one function to do the MinMaxScaler and made a PR (https://github.com/solegalli/feature_engine/pull/2) @solegalli

[2019-06-01 11:43] solegalli commented on #1
Hi @joaopcnogueira

Glad you are enjoying the package. Over the next few months I will continue adding new features, so keep an eye on it, and make PRs if you find something useful.

Regarding the columns for the MinMaxScaler:
In the new version of sklearn, released dec last year, they added an object called ColumnTransformer, that allows to select columns for pretty much all the transformers, inc

[2019-06-01 11:43] #1 closed

[2019-06-01 23:43] joaopcnogueira commented on #1
I have used ColumnTransformer and it has worked fine! Good that you will include it as part of the feature engineering udemy course. I am enrolled and already following the updates you are making, great ones!

[2019-08-06 17:02] Sandy4321 opened #6 "DecisionTreeDiscretiser what page to read from CiML-v3-book.pdf"
may you clarify what page from http://www.mtome.com/Publications/CiML/CiML-v3-book.pdf is relevant to read about
https://feature-engine.readthedocs.io/en/latest/discretisers/DecisionTreeDiscretiser.html?highlight=DecisionTreeDiscretiser
as you wrote
The methods is inspired by the following article from the winners of the KDD 2009 competition:

http://www.mtome.com/Publications/CiML/CiML-v3-book.pd

[2019-09-04 08:03] solegalli commented on #6
Page 27, "Features from tree induction". However, there is a lot of useful and interesting content in those articles, so I recommend reading the entire book, or at least the first 4 articles. Cheers

[2019-09-04 08:03] #6 closed

[2019-09-04 08:05] solegalli opened #8 "add check for NA in categorical encoders"
All categorical encoders need to check if data set contains missing values before either training or transforming a data set.

[2019-09-04 08:06] solegalli opened #9 "add check for NA in discretisers"
All discretisers should check for NA before training or transforming the data set.

[2019-09-04 08:07] solegalli opened #10 "add check for NA in variable transformers"
All variable transformers should check if data set contains NA before training or transforming the data

[2019-09-04 08:09] solegalli opened #11 "add contribute page"
Add contribute page to welcome contributors and explain how the contribution process works.

[2019-09-04 08:12] solegalli opened #12 "fix docstrings inheritance"
docstrings in parent classes are not inherited by sphinx, and therefore not shown in the documentation. Need to do a work around to fix this

[2019-09-04 08:14] solegalli opened #13 "review including of super() as part of fit() method"
Is this good practice? would like to have it reviewed by experienced python developer

[2019-09-04 08:15] solegalli opened #14 "review tests for categorical encoders"
Are they working with the latest implementation? are they testing every aspect of the class?

[2019-09-04 08:16] solegalli opened #15 "review tests for missing data imputation"
Are they working with the latest implementation? are they testing every aspect of the class?

[2019-09-04 08:16] solegalli opened #16 "review tests for outlier handlers"
Are they working with the latest implementation? are they testing every aspect of the class?

[2019-09-04 08:17] solegalli opened #17 "add tests for discretisers"
create unit tests

[2019-09-04 08:17] solegalli opened #18 "create tests for variable transformers"
Add unit tests

[2019-09-04 08:18] solegalli opened #19 "code review"
Have existing code revised by experienced python developer

[2019-09-04 08:19] solegalli opened #20 "woe: re-write formula to ln( P(0) / P(1) )"
In the current implementation I think I have P(1) / P(0). Ratio should be inverted to agree with most widespread documentation

[2019-09-04 08:22] solegalli opened #21 "rare label encoder: add warning when categories in variables are below n_categories"
Add a warning to inform users that some of the categorical variables in their data sets contain less categories than the limit indicated in the transformer to perform the rare imputation

[2019-09-04 13:37] solegalli commented on #20
tested: Actually, it just changes the sign of the result, so I will leave it as it is.

[2019-09-04 13:37] #20 closed

[2019-12-18 10:42] gregwa1953 opened #24 "Warning message"
Whenever I use one of your transform function on a training set...

X_train_enc = ohe_enc.transform(X_train)

I get a warning message...

versions/3.7.4/lib/python3.7/site-packages/sklearn/utils/validation.py:933: FutureWarning: Passing attributes to check_is_fitted is deprecated and will be removed in 0.23. The attributes argument is ignored.
  "argument is ignored.", FutureWarning)

Using a test

[2019-12-19 18:07] solegalli commented on #24
Thanks. This is due to a change in Scikit-learn's API, in which the check_is_fitted function does not take arguments any more. There will be 2 release cycles, till Sklearn does not support the feature any more, so there time to update this to the new sklearn API. Work is scheduled for January. Thanks for bringing this to my attention.

[2019-12-19 18:14] gregwa1953 commented on #24
Hopefully, it won't throw warnings when your book is released.

Greg

On Thu, Dec 19, 2019 at 12:07 PM Soledad Galli <notifications@github.com>
wrote:

--
*“They say I’m old-fashioned, and live in the past, but sometimes I think
progress progresses too fast!”*
*Theodor Seuss Geisel (AKA Dr. Seuss)*

Greg Walters

[2020-01-20 09:55] kypexin opened #25 "Proposal: monotonic and user defined binning"
Hi, first of all thank for the great package and all the efforts put into it.
I would like to propose additional algorithms which would in my opinion add value to the package.

1. Monotonic WoE binning. This one could be pretty useful for logistic regression problems, particularly (but not limited to) in risk scoring and fraud detection models.

2. User defined binning, where you specify bin bound

[2020-02-09 22:24] xiaobenhou opened #26 "The formula to calculate WoE in WoERatioCategoricalEncoder may not be correct:"
Hello,
Thank you for creating this package. It covers almost all the hot topics in feature engineering.
One thing I noticed that the formula to calculate WoE in WoERatioCategoricalEncoder may not be correct. The percentage of goods should be the count of goods in that category divided by the total counts of goods in the sample space, not the count of goods divided by the total counts of that categ

[2020-02-13 08:42] solegalli commented on #26
Hi @xiaobenhou
Thanks for the heads-up. Do you have any documentation or link with the correct formula that I can attach to this issue?  could you add it to this thread please?

[2020-02-13 13:43] xiaobenhou commented on #26
@solegalli,
I attached one below:
https://blogs.oracle.com/r/computing-weight-of-evidence-woe-and-information-value-iv
Thank you.

[2020-02-14 07:56] solegalli commented on #26
@xiaobenhou thank you, I will look into it. A priori, I think that modelling the prior probability to encode categories, the way it is suggested in the article, it is a bit of an overkill.
That implementation is probably included in the package category encoders, that also allows you to select categories. Did you have a look at it?

[2020-02-19 02:01] xiaobenhou commented on #26
@solegalli
The blog I attached explains from a mathematical perspective on why WOE's formula is log(P(X=xj|Y = 1)/P(X=xj|Y=0)) not log(P(Y=1|X=xj)/P(Y=0|X=xj)) which is  what you used in WoERatioCategoricalEncoder.

The results based on the two calculations are very similar if your dataset is a balanced one. However, the WOE value is significantly inflated if you have an extremely unbalanced datas

[2020-04-06 11:40] solegalli commented on #15
Done

[2020-04-06 11:40] #15 closed

[2020-04-18 13:27] ofbennett opened #28 "Allow user defined value to replace rare categories"
Great package! Thanks for all the work put into it.

Just a small point - In the RareLabelCategoricalEncoder I wondered if it might be nice to allow the user to define a value to replace rare categories with (but still default to 'Rare'). You could perhaps imagine someone wanting all the rare categories subsumed into an existing larger category for example.

[2020-04-19 09:45] solegalli commented on #28
Hi Oscar,

Thanks for the feedback. Yes, this is coming in the new release of feature-engine in hopefully 2 weeks. I am aiming to do it faster.

If you find some other things that could be improved, please let me know. Anything from typos in the docs, to additional features, all helps.

Cheers

[2020-04-19 09:45] #28 closed

[2020-04-19 09:53] #8 closed

[2020-04-19 09:53] #13 closed

[2020-04-19 09:53] #14 closed

[2020-04-19 09:53] #21 closed

[2020-04-20 12:43] #9 closed

[2020-04-20 12:43] #10 closed

[2020-04-20 12:43] #16 closed

[2020-04-20 12:43] #17 closed

[2020-04-20 12:43] #18 closed

[2020-04-20 12:43] #24 closed

[2020-04-24 17:54] solegalli commented on #25
Hello, quick question. What do you mean by Monotonic WoE binning? thanks

[2020-05-12 14:33] pellanda opened #41 "Discretiser - return interval boundaries"
I would like to suggest discretiser had an option to return interval boundaries instead of an integer, it turns more understandable the variable content output.

for example: outputs 1, 3, 2 turns (0,10] , (20,30], (10,20]

Thanks in advance

[2020-05-12 18:55] solegalli commented on #19
Revised by Chris Samiullah!

[2020-05-12 18:55] #19 closed

[2020-05-14 17:33] solegalli commented on #41
@pellanda that has been added already. If you would like to use it straightaway, clone the repo, cd into repo folder, checkout develop, and then do pip install setup.py.
Alternatively, I will probably release a new version to Pypi later next week, and you can install it from there with pip install feature-engine. Cheers.

[2020-05-14 17:33] #41 closed

[2020-05-17 13:17] GokulMahendran opened #47 "Creation of new feature instead of overwriting the feature"
First thanks to the package. It simplifies the overall process. My issue is when using categorical
frequency encoder, why I am not unable to create a new feature instead of overwriting the categorical variable. It will be useful IF I use another categorical encoder function.
Correct me I am wrong if there is feature already in the package.

[2020-05-18 11:55] solegalli commented on #47
Hi @GokulMahendran, this functionality is intentional, as machine learning models implemented by Scikit-learn or other packages, will only work with numerical variables. If you wish to retain the original categorical variable, then I suggest you capture the transformed data set in a different variable name. Eg: X_train_trasnformed = encoder.transform(X_train). Hope this helps.

[2020-05-18 11:55] #47 closed

[2020-05-18 19:04] kypexin commented on #25
Hi Soledad,

By monotonic binning I mean the binning method which imposes a monotonic trend for good/bad rates per bin, which is commonly used for credit risk modelling.

Links:

- https://rdrr.io/cran/smbinning/man/smbinning.monotonic.html
- https://github.com/jstephenj14/Monotonic-WOE-Binning-Algorithm
- https://www.researchgate.net/publication/322520135_Monotone_optimal_binning_algorithm_for_cr

[2020-05-20 13:19] GokulMahendran commented on #47
Thanks for the reply mam. As you said, I have captured the output in the
separate variable and then merged with original data frame.

On Mon, May 18, 2020 at 5:26 PM Soledad Galli <notifications@github.com>
wrote:

[2020-06-22 19:26] slavakx opened #51 "RareLabelCategoricalEncoder checks if new data matches shape of the data it was fitted on and throws exception if they do not match"
RareLabelCategoricalEncoder checks if new data matches shape of the data it was fitted on and throws exception when the number of columns do not match.

It makes usage of the encoder in the real setup (unseen data) difficult.

A temporal and ugly workaround is to create dummy columns just to match the number of columns in a new data.

The desired behavior is to apply the encoder on the columns tha

[2020-06-22 21:27] adalseno opened #52 "Draft of utilities functions"
Hi, as stated in the course here you are the draft of the functions used several times in the course (I tried it and seems to work fine, but I haven't tested it completely):

[code]
Nothing new but they look convenient to me.

[2020-06-23 10:30] solegalli commented on #52
thank you!

[2020-06-23 10:44] solegalli commented on #51
Hello, thanks for raising this issue.

That check is actually a safeguard, to ensure (as much as possible) that the user is passing the same sort of dataset, aka, the same number of features, when they train the transformer with fit() and then when they transform new data with transform().

Scikit-learn transformers and predictors also check, one way or another, that the number of columns of the d

[2020-06-23 11:07] slavakx commented on #51
Hi
thanks for your response. I don't agree with your logic. The encoder should care about the columns it transforms but not making assumptions about the overall number of columns in a dataset.
The current functionality works fine probably because most of your users are using it in course/competition setups but it breaks the logic when it should be used in a real world setup with unseen data.

It i

[2020-06-23 11:24] #51 closed

[2020-06-27 04:31] Pmohan28 opened #53 "transform the feature back to original form"
While we use the target guided mean encoding we tend to replace the labels by its mean and fit the algo on top of it. So now if we create decision tree it will show the split of features along with its value using mean values.
It will be better if there is inverse transform function in feature engine which can resort back to the original values of the dataframe.

Requesting for new feature additio

[2020-07-08 09:11] awqb opened #54 "Allow outlier removers to operate on data with missing values"
**Is your feature request related to a problem? Please describe.**
A typical way of imputing numerical data is by replacing missing values by the mean. However, if the data has outliers, then this approach can be ineffective. But, the outlier remover classes in feature engine cannot be fit on data that has missing values, meaning that imputation must happen first. It would be great if these classe

[2020-07-10 12:24] solegalli commented on #26
Hi @xiaobenhou thank you so much for bringing this to my attention, and I am really sorry it took me so long to fix this. The update is now in the develop branch, and I will release the new version later today. Cheers!!

[2020-07-10 12:24] #26 closed

[2020-07-10 12:25] solegalli commented on #54
Hi @awqb thanks a lot for bringing this to my attention. Good point actually. The update is in the develop branch, and I will release the new version later today. Cheers.

[2020-07-10 12:25] #54 closed

[2020-07-10 13:36] solegalli commented on #25
Hi @kypexin. First of all, thank you so much for your suggestion, and sorry it took me so long to include this issue. I have now added a discretiser that allows user inputs (UserInputDiscretiser). It is in the develop branch, and I will release the new version, later today. As for the monotonic encoding, the WoE is by default monotonic (I think this is what you meant), and the EqualWidth, EqualFre

[2020-07-10 13:36] #25 closed

[2020-07-10 13:39] #12 closed

[2020-07-10 13:40] #11 closed

[2020-07-10 14:12] solegalli opened #56 "add test to determine if WoERatioCategoricalEncoder returns an error when the probability in the denominator is 0"
At the moment the test is commented out:
https://github.com/solegalli/feature_engine/blob/master/tests/test_encoding/test_woe_encoder.py#L112

the aim is to test this bit of code [here](https://github.com/solegalli/feature_engine/blob/master/feature_engine/encoding/woe.py#L205)

I think the test should work, and I commented out because I changed the error for a warning. But now, we decided to go b

[2020-07-10 14:18] solegalli commented on #53
Hi @Pmohan28 I have added the inverse_transform functionality for most categorical encoders, that is, for those where getting the original values is possible. This excludes the rarelabelencoder, and the onehotencoder.
Inverse_transform is not possible for discretisers, outlier removers and imputers. And for the variable transformers, while possible for some, I wonder if this is really useful.
The

[2020-07-10 14:18] #53 closed

[2020-07-10 14:54] solegalli commented on #56
test cases 11 and 12. I think there is something wrong with how I handle the  values == 0 in the class

[2020-07-10 15:39] solegalli opened #58 "improve imputation notebooks"
Separate each missing data imputer into a single notebook, within the imputer folder. Check if new parameters or changes have been done to the imputers, and try to include a demo in the notebook.

[2020-07-10 15:40] solegalli opened #59 "improve categorical encoding notebooks"
Separate each categorical encoder into a single notebook, within the encoders folder.

Check, if new parameters or functionality has been added and include examples within the notebooks.

[2020-07-10 15:41] solegalli opened #60 "improve discretisers jupyter demos"
Separate each discretiser into a single jupyter notebook.

Check if new functionality has been added and add an example in the notebook.

[2020-07-10 15:42] solegalli opened #61 "improve outlier jupyter demos"
Demonstrate each class into a single jupyter notebook (at the moment all classes are together in 1 notebook)

Check if new functionality has been added, and include a demonstration in the notebook.

[2020-07-10 15:43] solegalli opened #62 "improve variable transformers jupyter notebooks"
Separate each transformer into a new jupyter notebook.

Check if new functionality has been added and include it in the notebook.

[2020-07-10 16:16] solegalli opened #65 "example with discretisation followed by monotonic encoding"
Add 1 or 2 examples like the one here:
https://github.com/solegalli/packt_featureengineering_cookbook/blob/master/ch05-discretisation/Recipe-3-Discretisation-plus-categorical-encoding.ipynb

where we first discretise a numerical variable, and then order the bins monotonically with the target.

[2020-07-10 16:18] solegalli opened #66 "encode categorical variables with trees"
Add encder to replace labels directly by the output of a decision tree.

[2020-07-10 16:19] solegalli opened #67 "include transformer for datetime variables"
The first version of this module should include the following:

- New module: datetime (folder)

Three transformers:
- ExtractDateFeatures
- ExtractTimeFeatures
- ExtractDateTimeFeatures

A base class:
- DateTimeBaseTransformer

The base class should:

- check that the variables entered by the user are datetime, or if string / object, transform them to datetime (I wonder if we should make this a f

[2020-07-10 16:20] solegalli opened #68 "feature creation: add feature combination by substraction"
https://github.com/solegalli/packt_featureengineering_cookbook/blob/master/ch09-mathematical-transformations/Recipe2-Substraction-Quotient-Features.ipynb

[2020-07-10 16:20] solegalli opened #69 "add feature combination by math operations"
https://github.com/solegalli/packt_featureengineering_cookbook/blob/master/ch09-mathematical-transformations/Recipe1-Add-Multiply-Features.ipynb

[2020-07-10 16:21] solegalli opened #70 "add transformer that removes features from the dataset"
This is useful when we have a feature that we use to create intermediate features, like date of birth, but that we do not want among our predictors. Useful to accomodate the dataset in the sklearn pipeline

[2020-07-10 16:22] solegalli opened #71 "add feature selection methods"
as per my course feature selection for machine learning. Please get in touch for details

[2020-07-10 16:23] solegalli opened #72 "arbitrary value imputer: allow imputation with different numbers in 1 imputer"
Allow user to enter a dictionary with the values to use to replace the different variables

[2020-07-10 16:24] solegalli opened #73 "CategoricalVariableImputer"
Allow user to select the string with which to replace missing data. At the moment, the only value allowed is the default one == 'missing'

[2020-07-10 16:25] solegalli opened #74 "Check if return_object is working in the RareLabelEncoder"
Add this to tests.

[2020-07-10 16:26] solegalli opened #75 "RareLabelEncoder allow user to decide maximum number of returned categories per variable"
Add a parameter with which the user can specify the maximum number of categories that they want for the variables

[2020-07-10 16:28] solegalli opened #76 "Code smell"
Massive PR:
separate modules with > 500 code lines into relevant modules, all as part of a folder.

Example folder missing, contains multiple scripts for missing data imputers, each containing transformers with similar functionality or one transformer at a time

[2020-07-10 16:29] solegalli opened #77 "tests: separate asserts, tidy, make them more readable"
Put different asserts in different tests. Make use  of fixtures for long setups

[2020-07-10 16:30] solegalli opened #78 "add style checks"
Expand flake8 style checks to entire package. At the moment only checking for base_transformers.py. Make use of pre-commit

[2020-07-12 03:36] Pmohan28 commented on #53
Hi Sole,
Thanks for incorporating this functionality. Is the change released now from dev branch?

[2020-07-13 11:29] solegalli commented on #53
Yes, it was released last Friday.

[2020-07-19 06:03] GLevV commented on #73
I rewrite code to allow custom string for imputation, and also we can modify mode imputer for case of multiple modes: we can uniformly randomly choose mode for every nan. It will save the frequencies of modes but transform method should be redefined

[2020-07-22 10:51] solegalli commented on #73
Hi @GLevV thanks for getting in touch, and sorry for the late response, I took a few days off :)

Would you like to modify the transformer to allow the user to input the string they wish for the imputation? If yes, could you make a feature branch with the name of this issue and make a PR to master with your changes? It would be great if you can also add a test to check that your modification works

[2020-07-24 06:39] SuryaThiru commented on #75
Hi! Will a `max_n_categories` parameter and indexing with `[:max_n_categories]` suffice?
How can we handle the case where multiple categories under the tolerance percentage are present in a variable?

[2020-07-28 21:43] michalgromiec commented on #72
I could get on with this - do we want to allow entering dictionary instead of current parameters? or both options should be possible?

[2020-07-29 07:00] solegalli commented on #72
Hi @michalgromiec thank you so much!

I think it would be best to allow both options. So we don't disrupt current functionality (i.e., the transformer remains backwards compatible).

[2020-07-29 07:19] #75 closed

[2020-07-29 13:24] #73 closed

[2020-07-29 14:45] michalgromiec commented on #72
@solegalli I've developed this feature and pushed changes in PR #83

[2020-07-29 15:05] Sandy4321 opened #84 "created new features by all categorical features combinations"
**Is your feature request related to a problem? Please describe.**
if we have categorical features how to created new features by all features combinatoric combination
since in real life categorical  features are NOT independent , but many of them are dependent from each to others

even scikit learn can not do, but you will?

related to
https://github.com/PacktPublishing/Python-Feature-Engineering

[2020-07-30 12:14] #72 closed

[2020-07-30 13:13] GLevV commented on #84
You can do it like this:
`df['comb_cat_feature'] = df['cat_feature_1'].astype('category').cat(df['cat_feature_2'], sep='_')`
If you want all possible combos than it will be something like this
` list(chain.from_iterable(combinations(s, r) for r in range(2, len(s)+1))) # where s is list of cat columns`
and than iterate over this list and use `cat` method from pandas
But honestly, there is no need f

[2020-07-31 12:59] solegalli commented on #84
@Sandy4321 did you try catboost?

[2020-07-31 14:57] adrianhartanto97 opened #85 "SklearnTransformerWrapper error when not defining variables"
**Describe the bug**
SklearnTransformerWrapper error when not defining variables (I'd like to transform all the features).
But when defining any, then it will work.

**To Reproduce**
I demonstrate standardscaler like below image.

**Screenshots**
![image](https://user-images.githubusercontent.com/17286114/89046930-dec14b00-d377-11ea-81c8-c3ed9ece3579.png)

**Desktop (please complete the following

[2020-07-31 18:51] michalgromiec commented on #85
I can reproduce error. @solegalli - docs states that if variables parameter is not passed, numerical variables should be taken into account. Taht way we won't be able to run e.g. OneHotEncoder using this sklearn wrapper - is it intentional? If yes, I could push the fix.

[2020-08-02 05:14] SurajitTest opened #86 "Return 0 for unseen labels of a Categorical/Nominal Variable in Test Set or in Production"
The given below 2 questions can be answered with this Feature Request
Question -1 : In case a categorical variable in the train set does not have a Rare' label based on values in parameters 'tol' and 'n_categories' , how do we handle unseen values in the test set or in production ?

Question-2 : In the absence of a 'Rare' label in a categorical variable in the train set based on values in paramete

[2020-08-02 05:18] SuryaThiru commented on #66
Hi! I'm curious as to how this works. Can you point me to some relevant resources?

[2020-08-02 18:06] Sandy4321 commented on #84
https://github.com/solegalli
better to do this implicitly
than you know exactly what is happen
catbost has option for combining
but then it become slow and also we do not know what is happen inside catboos

or
do you mean catboost can do it and returns transitioned data
as per my knowledge they do not return/share transformed data
https://github.com/GLevV
good attempt
but can you share full code w

[2020-08-03 07:53] solegalli commented on #66
The method was used for a KDD competition and is described in this series of articles:
http://www.mtome.com/Publications/CiML/CiML-v3-book.pdf

In particular, article starting on page 21, and the method is described on page 27.

This method is implemented already in Feauture-engine for numerical variables, in the discretisation transformers:
https://github.com/solegalli/feature_engine/blob/master/

[2020-08-03 07:57] solegalli commented on #86
Hi, thanks for the request! To re-phrase the request:

the one hot encoder from Feature-engine, should have the option to handle labels that have not been seen in the train set, in a similar way to the 'handle_unknown='ignore' from feature engine. That is, for unseen categories, the encoder will return 0 in all the dummy variables.

[2020-08-03 08:11] solegalli commented on #85
@michalgromiec thanks for pointing this out. I can see that I forgot to include the line:
[code]

I probably didn't think this carefully. If we allow only numerical variables, then the SimpleImputer() with methods `frequent` or `arbitrary` and a string value can't be used. So probably limiting this to numerical variables is not a good idea.

Regarding the OneHotEncode, I anticipate a problem when

[2020-08-03 20:59] michalgromiec commented on #85
@solegalli seems logic. Just to be sure - transformer will transform selected features and will left others features untouched?
I am in the middle of developing this change, including also OHE feature names.

[2020-08-04 05:06] SuryaThiru commented on #66
Yes, I can work on this.

[2020-08-04 05:28] solegalli commented on #85
@michalgromiec yes, that is correct. TheOneHotEncoder from scikit-learn returns only the binary variables. I think we should concatenate these back to the original dataframe, which contains the remaining features untouched (that is, we would not drop the categorical variables that were encoded as the OneHotCategoricalEncoder from Feature-engine does.

[2020-08-04 09:20] SuryaThiru commented on #66
Are you planning to refactor the library a bit before any further additions?

[2020-08-04 10:15] solegalli commented on #66
@SuryaThiru please ignore what I said. I will make refactor as part of a big PR later in the year or in 2021. Let's continue as always. Cheers. Sole

[2020-08-06 07:39] #85 closed

[2020-08-06 07:40] solegalli commented on #85
DONE!

[2020-08-06 12:33] KarthikKothareddy commented on #71
Hello @solegalli, I was going through your repo (as I am a student of your Feature Engineering and Feature Selection courses) and came across this ope issue. I will be more than happy to understand the requirements here and contribute as well.

[2020-08-06 12:51] KarthikKothareddy commented on #70
Hello @solegalli, in most of my ML projects I found that transformers for feature selectors / feature eliminators makes integration with sklearn pipelines very handy and I would like to work on this enhancement.

[2020-08-06 13:43] KarthikKothareddy commented on #71
Also as an addition to the above I felt like a wrapper around sklearn's FeatureUnion to output a dataframe with combining features very helpful.

[2020-08-06 19:30] michalgromiec commented on #69
@solegalli If it's possible, I can take this one. I am planning to allow user to pass math operation as a list in parameter or calculate all methods from above Jupyter if parameter will be None.

[2020-08-07 01:30] adrianhartanto97 commented on #85
Thankyou :+1:

[2020-08-07 07:30] solegalli commented on #70
Hi @KarthikKothareddy the transformer that I am thinking for this issue, is one that allows the user to indicate a list of features they wish to remove from the data set.

The code for the transformer is this:
https://github.com/trainindata/testing-and-monitoring-ml-deployments/blob/master/packages/gradient_boosting_model/gradient_boosting_model/processing/preprocessors.py#L64

We need to expand t

[2020-08-07 07:32] solegalli commented on #71
Hi @KarthikKothareddy. This one is actually quite a big change. Give me a few days to gather all the code that needs to be part of this change, and maybe we need to create multiple issues from this single one. And meanwhile we can work on the other issue you put your name down to?

[2020-08-07 07:35] solegalli opened #92 "add / update contributing docs"
The contributing page does not reflect the way in which we are actually working. So we need to re-write it. At the moment we are working with feature branches for each issue and pushing directly to master.

We need to make clear that for code changes, we need to bump the version at each PR, so the new version is automatically uploaded to pypi.

We need to define if we need changes in the version f

[2020-08-07 07:36] solegalli opened #93 "add code of conduct"
Add code of conduct page to repository. Read a bit about best practices and how best to include it not just as part of github but also the sphinx docs.

[2020-08-07 12:44] KarthikKothareddy commented on #70
Hello @solegalli absolutely, I will start forking a separate enhancement branch and follow the steps this evening.

[2020-08-09 00:50] KarthikKothareddy commented on #74
Hello @solegall, I have a PR open for this with additional test case to test the above - https://github.com/solegalli/feature_engine/pull/97

[2020-08-09 14:31] KarthikKothareddy commented on #67
Hello @solegalli, I'm assuming the requirement is for a transformer that parses a date field and decomposes it into a bunch of separate variables (numerics or characters). Do you have anything specific in mind for this if not I can get started on this issue.

[2020-08-09 19:09] solegalli commented on #67
I am thinking that on a transformer that would be able to return all the variables contained in recipes 2 to 5 of the above link. Those are:

- [  ] year, month, quarter and semester
- [  ] day (numeric 1-31) and day of the week (numeric 0-6), is_weekend (binary)
- [  ]  hr, minute, second
- [  ] **to discuss**: is_morning, is_afternoon, is_evening

- [  ] Transformer returns all by default, or on

[2020-08-09 19:15] solegalli commented on #67
@KarthikKothareddy small request, in your PR, please include only changes for this issue. Thank you!

[2020-08-10 13:58] KarthikKothareddy commented on #67
@solegalli Right on, I'll get started on this.

[2020-08-11 04:56] solegalli opened #100 "add tests for doc build in circleci"
Add automatic test for doc build as part of circleci checks

[2020-08-11 04:59] solegalli opened #101 "fix doc error in docstring missingdataimputer.py and docs/index.rst"
Please let us know if you think there is information missing, or how else we can improve the documentation from Feature-engine.

If you are referring to an existing page, please paste the url.

run

`sphinx-build -b html docs build `

to reproduce the error

[2020-08-12 16:29] #69 closed

[2020-08-12 16:29] #70 closed

[2020-08-12 17:43] #101 closed

[2020-08-13 17:04] ftvalentini opened #105 "NaN values with CategoricalEncoder if rare labels only in test"
It seems that categorical encoders (for example MeanCategoricalEncoder) cannot encode rare unseen labels in test data even after using RareLabelEncoder. This happens when there are rare labels only in test **but not in train**.
This result is somehow reasonable because there is no way to impute a value to a "Rare" category if there were no "Rare" during training -- what's the workaround to avoid N

[2020-08-13 17:35] solegalli commented on #105
Hello @ftvalentini

Technically this is possible:
Set  up the new parameter of the RareLabelCategoricalEncoder `max_n_categories` to 1. That is:

`ce.RareLabelCategoricalEncoder(tol=0.01, n_categories=1, max_n_categories=1)`

docs: https://feature-engine.readthedocs.io/en/latest/encoders/RareLabelCategoricalEncoder.html

That should return something like:
X_train['var']=['A', 'A', 'Rare', 'Rare']

[2020-08-13 17:37] solegalli commented on #84
@Sandy4321 quick question on this discussion. In my experience, I have not seen that we combine all categories they way you mention here, when we are going to use this models in an organisation to score real people. This is mostly because this combinations, turn the new variables a bit difficult to understand.

Why would you be interested in doing so? Could you mention a few examples of its applic

[2020-08-13 17:57] #100 closed

[2020-08-13 18:03] solegalli commented on #86
Now that we can wrap the OneHotEncoder from scikit-learn that already has this functionality, by using the SklearnTransformerWrapper, do we still need to add this functionality to Feature-engine's one hot categorical encoder?

Feels to me that this issue is resolved? @SurajitTest?

[2020-08-13 18:09] solegalli opened #107 "create new features by combining variables with decision trees"
New variables are created by combination of user indicated variables with decision trees. Example: if user passes 3 variables to transformer, a new feature will be created fitting a decision tree with this tree variables and the target.

To think about:
Should we make the transformer so that it combines variables in groups of 2s and 3s, etc? Say the user passes 5 variables, should we create featur

[2020-08-14 06:40] #74 closed

[2020-08-14 06:43] SuryaThiru commented on #107
In my opinion, the right grouping will be domain-specific. When users have an idea of how the features are related, they can combine the features to improve the performance of their models or to better understand the interaction between features in the model ([for example](http://dukedatasciencefico.cs.duke.edu/models/)). Either way, if we simply provide an interface independent of the number of f

[2020-08-14 06:49] solegalli commented on #66
#98

[2020-08-14 06:49] #66 closed

[2020-08-14 06:50] solegalli commented on #74
#99

[2020-08-14 12:00] Sandy4321 commented on #84
For example scikit learn polynomial features created for continuous variables, then we need to do the same for categorical

[2020-08-14 12:04] Sandy4321 commented on #84
https://github.com/pierrepita/categorical-data-generator

[2020-08-15 16:58] GLevV commented on #84
These combinations of categorical features could be interpreted. For example, you have two categorical variables: gender and job name. Their combination is easily interpretable - female_mle, male_devops, female_ceo and so on. It's like grouping dataframe by category and then flattening it.
But yes, in practice, there is no need for this shenanigans. The only use case is Kaggle, but as I said above

[2020-08-17 13:20] Sandy4321 commented on #84
https://github.com/GLevV

full code needed

for example you have data frame - mydf

and you need to create new data frame newdf with all possible combinations of categorical features

[2020-08-27 12:49] dehiker commented on #10
Hmm, could some transformers work with missing values, maybe simply ignore it?

[2020-08-29 13:27] solegalli commented on #107
Will pick up this on the week of Sept 7. At the moment I am without my computer. Thanks!

[2020-09-06 00:53] SurajitTest commented on #86
Hi Sole,
            'Now that we can wrap the OneHotEncoder from scikit-learn that already has this functionality, by using the SklearnTransformerWrapper' - this is very true. But, if the given below is implemented , for unseen labels in the test set, feature engine can stand independently without the use of sklearn(in terms of using the SklearnTransformerWrapper)

the one hot encoder from Featur

[2020-09-08 05:59] solegalli commented on #86
Feels to me that using the SklearnTransformerWrapper is a small price to pay for using functionality that already exists and is well supported by the sklearn community.

At the back, you can use the new transformer DropFeatures, to drop the original categorical variables from the dataframe, and this way you will end up with a similar result as that returned by Feature-engine's one hot encoder.

[2020-09-08 06:03] solegalli commented on #10
I think this is a very valuable safety measure for users, who may inadvertedly introduce NA in their datasets during manipulation, and without a warning or an error, they would carry the NA all the way to the prediction algorithm.

All transformers except the outlier transformers should have this check.

[2020-09-08 10:03] solegalli opened #113 "feature_selection: remove constant and quasiconstant features"
constant feature: only shows 1 value in all observations
quasi_constant feature: most values are the same.

Main code:

[code]

[code]

[2020-09-09 08:49] solegalli opened #114 "feature selection: remove duplicated features"
[code]

[code]

[2020-09-09 23:55] Tejash-Shah commented on #113
Hi @solegalli,

I was curious about the [DropFeatures class](https://github.com/solegalli/feature_engine/blob/045eb14f14b359b5bbbc100bd71573abe6f2a5b3/feature_engine/feature_selection.py#L7) in [feature_selection.py](https://github.com/solegalli/feature_engine/blob/master/feature_engine/feature_selection.py) and I was wondering what is the purpose of this class? Looking at the code it looks like i

[2020-09-10 07:44] solegalli commented on #113
Hi @Tejash-Shah

Yes, that is the function of drop features. And yes, I want to include functionality to drop constant and quasi-constant features. Would you like to give it a go at trying to make this transformer?

[2020-09-10 13:19] solegalli opened #115 "feature_selection: remove correlated features"
The transformer needs to find groups of correlated features, and then retain 1 from the group, based on algorithm performance or for example number of missing data.

User determines the correlation threshold and the method to use to retain the feature. If user can also select the algorithm to determine performance of features to retain.

User can also determine correlation to use (Pearson, Spearma

[2020-09-11 06:46] Tejash-Shah commented on #113
Sure, would be happy to contribute:) I can create a Transformer class based on TransformerMixin, with two attributes, ```constant_features_``` and ```non_constant_features_```. In that way it is scikit-learn compatible. However, we would be missing ```get_support()``` functionality which comes from ```SelectorMixin```. Any idea what functionality we would perhaps miss if we inherit ```TransformerM

[2020-09-11 09:17] solegalli commented on #113
Yes, I thought we should include the get_support() method to keep it similar to sklearn selectors.

I can see that by inheriting the selectorMixin, the class would be inheriting the get_support() and transform functionality (https://github.com/scikit-learn/scikit-learn/blob/0fb307bf3/sklearn/feature_selection/_base.py#L17). And then, in the new selector, we would only have to write the _get_suppor

[2020-09-12 06:30] Tejash-Shah commented on #113
Thanks, @solegalli for the points. Will work on it and when I'm ready I will create a PR to review.

[2020-09-12 08:06] solegalli commented on #113
Actually, after further thought, I think using sklearn's SelectorMixin is not such a good idea. Because sklearn returns numpy array, and feature-engine returns dataframes. So we would have to include more boilerplate code to transform the array into a dataframe, just so that we have the get_support funtionality.

I think it would be better to continue like with the other transformers of Feature en

[2020-09-13 08:03] Tejash-Shah commented on #113
Sure, that sounds good.

I have my draft almost ready. Somewhat it looks like below.

Code by default, finds and drops all constant features. Just like ```VarianceThreshold()```

Class has four attributes:
1. ```constant_features_``` : available as soon as fit is called
2. ```non_constant_features_```: available as soon as fit is called
3. ```quasi_constant_features_```: available if ```drop_quasi

[2020-09-13 09:10] solegalli commented on #113
Sounds good thanks!

I would keep 1 and 3. And put together 2 and 4 into 1 attribute called `selected_features_`. Then, we could use this attribute in the transform method.

5  is not needed as it would be retained, somehow, in the attribute "shape_" that we should always return in fit to check if the size of the input dataframe in the transform matches the one of the training set.

Look forward t

[2020-09-27 08:59] solegalli commented on #93
#117 PR adds code of conduct

[2020-09-27 08:59] #93 closed

[2020-09-27 09:00] solegalli commented on #92
#177 expands the contribution guidelines as per current way of working

[2020-09-27 09:00] #92 closed

[2020-10-01 06:44] Tejash-Shah commented on #114
Hi @solegalli, I was wondering if anyone is working on this one? I'm willing to work on this one if you are ok...

[2020-10-01 06:56] solegalli commented on #114
@Tejash-Shah you are more than welcome!! A few things to consider:

1. please checkout the **develop** branch (not master) and make a PR to **develop** with your changes. Reason is, I am currently re-organising the files into submodules to improve readability and remove technical debt. So master is not the latest view of the project.

2. Instead of the loops that I show in this issue, we should us

[2020-10-01 18:36] Sandy4321 commented on #84
any news?

[2020-10-02 06:43] Tejash-Shah commented on #114
Yes, that was my idea of using itertools where we can create feature pairs and iterate over-pairs. Please check the below screenshot for the implementation. However, only after writing tests, we can be assured about it, below is just a screenshot of my idea. Also, let me know if you were thinking about another implementation using itertools, would be interesting to know. Thank you :)

![Screen Sho

[2020-10-02 07:08] solegalli commented on #114
@Tejash-Shah looks good! look forward to the PR.

[2020-10-02 07:19] solegalli commented on #84
Hi @Sandy4321

I agree with @GLevV that the use case for this type of variable combinations is mostly for data science competitions. And I am personally, not aware of its use in organisations.

So to prioritise this issue, we would need clear examples of situations, other than data competitions, where this type of variable combinations would be used. For example, a finance use case, or an insuranc

[2020-10-02 11:00] solegalli commented on #84
Hi @thibaultbl What are your views on this issue?

[2020-10-02 11:23] solegalli commented on #113
#116 closed with this PR

[2020-10-02 11:23] #113 closed

[2020-10-02 13:09] solegalli opened #134 "feature selection: recursive feature elimination"
A transformer that implements this for various algorithms:

https://github.com/solegalli/feature-selection-for-machine-learning/blob/master/11-Hybrid-methods/11.2-Recursive-feature-elimination.ipynb

Should be able to use ML algos that output some sort of importance value, like coef_ or feature_importance_

[2020-10-02 13:10] solegalli opened #135 "feature_selection: recursive feature addition"
A transformer with an implementation of this:

https://github.com/solegalli/feature-selection-for-machine-learning/blob/master/11-Hybrid-methods/11.3-Recursive-feature-addition.ipynb

Should be able to take algorithms that output some sort of measure of importance. We need to discuss how best to implement the stop criteria,

[2020-10-02 13:11] solegalli opened #136 "Feature_selection: feature shuffling"
A transformer with an implementation of this:
https://github.com/solegalli/feature-selection-for-machine-learning/blob/master/11-Hybrid-methods/11.1-Feature-shuffling.ipynb

See what is available in scikit-learn first. I think they have something to derive importance by shuffling.

[2020-10-02 13:12] solegalli opened #137 "feature_selection: select by individual feature performance with a ML algo"
A transformer that implements this:

https://github.com/solegalli/feature-selection-for-machine-learning/blob/master/06-Filter-other-metrics/06.1-Univariate-roc-auc.ipynb

Should be able to take pretty much any ML algorithm

[2020-10-02 13:13] solegalli opened #138 "Feature_selection: by target mean encoding"
A transformer that implements this:

https://github.com/solegalli/feature-selection-for-machine-learning/blob/master/06-Filter-other-metrics/06.2-Method-used-in-a-KDD-competition.ipynb

And quote where this method comes from in the docs.

[2020-10-02 13:15] solegalli commented on #71
Expanded this mega issue into individual issues with the specific transformers that we should add to the package. So I will close this issue now. #114 #134 #135 #136 #137 #138

[2020-10-02 13:15] #71 closed

[2020-10-02 19:59] thibaultbl commented on #84
I agree with @GLevV , most machine learning (or at least for tree-based) do that as a part of their inner algorithm.

 But it is also true empirically that you can improve your metrics by using this kind of cross features. Like you said, it is mostly usefull in data science competition. Nevertheless, I think it can be usefull in organisation, if you use this kind of automated feature generation as

[2020-10-03 02:59] rupeshpalwadi commented on #137
can you assign this to me?

[2020-10-03 04:58] Tejash-Shah commented on #114
Hi @solegalli is the develop branch has an error in stylechecks? Tox is throwing off error at
[code]

[2020-10-03 08:42] solegalli commented on #84
Thank you! @thibaultbl

[2020-10-03 09:05] solegalli commented on #115
#140

[2020-10-03 09:08] solegalli commented on #137
With pleasure :)

Please checkout the **develop branch** (not master) and make the PR to that branch, as I am currently refactoring code, and the modules have changed their names.

This transformer should allow the user to decide which ML model they want to use, and which metric (if possible). So we need to think a bit how to play with this, because some metrics are better when they are smaller, a

[2020-10-03 09:11] solegalli commented on #114
yes, my bad. I need to fix that.

Please ignore that error for the moment, and push as usual. I will let you know when I fixed it. Sorry :(

[2020-10-03 09:37] solegalli commented on #114
@Tejash-Shah fixed

[2020-10-03 15:17] solegalli commented on #76
resolved in #128 #142 #131 #133

[2020-10-03 15:17] #76 closed

[2020-10-03 15:21] solegalli opened #143 "separate Woe encoder into Woe encoder and Ratio encoder"
In short, WoE encoder should have only WoE functionality, And the probability ratio encoder should be in a separate transformer.

They are different concepts in my opinion.

[2020-10-04 18:34] pradumna123 commented on #68
Can you please elaborate on the line add feature combination by substraction?

[2020-10-04 22:08] NicoGalli commented on #143
Sole, would you please assign this one to me? I would like to give it a try! Thanks. N.-

[2020-10-05 08:01] solegalli commented on #143
With pleasure :)

One thing to notice, we are currently refactoring the code (quite massively), so please **check out the develop branch** and make the PR to that branch as well which contains the latest view :)

Suggestions:
1) RatioEncoder should go in a dedicated .py script.

2) Test should be divided into those for WoE and those for Ratio, the ones for Ratio in a separate script. And since we

[2020-10-05 08:28] solegalli commented on #68
Transformer should be able to take a group of variables and subtract a reference variable, or divide them by a reference variable as shown in the code linked in the issue.

Also worth thinking which additional pandas binary methods should be supported:
https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#binary-operator-functions

[2020-10-05 10:34] solegalli commented on #56
@NicoGalli Maybe you can have a look at this one when you separate the WoE encoder from the RatioEncoder?

[2020-10-06 14:00] solegalli opened #146 "function _define_variables should take only str or list of str"
Current implementation can take list of tuples, this behaviour should not be allowed. Should expand the test to catch this up.

[2020-10-06 14:02] solegalli commented on #146
@Okroshiashvili ? could you take care of this one as part of the type hint PR?

[2020-10-06 15:57] neomatrix369 opened #148 "[Idea/suggestion] Two-way integration of NLP Profiler with Feature Engine to enhance the results generated"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
- (option 1) Would love to integrate NLP Profiler with Feature Engine when profiling text datasets
- (option 2) Would love to integrate Feature Engine with NLP Profiler to assist generating features when working with text data

Happy to discuss this further and would love someone to point me

[2020-10-06 15:58] Okroshiashvili commented on #146
@solegalli I will take care of it

[2020-10-07 09:30] solegalli commented on #148
@neomatrix369 thank you for the suggestion

Just had a look at the package and the presentation. Not too sure what you have in mind.

Could you elaborate a bit more?
how would this fit within the fit() transform() functionality we would like to keep in Feature-engine?
Which features would be derived by the profiler?
should we port all the scripts in the profiler repo?
how would we minimise depende

[2020-10-07 10:40] neomatrix369 commented on #148
Good questions and conjecture points, let me have a better look at your library and use it.

Whats a good place to start you suggest, the docs and examples?

[2020-10-07 10:45] solegalli opened #150 "replace listcomp with genexp in discretisation tests"
in test_equal_frequency_discretisation.py
in test_equal_width_discretisation.py

[2020-10-07 13:23] solegalli commented on #148
yep

[2020-10-07 13:43] solegalli opened #151 "rename dataframe by df in conftest"

[2020-10-07 13:44] #105 closed

[2020-10-07 13:45] #86 closed

[2020-10-07 13:45] #77 closed

[2020-10-07 13:49] solegalli opened #152 "roll out type hint"
it might be beneficial to take advantage of Feature-Engine's relatively small code base to do it whilst it's still not so much work.

I'd suggest a gradual rollout in the following ways:

- Add a new circleci job for the typehints, and make it optional for merging prs

- Configure mypy to run against a subset of files at first (e.g. not the tests, example from [FastAPI](https://github.com/tiangolo

[2020-10-07 15:01] pradumna123 commented on #68
Thank you for the explanation will start working on it

[2020-10-08 12:48] solegalli commented on #150
@NicoGalli este es facil

[2020-10-08 12:51] solegalli commented on #59
@NicoGalli este es para modificar los notebooks existentes. Hay que hacer un notebook por transformador (al momento estan todos los transformadores en un notebook solo).

Simple

[2020-10-08 12:51] solegalli commented on #138
@NicoGalli este no es sencillo. Pero si te animas, hace un boceto y yo te ayudo.

[2020-10-08 19:41] firefly1248 opened #156 "Hybride Recursive Feature Elimination Transformer"
I want to suggest my implementation of Hybride Recursive Feature Elimination Transformer from the issue #134 .
It also supports working with CatBoostClaaffifier and CatBoostRegressor, modern gradient boosting trees models which allows to put categorical and text features directly into model's 'fit method'.

The jupyter notebook with implementations and some examples of application could be found h

[2020-10-09 14:25] #78 closed

[2020-10-09 14:25] #143 closed

[2020-10-09 14:25] #151 closed

[2020-10-10 10:17] Okroshiashvili commented on #150
If you are not in rush, I'd like to handle this issue. Moreover, I will add some extra test cases.
@solegalli

[2020-10-10 10:18] Okroshiashvili commented on #146
Please, refer to the PR #159

[2020-10-12 12:31] solegalli commented on #156
Hi @firefly1248 thanks for the suggestion. Is the code you provide in the Juypyter notebook similar to that indicated in issue #134 ?

Is this the same or a similar transformer that the one you have in mind?

If it is similar, could you make a PR referencing this and #134 issue with some initial code and we take it from there?

If it is different, could you tell me how it is different?

thanks a l

[2020-10-12 12:58] solegalli commented on #150
@Okroshiashvili awesome, Thanks

[2020-10-12 13:21] firefly1248 commented on #156
Hi, @solegalli ! You are totally right! This notebook implements the same idea that you suggested in issue #134. Sorry that I didn't notice that issue. I thought that to mention your cource, where I got familiar with this idea for the first time will be enough. )

[2020-10-12 14:33] solegalli commented on #156
great! could you give it a go, and make an initial PR with some code and we take it from there? For inspiration, check the other classes to select features that are available within the selection folder of feature-engine. And for the time being, please check out the develop branch which contains the latest version of the code, and make the PR to develop (not master).
Thanks a lot for your particip

[2020-10-12 17:13] #114 closed

[2020-10-12 17:20] Tejash-Shah opened #160 "MEstimateTargetEncoder"
Hi @solegalli,

As we know vanilla target encoding is prone to overfitting therefore I would like to suggest M-estimate target encoder to deal with high cardinality/overfitting issue as suggested in this [paper](https://dl.acm.org/doi/10.1145/507533.507538). Let me know if you are ok to add this functionality to feature-engine. Thanks!

[2020-10-14 08:18] solegalli commented on #137
@rupeshpalwadi any news on the development of this feature?

[2020-10-14 08:20] solegalli commented on #136
@KishManani this one?

It is not the most complicated of the selection transformers :p.

Please check out the develop branch and make the PR to develop as well? there is a folder: selection, with some transformers already, check DropDuplicatedFeatures(), which kind of shows which are the default checks to include in init, fit and transform.

Thank you!

[2020-10-20 15:49] #146 closed

[2020-10-20 15:56] solegalli commented on #152
@Okroshiashvili I know this is a big ask, but I'll ask anyway :)

Would you be able to help extend type_hint to the rest of the scripts?

Should we do each of the folders discretisation, encoding, imputation, outliers and selection in a different PR? Or should we do them altogether in one?

I don't think that these folders will change much in the next months so we could do in 1 PR as well. Maybe t

[2020-10-20 17:25] solegalli commented on #152
Great! that's fantastic news. Thank you so much.

Any time you can volunteer is extremely welcome. Thanks a lot.

Develop branch was merged to master, so next PR should be to master now :)

[2020-10-22 21:43] SunnyxBd commented on #136
@solegalli

I have created a PR for this issue https://github.com/solegalli/feature_engine/pull/163/commits/8dbde1490ba1da742c6efd93d2c0b6cca1224a14

TO ADD:

- more comments on my code.

- I have put the skeleton the the unit tests file, I didn't write the tests yet.

I need you to review my code to see if we are aligned before I start the unit tests.

Thank you.

[2020-10-23 10:46] Okroshiashvili commented on #152
@solegalli next PRs should be on the master branch?

[2020-10-23 11:25] solegalli commented on #152
@Okroshiashvili yes please :)

[2020-10-23 11:34] Okroshiashvili commented on #152
@solegalli I'm on my way. There will be some changes tomorrow.

Btw, I had lots of conflicts while trying to make my fork even with the current master. I decided to remove my fork of the repo and reforked it again. I do hope my past work is not lost. :)

[2020-10-23 11:50] solegalli commented on #136
Hey @SunnyxBd  thanks for the PR.

A few things to consider. This transformer's aim is to select features. Not only to shuffle them. They way it selects features is as follows:

1. trains a classifier or regressor using all features in the dataset and determines a specific metric, example roc auc, or rmse
2. takes 1 feature and shuffles it. With the dataframe that now contains a shuffled feature,

[2020-10-23 11:58] solegalli commented on #152
you passed work is merged in master. So you should be able to recover it ;). I can also see you there as one of the contributors (and I already added your name in the changelog.rst in docs, for the next release), so no stresses :)

Sorry you had problems with the fork. Look forward to the changes. Have a good day!

[2020-10-23 12:02] solegalli commented on #152
@Okroshiashvili 1 suggestion, if you don't mind, please leave reformatting the folder "selection" to the end, cause we are adding transformers there. In case it generates conflicts with other contributors. Cheers

[2020-10-23 12:05] Okroshiashvili commented on #152
@solegalli no worries about "selection" folder. I'll put it aside. Have a nice day. :)

[2020-10-23 12:18] SunnyxBd commented on #136
@solegalli Thank you for responding. Yes, this is much clearer.

[2020-10-23 13:41] Okroshiashvili commented on #152
@solegalli I'm looking at the code base and wonder if we want to standardize class docstrings? There are different styles used across modules. Do I go for it and standardize all of them? What about adopting one style of writing docstring for code?

[2020-10-23 14:41] Okroshiashvili commented on #150
See PR #164

[2020-10-23 15:02] solegalli commented on #152
@Okroshiashvili  standarization sounds good. What do you have in mind? I like the changes you made with raises / returns in the docs you already modified. What else would you standardize? if you want, give it a go, maybe add a comment with a major re-styling so I understand what is happening. Or alternatively, we can discuss the changes you have in mind before you do a lot of work?

what do you th

[2020-10-23 16:30] Okroshiashvili commented on #152
@solegalli It would be much better if we will write docstrings consistently. That means that I will modify docstring for classes as I did for methods and functions. [You can check this example](https://google.github.io/styleguide/pyguide.html#384-classes)

Will it be acceptable writing docstring for classes as I did for functions and methods?

[2020-10-24 17:00] SunnyxBd commented on #136
@solegalli

I have a question about the estimator.

Do we want the user to pick any estimator for this feature selection method? In other words, do we want to have wherever "sklearn estimator object" as input for init? ( In this case, do we accept estimators that are not from sklearn (from Statsmodels
 for example ?)

Or should it only be between random trees regressors and random tree classifiers

[2020-10-24 18:35] SunnyxBd commented on #136
Also, do we want the parameter _scoring_ to be a sklearn object or a str value?

If it is a sklearn object, we need to add tests to verify it is appropriate for the ML problem (regression or classification)

If it is a str value, we need to pre-define a list of metrics the user can choose from. I'm thinking [auc, f1_score, accuracy, precision, recall, mse, mae, r2_score]. Do you have others in min

[2020-10-26 12:45] solegalli commented on #136
Hi @SunnyxBd I am thinking that if we use sklearn cross_validate, this should handle metrics, estimator and cv  for us:
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_validate.html

metrics should be any of the sklearn perfmitted ones:
https://scikit-learn.org/stable/modules/classes.html#classification-metrics

estimators any of the sklearn accepted ones.

Cross_va

[2020-10-26 12:57] solegalli commented on #150
closed in #164

[2020-10-26 12:57] #150 closed

[2020-10-26 13:17] SunnyxBd commented on #136
@solegalli Ok for sklearn Cross_validate. I'm going to use it.

For the cross validation with feature shuffling, I'll start with averaging scores to get something working. Then, I'll focus on exploring other methods of calculating the "shuffled" score for each feature.

Thank you,
Sana

[2020-10-27 12:38] solegalli opened #167 "unify docstrings format"
Follow sklearn and imbalanced learn style

[2020-10-27 12:44] Okroshiashvili commented on #152
See PR #166

[2020-10-27 16:21] solegalli commented on #167
Stick to Numpy style with the underline and without indentation.

At the top of the dosctrings,include **explanation**, **params**, **attributes** and **methods**, plus **examples** if any? could we add the >>> to the code examples if they are not there already?

and then the docstrings for the methods themselves, with sections **args**, **raises**, and **returns**?

[2020-10-27 16:22] #156 closed

[2020-10-27 16:35] Okroshiashvili commented on #167
referencing PR #166

[2020-10-27 16:35] Okroshiashvili commented on #152
referencing PR #166

[2020-10-28 10:26] hrideshkohli opened #169 "Giving error "ValueError: Some of the variables to transform contain missing values. Check and remove those before using this transformer" in discretization"
**Describe the bug**
A clear and concise description of what the bug is.

I added EqualFrequencyDiscretiser in a pipeline, and fit it and transformed the train data however, when transforming test data, it is giving below error:
ValueError: Some of the variables to transform contain missing values. Check and remove those before using this transformer.

I already verified that there is no null valu

[2020-10-28 12:19] hrideshkohli commented on #169
Additionally, i found that when using OrdinalCategoricalEncoder, the values which are not found in the train set but they are present in test site, it simply assigns NAN to those values and hence after transformation, test set contains null values

[2020-10-28 18:11] SunnyxBd commented on #136
@solegalli

I have added two unit tests for regression.
I have also merged your PR, thank you for your contribution.

Concerning the PR, since we are using the parameter _scoring_ from sklean's _cross_validate_ method, we need to conform to the scoring str mentioned [here](https://scikit-learn.org/stable/modules/model_evaluation.html#scoring)

I believe using the scoring from the list, generalizes

[2020-10-29 10:04] solegalli commented on #136
@SunnyxBd thanks for the heads-up on the sklearn metrics. I wasn't aware that they negate. That was a very good catch.

I made a few changes and a PR to your repo. I think that would finish this transformer. Let me know otherwise or if there is anything else I missed.

Thanks a lot!

[2020-10-29 11:38] SunnyxBd commented on #136
@solegalli

Did I merge your PR?

I thought I did, but I'm not able to find your changes on my branch,.
I'm also not able to find the PR again.
Can you please verify?

[2020-10-29 16:08] #136 closed

[2020-10-29 16:17] solegalli commented on #137
@NicoGalli

this one is more complicated than correlated, but there is a template that we could use to create the transformer. See for example this:
https://github.com/solegalli/feature_engine/blob/master/feature_engine/selection/shuffle_features.py

The idea is:

for feature in X.variables:
 (so feature per feature)

train a machine learning model using the cross_validate function from sklearn:
h

[2020-10-29 16:26] solegalli commented on #134
Hey @SunnyxBd

If you had fun creating the shuffle feature selector and could spare a bit more of your valuable time, would you fancy trying to create this transformer?

Logic is as follows:

trains a model that has feature_importance or coeffs attributes (we need to check this with the hasattributes or something like this). It uses all features to train this model.

stores initial performance

De

[2020-10-29 16:32] solegalli commented on #169
Hi @hrideshkohli

It is a known issue that labels present in the test set and not in the train set are hard to handle. The transformer did not learn a mapping for that label and thus assigns NaN.

2 ways to go about it: remove infrequent / potentially new labels with the RareLabelEncoder, or encode using OneHotEncoder of frequent categories.

Regarding the discretiser, can it be that NaN are intro

[2020-10-29 16:33] SunnyxBd commented on #134
This sound fun! @solegalli

I'll start working on it soon and create an early PR so we can discuss progress similarly to the ShuffleFeatureSelector issue.

Cheers,
Sana

[2020-10-29 20:35] NicoGalli commented on #137
OK @solegalli I will give it a try. Would you please assign the issue to me?
Thanks,
N.-

[2020-11-01 19:56] Okroshiashvili commented on #152
see PR #171

[2020-11-02 10:30] SunnyxBd commented on #134
@solegalli

I started working on this issue.

For the feature importance part with cross_validation, here's one method for getting the feature importance list

let's say cv = 3.
We will have three models.
Eah model has its own feature importance
let's say:
model1 has [f1,f2,f3]
model2 has [f2,f1,f3]
model3 has [f1,f2,f3]

One way of selecting an aggregated ordered list of feature importance is to

[2020-11-02 15:27] solegalli commented on #134
Not too sure I follow the logic. Can we not get the mean importance of eacf feature by the 3 models?
If we capture importance in a pandas series, then we can concatenate the series in a dataframe, and get the mean importance per feature. And we order using that?

Is this what you are suggesting?
Cheers

[2020-11-06 11:22] GabrielSGoncalves opened #174 "New tranformer for square root"
Hi Soledad,

First of all, congrats on the incredible work you've been doing for the community!
I'm finishing your course on feature engineering and started using feature_engine on my projects.

I just realized that a square root transformer is not available for the transformation module.

If you want I can implement it and submit a PR.

Att,

Gabriel

[2020-11-06 12:00] solegalli commented on #174
Hi @GabrielSGoncalves , thank you so much for your engagement. I am really happy to hear that you found the package useful.

We can apply the root square transformation with the exponential transformer passing an exponent of 1/2.  Did you try that out?

Cheers

Sole

[2020-11-06 12:54] GabrielSGoncalves commented on #174
That's right!

I'll try it.

Thanks

[2020-11-09 21:15] neomatrix369 commented on #148
Replying to your queries in between the commented lines:

Maybe a `fit_transform()` function might help as NLP Profiler does not train (or do any training like action) - applies libraries directly on the data (the libraries internally may be inferring using it's own model(s))

Many of the features that NLP Profiler already generates from text data (we can pick and choose relevant ones in the begin

[2020-11-13 13:25] #134 closed

[2020-11-14 15:00] #137 closed

[2020-11-14 15:01] #174 closed

[2020-11-14 15:37] solegalli opened #176 "variable maipulation functions should be able to take strings"
At the moment, our transformers work only with dataframes which column names are strings. But many of the dataframes in sklearn have integers as names of the columns.

We need to make sure that our transformers can operate on these dataframes as well, and as they would on dataframes where columns are strings. If this is not possible, then we need to fix our variable manipulation functions.

[2020-11-16 14:59] NicoGalli commented on #68
@solegalli would you please assign this one to me?
Thanks,
N.-

[2020-11-16 15:03] solegalli commented on #68
assigned :p

[2020-11-17 08:48] solegalli opened #178 "make transformers compatible with check_estimator from sklearn"
With the idea of making feature-engine part of sklearn contrib, we need to make our transformers pass the test check_estimator.

There are a number of modifications that we need, 1 is being able to take other data types apart from dataframes, and the init params should be assigned directly, without modification. So we need to move some transformations that currently take place in init to the fit m

[2020-11-17 08:48] solegalli commented on #176
This issue has been taken care of

[2020-11-17 09:21] solegalli commented on #135
@SunnyxBd if you are interested and could spare some time, it would be great to have you on board for this one.

It is very similar to the recursive feature elimination you created, but it goes the other way around:

- sorts feature from most important to least important
- trains a model with the most important feature (just the one feature)
- recursively adds features and selects them if the incr

[2020-11-17 10:28] SunnyxBd commented on #135
Hey @solegalli

Thank you for this suggestion.
I was going to ask what to work on next!

I have some deadlines to finish this week which is why I can't promise I'll time this week.

I'll start working on this one next week, if that is alright with you.
I should be able to finish it quickly also.

[2020-11-17 10:40] solegalli commented on #135
That is wonderful news @SunnyxBd thank you so much.

Would you like me to add you as a contributor to the repo? this way you wont need to work over fork and can push directly here.

Master and deployment branches are protected, so no risk there. Only thing, never to merge without having someone review and approve the changes first.

Let me know.

Cheers
Sole

[2020-11-17 10:48] SunnyxBd commented on #135
Please do, this is amazing. @solegalli
And thank you a lot for your trust and guidance throughout this journey.

[2020-11-17 11:04] solegalli commented on #135
Likewise!

[2020-11-22 11:49] #176 closed

[2020-11-22 11:51] solegalli commented on #152
#177 closes most of this issue. Only remains rolling out type hint in selection folder

[2020-11-22 11:51] #152 closed

[2020-11-22 13:25] mobin102 commented on #61
Hello @solegalli
Can I work on this one?

[2020-11-22 16:10] solegalli commented on #61
You certainly can @mobin102

We need to use datasets that have an open source license (free to use, share and modify even commercially).

We should not upload a csv file with data to the repo. Maybe it is a good solution, as much as possible, to use the datasets that already come baked into sklearn and imbalanced-learn. If not possible, add in the notebook, guidelines for the user to download the

[2020-11-23 04:52] mobin102 commented on #61
Thanks. I'll get started on this.

[2020-11-26 09:15] solegalli opened #183 "imputation: complete case analysis - drop observations with na"
We need a transformer that would drop observations from the train / test set if they have na, in any or a subset of variables, as specified by the user.

Transformer works for both categorical and numerical variables

Useful to catch errors when deployed if na values appear.

Transformer is a bit dangerous, when deployed, because it will not allow users to know when variables come with na. Need to

[2020-11-27 11:23] solegalli commented on #138
#181 closed

[2020-11-27 11:23] #138 closed

[2020-11-27 16:37] solegalli commented on #107
I've just read in the article, that they add the features discretised as additional features to the dataset instead of replacing the existing ones. So we can expand the decision tree discretiser to return the additional features instead of re-writing the original ones.
Probably we can combine this with the above in 1 class.

[2020-11-28 12:38] pgschr opened #185 "Question about performance"
Your library is very cool, but do you have information about performance? For example, how long will it take to _MeanMedianImputer_ process a one million rows dataset? Can I run that on a laptop or I need to go to the cloud? What about processing in parallel? Thanks.

[2020-12-05 07:24] ashok49473 commented on #59
Hello @solegalli
would you please assign this one to me?

[2020-12-05 12:09] solegalli commented on #59
Hi @ashok49473 yes, that would be great.

Note that in master we have the latest version of the package that we have not yet released. So the notebooks should be improved / updated with that version.

You will need to clone the repo and install the package in developer mode:
https://feature-engine.readthedocs.io/en/latest/contributing/github_quick_start.html

[2020-12-05 12:10] solegalli commented on #160
Hi @Tejash-Shah, why did you close this issue?

[2020-12-05 12:52] solegalli opened #189 "automate detection of classifier and regressor for tree based transformers"
At the moment, in the categorical tree encoder and the tree discretiser, we have an argument is_regression that the user needs to fill in in order to detect if the user is aiming to perform classification or regression.

Sklearn has an automated process with the is_classification (see Decision tree source code).

Can we bring this functionality to feature-engine?

I think we can :p

[2020-12-06 05:03] Tejash-Shah commented on #160
Hi @solegalli, there was no update on this issue for a long time so thought to close it. Let me know if you want to reopen it.

[2020-12-06 16:47] solegalli commented on #160
We are focusing on improving code, docs and including feature selection transformers for the next release in a few weeks.

We will pick this up at some point :p

I don't see why we should close ideas / suggestions without having a proper look :)

Sorry for not coming back earlier and thanks for the patience. I would re-open.

[2020-12-06 23:52] Tejash-Shah commented on #160
No worries, re-opening :)

[2020-12-07 08:01] solegalli commented on #185
Hey @pgschr this is a very important question, and we get it a lot. We should measure it. At the moment, we are focusing our strength on the next release, improving code, docs and adding feature selection.

We will pick this one up later.

Thank you!

[2020-12-07 08:02] solegalli opened #190 "sphinx-gallery"
set up sphinx-gallery with tutorials and examples

https://sphinx-gallery.github.io/stable/index.html

[2020-12-07 10:08] solegalli opened #191 "one hot encoder has the option to automatically drop the second binary variable for binary categorical variables"
We need to add one parameter to the init method of the one hot encoder, called for example automate_drop_last_binary that when True, will automatically return 1 binary variable if the original variable was binary.

Details:
- automate_drop_last_binary should default to False not to break backwards compatibility
- automate_drop_last_binary would only work for binary variables
- automate_drop_last_b

[2020-12-07 14:19] solegalli opened #192 "unify feature selectors attributes"
At the moment, half of the feature selectors operate based on dropping unwanted features, and the other half based on retaining wanted features.

I can't decide if it would be worth to unify them one way or another.

[2020-12-07 17:10] pgschr commented on #185
Sole, this goes hand in hand with production readiness. Can we make sure that the library doesn't throw strange errors when used under stress?

[2020-12-07 19:40] ChristopherGS commented on #185
@pgschr what sort of strange errors are you referring to?

Re: performance, what benchmark do you suggest? Naturally, this depends on the hardware used.

[2020-12-07 20:19] pgschr commented on #185
@ChristopherGS One of my use cases is to take 100 million rows and populate in missing values the average or the value most used. How many cores and how much memory you need to run this in 10 minutes? Also, what if you need to run the process this on 100 features?
Example of strange errors happen when there are parallel process that concurrently make calculations.

[2020-12-08 08:55] solegalli commented on #185
@pgschr by any chance, did you test this?

Sounds like you are in a good position to test speed of feature-engine on your dataset, and maybe even compare with the transformers from scikit-learn? .i.e., compare speed of MeanMedianImputer of feature-engine vs SimpleImputer from sklearn?

That would be very helpful.

[2020-12-09 10:02] solegalli opened #194 "jupyter notebook tests"
Can we add tests for the code in the jupyter notebooks? I heard we can in a pydata cambrdige talk from a contributor to NumPy.

[2020-12-09 10:04] solegalli opened #195 "test code in rst files"
for each transformer, and also in the quickstart we have code in rst files. I would like to introduce tests, so when we make changes, the tests would highlight if something is broken and needs fixing. At the moment, we need to manually check.

This will get worse when we add more complicated tutorials on rst files.

[2020-12-09 11:59] solegalli commented on #59
worked done here #193

[2020-12-09 14:11] #59 closed

[2020-12-10 10:15] ashok49473 commented on #60
Hi @solegalli mam, Can I work on this?

[2020-12-10 10:57] solegalli commented on #60
Hi @ashok49473  absolutely, thanks a lot for your support!

[2020-12-12 22:35] alex-treebeard commented on #194
heya, i'm just shooting through issues on notebook testing as i've released [nbmake 0.1](https://github.com/treebeardtech/nbmake) -- be sure to leave feedback

[2020-12-14 09:20] solegalli commented on #194
Thanks for the suggestion. Will have a look when we pick this one up. Cheers.

[2020-12-14 09:21] solegalli commented on #185
Dask is not integrated. And it is not on the roadmap atm. Will consider when we do the speed tests.
Cheers
Sole

[2020-12-14 14:33] #135 closed

[2020-12-14 15:04] #167 closed

[2020-12-16 17:12] solegalli commented on #65
#198 included here

[2020-12-17 13:53] solegalli commented on #192
Just noticed that many selectors create the feature selection list starting from an empty list, so if some other variables are in the dataset, like categorical ones, those would be accidentally dropped :/

Need to fix this

[2020-12-17 18:29] #192 closed

[2020-12-18 07:38] pradumna123 commented on #183
I would Like to work on it, Can you please assign it to me

[2020-12-18 07:39] pradumna123 commented on #62
Can you please elaborate on this?
Is there anything specific you want to be added?

[2020-12-18 07:52] pradumna123 commented on #58
Can you assign this to me ?

[2020-12-18 09:38] solegalli commented on #58
Hi @pradumna123 thanks for your support. I saw that you left messages in 3 different issues. Maybe we can start by this one?

We are soon to launch a new release of feature-engine, and we changed a bit the way we do the imports and also the parameter names of some of the imputers.

So the idea for this issue, is to:
- separate each imputer in a different notebook which would take the imputer's nam

[2020-12-18 09:41] solegalli commented on #62
@pradumna123

We are soon to launch a new release of feature-engine, and we changed a bit the way we do the imports.

So the idea for this issue, is to:

 - separate each transformer in a different notebook which would take thetransformer's name
 -  try and show case all the functionality of each transformer, for example for the LofTransformer, transform by natural log and log 10.
 - fix the impor

[2020-12-18 09:41] solegalli commented on #183
@pradumna123 you certainly can, just make a PR. But the notebooks have priority at this point. So it would be super helpful if you could start with those first.
Cheers
Sole

[2020-12-18 09:44] pradumna123 commented on #58
So we will have a file for every imputer.
 Do we have a list of all such imputers.
The documentation shows 6. If I am not wrong

[2020-12-18 09:45] solegalli commented on #58
https://github.com/solegalli/feature_engine/blob/master/feature_engine/imputation/__init__.py

[2020-12-18 09:46] pradumna123 commented on #58
Cool thank you

[2020-12-18 09:47] solegalli commented on #58
If you enter into each imputer .py file, you will see the docstrings with the new information (if anything changed). Thanks a lot!

[2020-12-18 10:28] #115 closed

[2020-12-21 16:01] #60 closed

[2020-12-21 16:01] #65 closed

[2020-12-21 16:02] solegalli commented on #65
#203

[2020-12-21 16:03] solegalli commented on #60
#203

[2020-12-27 01:10] pradumna123 commented on #183
Can you please elaborate on this?

[2020-12-29 10:05] solegalli commented on #62
@pradumna123 wondered if you could pick this one up? that would be great help :)

[2020-12-29 10:09] solegalli commented on #61
@ashok49473 wondered if you would be interested in picking this one up?

Apart from separating the transformers into individual notebooks, we need to add a notebook for the outlier trimmer, which is new.

[2020-12-29 10:16] solegalli commented on #183
- use pandas.dropna to drop missing values in variables
- parameters variables to allow users to select variables for imputation. If None, transformer will select all variables
- parameter missing_only to indicate if imputer should drop na in all variables, or only in those which presented na in the train set
- fit method learns the variables with na if missing_only=true, alternatively, just makes

[2020-12-29 10:20] solegalli opened #205 "add jupyter notebook examples for the creation transformer"
Create a folder within the example folder, called creation. At the moment there is only one transformer in this folder, so we need only 1 notebook, for the MathematicalCombination that showcases its functionality.

[2020-12-29 10:22] solegalli opened #206 "add jupyter notebook examples for the SklearnTransformerWrapper"
At the moment there is only 1 notebook showing how to wrap the one hot encoder, simple imputer and standard scaler from sklearn. I would like to separate each one of these in an individual notebook.

In addition, I would like to add notebooks demonstrating how to wrap for example the PowerTransformer, the FunctionTransformer and the Feature selection methods.

[2020-12-29 10:28] solegalli opened #207 "create notebooks with pipeline examples, within pipeline folder"
The idea here is to create several notebooks showcasing different pipelines for different datasets, to kind of provide an idea of how simple and tidy it is to use Feature-engine transformers, particularly looking forward to deployment.

[2020-12-29 10:36] solegalli opened #208 "add jupyter notebooks for feature selection"
Within the examples/selection folder, we need to add 1 notebook per new transformer showcasing the functionality of each.

- We need to find suitable data sets, 1 for regression and 1 for classification. Then we can get inspiration from the notebooks I already created for the course. Link to be added soon.
- For DropDuplicates, constant and correlated, we could create toy datasets. For the smart c

[2020-12-31 05:45] pradumna123 commented on #160
Can you elaborate on this?

[2020-12-31 05:46] pradumna123 commented on #62
Give me a few days will finish it

[2020-12-31 05:47] pradumna123 commented on #62
we are talking about boxcox, log, etc transformers, right?

[2020-12-31 10:42] GLevV commented on #84
It will look something like this

`from itertools import combinations`
`class FeatureCombiner(cols, level=2):`
`self.cols = cols`
`self.level = level`

`def fit(X)` # need X only to check cols avaliability
`while self.level != 1:`
`    feature_comb_list = [(x, y) for x, y in combinations(self.cols, self.level)]`
`    level -= 1`

`def transform(X):`
`df = X.copy()`
`for pair in feature_comb_list:

[2020-12-31 10:57] solegalli commented on #62
yes, those ones :)

[2020-12-31 14:38] pradumna123 opened #210 "How to contribute page is not working"
https://feature-engine.readthedocs.io/en/latest/contributing/index.html

[2020-12-31 15:46] solegalli commented on #210
@pradumna123  try this:
https://feature-engine.readthedocs.io/en/latest/contribute/index.html

[2020-12-31 15:50] #210 closed

[2020-12-31 15:55] pradumna123 opened #211 "Transformation transformers like BoxCoxTransformer need the numerical variable to have no NA value."
**Describe the bug**

Transformation transformers like BoxCoxTransformer need the numerical variable to have no NA value.
the fit method throws an error "NA values encountered" if the training dataset has NA values.
Now if we impute the training dataset with a random number and skip imputing test data. The transform method from BoxCoxTransformer changes the test data and train data without any err

[2021-01-01 12:23] solegalli commented on #211
Hi @pradumna123

I just checked the source code, and it has a check for na in both fit and transform methos, so it should raise an error in transform as well. In fact, the tests do check that an error is raised when na are present in the data when fit or transform. So I am not sure I understand the problem.

Could you copy and paste, attach or link the notebook / code that you are referring to? or

[2021-01-06 10:17] katiewerner opened #217 "Major Issues Importing the Functions"
The website has changed all of the code examples.  When I have updated the installation and the code to match the examples, I get all kind of errors.   Could be user error, but I've tried all I can think of.

This (taken from the new website info):
    from feature_engine.imputation import CategoricalImputer
Gives:
    ModuleNotFoundError:  No module named 'feature_engine.imputation'

After going

[2021-01-06 11:08] solegalli commented on #217
did you check that you have feature_engine version 1 installed?

if you do
[code]

what do you see? should be 1.0.0

[2021-01-06 11:18] #217 closed

[2021-01-06 11:19] katiewerner commented on #217
OK, I feel like a total loser but what happened was is that I needed to shut it all down and re-open.  While I had downloaded the new version, it was confused but now seems to be pulling the correct info.  Sorry to waste your time!

[2021-01-06 11:34] solegalli commented on #217
No problem at all! We are here to help :)

Glad you got it sorted.

[2021-01-06 16:44] #211 closed

[2021-01-06 16:45] pradumna123 commented on #160
Are we doing this?

[2021-01-06 17:31] solegalli commented on #160
I have not yet had time to read the paper. So I am not deeply familiar with what this request is about, or what the transformation is intended to do.

There are other issues that have priority at the moment. We can pick this one up later in the year?

[2021-01-06 18:08] Tejash-Shah commented on #160
Sorry, been occupied with other tasks.  Since vanilla target encoder is prone to overfitting I want to suggest ```MEstimateEncoder``` which takes into consideration prior and posterior probabilities. There is only one hyperparameter that tells how much focus we should put on the posterior and prior probabilities. In the case of high cardinality or even category with low samples, target encoding ov

[2021-01-06 18:44] #62 closed

[2021-01-06 18:46] solegalli commented on #58
closed in #209

[2021-01-06 18:46] #58 closed

[2021-01-06 18:51] pradumna123 commented on #68
Is this still open?

[2021-01-06 23:10] solegalli commented on #68
it is still open.

@NicoGalli was planning to work on it. @pradumna123 you are welcome to make a contribution, you can work on it together.

Cheers

[2021-01-06 23:12] solegalli commented on #67
@pradumna123 this one is also still pending in case you are interested :)

[2021-01-06 23:14] pradumna123 commented on #67
Sounds good can work on this one.

[2021-01-08 19:47] NicoGalli commented on #68
Just a head ups. The transformer is finished. I am starting to work on testing cases this weekend.

[2021-01-09 03:13] pradumna123 commented on #68
Thank you for the update

[2021-01-10 22:12] pradumna123 commented on #67
The transformer accepts a datetime variable from dataframe and will create additional columns for days of week , month etc.
And if the user enters 5 datetime and selects a combination of 4 new variables like week day month we will return a dataframe with 20 additional columns right?

[2021-01-10 22:38] Elamraoui-Sohayb commented on #205
Hi @solegalli , i'm new to open source contributions. Can i work on this?

[2021-01-11 10:56] solegalli commented on #205
Hi @Elamraoui-Sohayb thanks for reaching out.

Yes, that would be actually very helpful.

The idea for this PR, is to create a folder called "creation" within the "examples" folder in the repo, where we host notebooks with demos on how to use the transformers. And there make 1 jupyter notebook, showcasing the functionality of the MathematicalCombination.

Let me know if you need anything else :)

[2021-01-11 10:58] solegalli commented on #67
yes, that is correct. There is a PR #111 for this issue already, but the code is a bit old. Not sure you want to start from scratch or use this as a base?

Maybe browse at my comments there?

thanks a lot

[2021-01-11 19:41] Elamraoui-Sohayb commented on #205
Thanks @solegalli  for the explanation.
Is it required to use the Ames House Prices dataset or can we choose different one?

[2021-01-11 23:40] Elamraoui-Sohayb opened #223 "Pipline example not using the correct imports and class names"
The current Pipline example in the master branche isn't using the correct imports and class names [Here](https://github.com/solegalli/feature_engine/blob/master/examples/Pipelines/feature-engine-with-sklearn-pipeline.ipynb)

Updating to this works fine:
[code]

[2021-01-12 12:20] solegalli commented on #205
You can certainly use a different dataset, but there are a few conditions: the dataset needs to be part of a renown open source package, like scikit-learn, or be available with a license that states that it is free to use. So for example, most of Kaggle datasets do not qualify. But we can use most of those in the UCI machine learning repository.

For simplicity, I suggest you use one from sklearn,

[2021-01-12 12:23] solegalli commented on #223
Yes, I am aware. Issue #207 and PR #219 are taking care of this. The particular example you mention in this thread is already modified in #219. But I would like to add a few more example pipelines before merging.

If you have a pipeline with a different dataset (with a suitable license), maybe you could contribute it to the PR?

[2021-01-12 12:57] #183 closed

[2021-01-15 13:25] #205 closed

[2021-01-22 00:13] #68 closed

[2021-01-23 00:47] solegalli opened #227 "expand tests selection by target mean performance"
the tests available right now are a bit high level. It does not test internal functionality, for example, the calculation of the performances. It does not test threshold defaulting to None. And also, it does not test when we pass a subset of categories to the selector.

[2021-01-24 01:55] hectorpatino opened #230 "Ciclycal Features."
Hi @solegalli, I was practicing on kaggle the cat_on_dat_II challenge and I found that some features may be ciclycal, it was the first time I read that term. So according to  [this blog](http://blog.davidkaleko.com/feature-engineering-cyclical-features.html#:~:text=Hours%20of%20the%20day%2C%20days,each%20other%20and%20not%20far.) It is a way to treat some numerical variables when the max number of

[2021-01-25 12:29] solegalli commented on #230
Hi @hectorpatino curiously, I also saw a Kaggle notebook last week that worked with cyclical features and took a mental note to have a look at some point.

Happy for you to give it a go. I link here a couple of Kaggle notebooks for reference. Do you know of any article that discusses this encoding?

Not sure in which folder to add this transformer. I don't think it belongs to transformation, maybe

[2021-01-25 18:49] hectorpatino commented on #230
Well @solegalli I haven't do a serious research about it, but I will check your links and look some academical papers.
I think the folder should be transformation as there are Log, Reciprocal and other mathematical transformations. In this case any variable will be mapped into 2 new features being: var_sin, var_cos. So according to this, I think it is the best option.

[2021-01-26 13:15] solegalli commented on #230
great. If you would like to give it a go, make a PR with some code and we take it from there. Probably the easiest would be to take the skeleton of the other transformers as template. Cheers

[2021-01-26 17:07] Sandy4321 opened #231 "where is it in code CombineWithReferenceFeatures"
Please let us know if you think there is information missing, or how else we can improve the documentation from Feature-engine.

where is it in code
CombineWithReferenceFeatures
as written
New transformers
CombineWithReferenceFeatures: applies mathematical operations between a group of variables and reference variables (by Nicolas Galli)

DropMissingData: removes missing observations from a datase

[2021-01-26 17:47] solegalli commented on #231
https://feature-engine.readthedocs.io/en/latest/creation/CombineWithReferenceFeature.html

[2021-01-26 18:53] Sandy4321 commented on #231
thanks
long time ago I asked you about many features interactions
for example
given 20 categorical features
create all
3 features interactions
sounds simple
but you still can not do it?

[2021-01-27 11:16] #231 closed

[2021-01-27 14:58] GLevV opened #232 "Is it possible to generalize PRatioEncoder as VarEncoder?"
To encode categories PRE uses formula
p(1)/p(0)
and only suitable for y~Ber (classification).

But here is an idea: variance of Bernoulli distributed X is equal p(1)*p(0), which is close and should be correlated to the first formula. Computing variance should also allow PRE to be used in regression tasks (when y is not {0,1}) and also opens door to adding options for different variance measures, l

[2021-01-31 20:27] solegalli opened #233 "allow MathematicalCombination to take in null values"
introduce parameter to be able to select whether to ignore or raise the missing values

[2021-02-01 13:07] solegalli commented on #232
Hi @GLevV thanks for the idea.

Could you add a link to an article or blog or demo where something like this is used? or some more information about the math underlying your suggestion and why this would add value to the encoding of variables? where was this technique used?

Thank you!

[2021-02-06 01:08] pradumna123 commented on #207
Hello, Is this still available?

[2021-02-06 12:29] solegalli commented on #207
Yes, we have PR #219 with a new pipeline for the house prices dataset, and we are looking to add more pipelines using different feature engineering techniques on different datasets. So if you have an idea of a new pipeline, please add a notebook to this PR :)))))

[2021-02-08 12:03] #232 closed

[2021-02-25 04:09] ashok49473 commented on #61
hello @solegalli mam,
Is this still available? I want to work on this one.

[2021-02-27 11:53] solegalli commented on #61
go for it @ashok49473

[2021-03-01 02:40] ashok49473 commented on #61
I guess Winsorizer and OutlierTrimmer have the same functionality.

[2021-03-01 10:17] solegalli opened #236 "allow feature selectors to take in other types of cross-validation functions"
At the moment the following selector classes:

- [recursive feature addition](https://github.com/solegalli/feature_engine/blob/master/feature_engine/selection/recursive_feature_addition.py)
- [recursive feature elimination ](https://github.com/solegalli/feature_engine/blob/master/feature_engine/selection/recursive_feature_elimination.py)
- [SelectBySingleFeaturePerformance](https://github.com/sole

[2021-03-01 11:55] solegalli commented on #61
they don't. I added a note on this in the PR review. Thank you!

[2021-03-04 14:08] solegalli commented on #61
resolved by @ashok49473 in #235

[2021-03-04 14:08] #61 closed

[2021-03-06 13:07] ashok49473 opened #237 "add feature scaling transformers"
Whenever I want to scale some numerical features I'm always importing transformers from sklearn. preprocessing.
We know that the sklearn transformers don't take our required variable names to scale (like feature engine) and they don't return a data frame. It becomes somewhat frustrating when using a Pipeline to preprocess the data as the next transformer may need a data frame to transform the vari

[2021-03-06 13:20] slashtea commented on #208
Hello,

If this issue is still available I'll be working  on it.

[2021-03-06 13:24] ashok49473 commented on #237
@solegalli
please let me know if this functionality already exists..

[2021-03-07 14:02] ashok49473 commented on #206
Hello @solegalli mam,
Assign this one to me.

[2021-03-08 06:58] solegalli commented on #206
Sure! Thank you!

[2021-03-08 07:00] solegalli commented on #237
Hi @ashok49473

The idea is to use the scalers wrapped by the SklearnTransformerWrapper, so that 1) it returns a dataframe, and 2) we can select the variables to scale if we want to.

https://feature-engine.readthedocs.io/en/latest/wrappers/Wrapper.html

In fact, I can see you volunteered to create pipelines for the SklearnTransformerWrapper, so maybe you could include some examples with the scale

[2021-03-08 07:02] solegalli commented on #206
The idea here is to create several notebooks more or less like this:

- one notebook with imputation (simple imputer and iterative imputer)
- one notebook with some of the scalers
- one notebook with one hot encoder and ordinal encoder
- one notebook with kbinsdiscretizer
- one notebook with some of the selectors (selectKbest, selectpercentile)

Would that be ok?

[2021-03-08 07:03] solegalli commented on #208
Hi @slashtea

Yes, it is still available. I think there are some example notebooks that need to be polished, and some that need to be created from scratch. Give it a go, and I chip in whenever needed to :)

Thanks a lot!

[2021-03-08 08:57] ashok49473 commented on #206
Ok, I'll get started on this

[2021-03-15 15:51] vbabashov opened #238 "Very URGENT: SelectByTargetMeanPerformance() Value Error"
This function throws the following

 **Value Error: Input contains NaN, infinity or a value too large ford type('float64').** None of these seem to be the case.

selector = SelectByTargetMeanPerformance(
    variables=categorical, # the variables to examine
    scoring='r2_score', # the metric to use for the performance evaluation
    threshold=0.1, # the minimum performance threshold for a variab

[2021-03-15 16:42] solegalli commented on #238
Hi @vbabashov

This error comes up when Nan are introduced automatically when encoding the features with the target mean. There are 2 possible sources that introduce NaN:

1. There are rare categories in the categorical variables, usually, categories in the part of the dataset that is used as test that are not present in the test set
2. The numerical variables are very skewed, so that when they ar

[2021-03-16 04:24] ashok49473 commented on #206
Hello @solegalli mam,
SklearnTransformerWrapper is giving some error with the SelectKBest transformer.
Please help!
![Screenshot (36)](https://user-images.githubusercontent.com/73692009/111255682-8fe1d080-863d-11eb-9954-e5eb5f5a2dd0.png)

[2021-03-16 08:32] solegalli commented on #206
can you try passing a list to the argument variables instead of X_train.columns and see if that resolves the issue?

If not, please upload the code that is giving the error in a PR referencing this issue

thank you! @ashok49473

[2021-03-22 19:09] vbabashov commented on #238
Thanks for the response. I think it has to do with the 1st point. No success yet! The issue is that there are many features. It's not obvious what variables are causing them. I'm using the Ames, Iowa housing dataset. It's one or more of the features that cause the problem.

[2021-03-23 07:31] solegalli commented on #238
I add a note here to think how we can improve this transformer to return which variables are causing the problem, and which the problem is.

[2021-03-31 21:24] AgustinFi commented on #233
Hi @solegalli
I have time to work on this request.

[2021-04-01 00:56] indymnv opened #240 "one test fail using tox"
I forked the project and follow the instructions on the README to collaborate, almost all tests passed but it fails with a specific test in test_outliers folder with test_winsorizer.py. Here is the error message:

[code]

I use Python 3.7 and windows 10

[2021-04-01 06:31] solegalli commented on #240
Hi @indymnv

Thanks for the interest. I am aware of this issue. It occurs because we use way to many decimals in the tests. We should round those values to 3.

We are fixing those as they come along. That means, every time a contributor has a problem with this test, we fix it in the same PR.

Alternatively, we could make a PR just to fix this across all tests.

Were you interested in any particula

[2021-04-01 06:33] solegalli commented on #233
That's great! Thanks!.

If you want, go ahead and make a PR with the suggested changes.

Cheers
Sole

[2021-04-01 09:38] indymnv commented on #240
Well, I am a newbie in this, but I'd love to help with this project. if you want I will do a PR with all the tests. or if you have another issue just let me know.

[2021-04-01 10:20] solegalli commented on #240
Awesome!! thanks!

This issue is actually an easy one, if you want to start with it.

You would basically need to go over all tests, and when we compare long numbers like the one in your error, you would have to replace the line of code by  something like this:

https://github.com/solegalli/feature_engine/blob/master/tests/test_outliers/test_winsorizer.py#L141

This file has a lot of those:
https:

[2021-04-01 11:52] indymnv commented on #240
Perfect, I will check this out.

[2021-04-04 20:44] #240 closed

[2021-04-09 06:53] solegalli commented on #237
add an example with scalers in the rst file

[2021-04-11 17:46] AgustinFi commented on #227
Hi @solegalli,

I saw several RFE regarding measuring performance.
I was thinking about starting with a POC using pytest-benchmark. Is someone else working on something similar?

[2021-04-11 21:14] indymnv opened #244 "One hot encoder using another criteria instead of frequency in top categories"
I did not check papers about it, but in one project, I wanted to use OHE and ordinal encoding to take top categories but not by frequency, at that time, it was the top of the categories with the best sales. Because for that specific problem, not necessarily the more relevant categories I wanted to select had the highest frequency. If you think about it, sometimes you want to select the top categor

[2021-04-12 07:51] solegalli commented on #227
Hi @AgustinFi

I think performance in this issue means  the performance of the model based on the encoded feature. Not computational performance. Is this what you had in mind?

We have not considered pytest-benchmark yet. Not sure this is a priority?
@ChristopherGS

[2021-04-12 07:57] solegalli commented on #244
Hi @indymnv

Haven't used this before. Sounds sensible. I would not add a parameter in the existing classes though. I would instead create a new class that maybe can do both OHE or ordinal encoding based on frequencies from other reference variable.

If happy with that, feel free to give it a go.

Cheers

[2021-04-12 14:27] #223 closed

[2021-04-12 14:27] #207 closed

[2021-04-12 16:16] #206 closed

[2021-04-12 16:16] #237 closed

[2021-04-13 10:27] indymnv commented on #244
Hi @solegalli

Well, the idea was just born for a specific problem I tried to solve. Perhaps I will check more about this possibility or hear more people's opinion before building a function or class may be too specific. Let me know if you have another idea.
I am going to pick up another issue on the list.

Let me know if you have another idea.

Kind regards.

[2021-04-13 10:37] indymnv commented on #189
Hi @solegalli

This problem looks interesting, is still available? I would like to get more details about it. :)

kind regards.

[2021-04-13 11:46] solegalli commented on #189
Hi @indymnv

At the moment, the classes in feature-engine take a parameter for the user to indicate if if is a regression or classification algorithm. But sklearn has functionality to do this automatically.

This, my idea is to remove this parameter from the classes and instead use sklearn functions is_classifier and is_regressor, to detect this automatically:
https://github.com/scikit-learn/sciki

[2021-04-13 11:49] solegalli commented on #244
Sounds good. Let's see if there is interest in this issue. We can always come back to it.

[2021-04-19 07:07] solegalli opened #248 "add inverse_transform method to variable transformer classes"
Add to the log, power and reciprocal transformers (https://github.com/solegalli/feature_engine/tree/master/feature_engine/transformation) an inverse_transform method that performs the inverse operation.

So for log it would be exp, for exp it would be log, for 1/x it would be 1/x

BoxCox and Yeojohnson, would continue without the inverse_transform. Not sure these operations can be reversed.

[2021-04-21 10:29] #233 closed

[2021-04-22 09:04] solegalli opened #250 "add comparison table to categorical encoding, highlighting multiclass suitability"
Add a table comparing the techniques, like the one we have in the selection tab, where we highlight the main characteristics of each technique, and indicate if it is suitable for multiclass or not.

Example, weight of evidence is for binary classification, but encoding with trees, can be performed on both.

Also, if it is suitable for continuous target or not, example WoE only binary, but count en

[2021-04-22 09:06] solegalli opened #251 "caiman for discretization"
should we make this discretization technique part of feature engine?
https://github.com/airysen/caimcaim

Need to look for some references as well

[2021-04-22 09:07] solegalli opened #252 "1-2 minute videos showing how to use a class in youtube"
Would these be useful?

[2021-04-23 07:15] solegalli opened #253 "should we make sample_weight part of fit?"
Some sklearn transformers have an extra parameter in fit, the sample_weight, to tackle imbalanced datasets.

Should we make this part of feature_engine?

Example: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

Need to think if it is useful for most transformers, or alternatively, for which transformers it makes sense

Also, need to have an idea of how

[2021-04-25 08:42] #230 closed

[2021-05-01 07:35] solegalli opened #255 "add more detail about use of black and flake8 ind docs contrib section"
Add more details regarding how to use black and flake8 to check for style in the contribution section of the docs.

[2021-05-10 16:44] solegalli opened #257 "remove self.input_shape which will be replaced by n_features_in"

[2021-05-10 16:44] solegalli commented on #257
see #256

[2021-05-10 21:48] solegalli opened #258 "add automatic linting to circle ci"

[2021-05-11 04:49] bitsbuffer opened #259 "modify _find_or_check_categorical_variables to support dtype='category'"
**Is your feature request related to a problem? Please describe.**
Currently, _find_or_check_categorical_variables in variable_manipulation.py only checks for type object to determine categorical variables.

**Describe the solution you'd like**
The method should be enhanced to support dtype="category" to support cases where user has used category datatype to optimise memory footprint of Pandas dat

[2021-05-11 14:22] bitsbuffer commented on #259
@solegalli I can work on this and create a PR. Is that ok ?

[2021-05-11 15:14] solegalli commented on #259
that would be wonderful :) @bitsbuffer

[2021-05-25 02:10] datacubeR commented on #259
I will deeply appreciate this PR to be done since it is becoming very common to work with categories instead of objects in Pandas and OneHotEncoder is showing a very annoying error. I had a very hard time finding why OneHotEncoder (and probably other encoders) is raising the error because documentation refers to inputs as categorical variables when it should be referring to objects type.

Even dec

[2021-05-25 12:26] bitsbuffer commented on #259
@solegalli Apologies for the delay. I can take this on priority.

[2021-05-25 18:59] bitsbuffer commented on #259
Hi @solegalli I have created a PR, please review it and suggest the necessary changes.
https://github.com/solegalli/feature_engine/pull/260

[2021-06-03 12:07] solegalli commented on #238
The idea is the following:

Add a catch for error in the MeanEncoder transform method, when the encoding introduces NaN. The error should tell exactly which variables contain NaN after encoding.

In fact, we would add the catch in the BaseEncoder so that it is available to all transformers.

Then we need to somehow provide the user with meaningful error messages in the select by target mean transf

[2021-06-07 12:59] #178 closed

[2021-06-07 12:59] #257 closed

[2021-06-07 12:59] #258 closed

[2021-06-07 21:21] dataML007 commented on #189
@solegalli  Looking to contribute. Can I take this if available?

[2021-06-08 06:21] solegalli commented on #189
Hey @dataML007 yes, this one is still for the taking. It would be great to have your contribution :)
thank you!

[2021-06-09 09:31] #250 closed

[2021-06-09 09:38] solegalli commented on #259
the main change for this issue has already been suggested [here](https://github.com/solegalli/feature_engine/pull/260/files#diff-9eb486aff6447df1b2837e699d0ccfceb256bfdf3e7b40cdbef45dc03abb4fb0).

The easiest would be to include these changes in a new PR and to finish off:

- expand the tests for that function [here](https://github.com/solegalli/feature_engine/blob/master/tests/test_variable_manip

[2021-06-09 09:45] solegalli commented on #191
I would recommend starting the chances in a new PR

[2021-06-10 06:35] bitsbuffer commented on #259
Hi @solegalli Apologise for the delay, I hope we can wait for this till this weekend.

[2021-06-10 07:14] solegalli commented on #259
Hi @bitsbuffer this issue is almost ready in #264

It wasn't as straightforward as I thought, because with the tests i realised that we needed more modifications to cast the variables after the encoding appropriately.

It would be great to have you on board though, would you like to check some of the other available issues in the repo?

[2021-06-10 11:52] #259 closed

[2021-06-10 13:13] #191 closed

[2021-06-10 14:52] #236 closed

[2021-06-10 14:56] solegalli opened #268 "automate linting with pre-commit"

[2021-06-19 15:00] rohan-paul opened #269 "from feature_engine import categorical_encoders not working in Kaggle Jupyter Notebook"
**To Reproduce**

I just have the following code in Kaggle Notebook

[code]

Instead of the above lines to install I also tried with `!pip install feature_engine` following [this](https://stackoverflow.com/a/63863747/1902852)

And in both cases, after running this cell getting below error.

[code]

Running `!pip show feature_engine` gives below

[code]

[2021-06-20 17:15] rohan-paul commented on #269
Closing after resolving.

Basically, I had to upgrade the version of `feature_engine` with

[code]

And now importing categorical encoders from feature_engine.encoding as below

[code]

The format below that I was using was for the older version (0.6x)

[code]

[2021-06-20 17:15] #269 closed

[2021-06-21 06:45] solegalli commented on #269
Glad you got this sorted :)

[2021-06-22 08:10] solegalli opened #271 "write citation article about Feature-engine"
Users need to cite Feature-engine in their academic work. To this end, we need to write an article about feature-engine.

So far, I have consider these 3 options:

- JOSS (supported by NumFocus and openSource), seems to be the most straightforward and does not require lengthy articles
- JMLR, imbalanced learn published their article there. Not sure a non academic can submit. Requires further resea

[2021-06-22 08:10] solegalli commented on #271
@hectorpatino

[2021-06-22 21:55] TremaMiguel opened #274 "[Feat]: Log1p transformer"
**Is your feature request related to a problem? Please describe.**

When you want to apply a logarithmic transformation and data contains a zero value, calculating `log(1+x)` is more convenient.

**Describe the solution you'd like**

This could be another argument in [LogTransformer](https://github.com/solegalli/feature_engine/blob/master/feature_engine/transformation/log.py#L144) that checks for

[2021-06-22 22:18] TremaMiguel opened #275 "[Feat]: Mutual Information in SmartCorrelatedSelection method"
**Is your feature request related to a problem? Please describe.**

Mutual Information help identifies different type of relationships between variables, not only linear relationships like Pearson or monotonic relations like spearman.

**Describe the solution you'd like**

[SmartCorrelatedSelection](https://github.com/solegalli/feature_engine/blob/master/feature_engine/selection/smart_correlation_

[2021-06-23 06:20] solegalli commented on #274
What would this transformer do if `check_zeroes` is `True`? add 1 to the variable and then apply the log?

I am aware that this is done quite frequently. I just think it is dangerous to add 1 to a variable without really inspecting the variable nature that I am kind of reluctant to encourage its use by implementing it in a transformer.

Also why +1 and not +10?

[2021-06-23 06:27] solegalli commented on #275
This is actually and easy issue.

We need to remove the init checks in [this line](https://github.com/solegalli/feature_engine/blob/master/feature_engine/selection/smart_correlation_selection.py#L146) for the SmartCorrelatedSelection and in [this line](https://github.com/solegalli/feature_engine/blob/master/feature_engine/selection/drop_correlated_features.py#L89) for the drop correlated features

[2021-06-23 07:27] solegalli opened #276 "migrate project to organisation - scikit-contrib vs feature_engine.org"
Should we move feature-engine to scikit-contrib? or should we create a .org for feature engine?

consider pros and cons of each option.

Any thoughts?

[2021-06-23 07:29] solegalli commented on #276
one advantage of having github.com/feature_engine is that we can host several accompanying projects in the same organisation, for example an accompanying website, and an accompanying library of examples, like Optuna.

The advantage of scikit-contrib is visibility.

[2021-06-23 12:33] TremaMiguel commented on #274
I think it would be better for the user to decide which constant `C` to add and handle it as a separate transformer. For example,

[code]

[2021-06-23 13:00] TremaMiguel commented on #275
@solegalli, would it be extending the method parameter to accept any valid callable ?

[code]

or could it be a mutual information option in `SmartCorrelatedSelection` ?

[code]

in this case, the methods could be accessed from an EnumClass

[code]

[2021-06-23 13:31] solegalli commented on #275
I think that given that pandas.corr() takes any callable, let's just extend the functionality to accept any callable. No?

[2021-06-23 14:22] TremaMiguel commented on #275
agree, this will open the possibility to other kinds of functions. To exemplify the MI method adding a Jupyter Notebook with an example would help. Thanks @solegalli

[2021-06-24 10:34] GLevV commented on #274
In `LogCpTransformer` we can just set C=0 by default and also add option 'auto' which will do something like that `C = abs(min(x)) + 1`. This will allow us to use log transformation on negative values.
Also this one is bad

because log(0+1) = 0, so you will always return error. The reason behind log1p is to avoid infs and nans that will arise in log(0) case, not in avoiding zeros.

[2021-06-24 12:25] solegalli commented on #274
that line checks the variable **before** the transformation.

[2021-06-26 07:12] SurajitTest opened #280 "add selection transformer based on the Information Value (IV) for nominal variables"
Presently, there are no packages in python to calculate Information Value using WOE for nominal/categorical variables. As WOE Encoder is already available in Feature Engine, hence I am raising the request for a feature to obtain information value  for nominal variables

[2021-06-26 15:27] solegalli commented on #280
could you add a few links with information about WoE and IV?

[2021-06-26 16:04] TremaMiguel commented on #275
@solegalli , I've opened a [PR](https://github.com/solegalli/feature_engine/pull/279) solving this issue, target branch is 1.1.X, should it be pointed to master ?

[2021-06-26 16:07] TremaMiguel commented on #274
@solegalli  agree on developing this feature to open a PR ?

[2021-06-26 16:15] solegalli commented on #275
Yep, I saw. I am reviewing as we speak.

We make all PR to master, and after we have a few additions, we release a new version in 1.1.x.

So in short, PRs to master :)

[2021-06-26 16:44] solegalli commented on #274
go for it :)

[2021-06-27 10:27] SurajitTest commented on #280
https://www.listendata.com/2015/03/weight-of-evidence-woe-and-information.html

https://www.listendata.com/2019/08/WOE-IV-Continuous-Dependent.html

http://ucanalytics.com/blogs/information-value-and-weight-of-evidencebanking-case/

On Sun, Jun 27, 2021 at 1:27 AM Soledad Galli ***@***.***>
wrote:

[2021-06-27 17:09] SkylarTrigueiro opened #282 "Feature Selection cv: int, cross-valitation-genereator or an interable, default=3"
**Describe the bug**
I get the following error when I try to use LeaveOneGroupOut cross-validation with RecursiveFeatureElimination:

ValueError: cv can only take positive integers bigger than 1

**To Reproduce**
Steps to reproduce the behavior:

loyo = LeaveOneGroupOut()

type(loyo.split(data, data["target"], groups=data["year"]) = generator

sel = RecursiveFeatureElimination(
    variables = Non

[2021-06-27 18:33] SkylarTrigueiro commented on #282
update. I figured out that this was patched in a newer release.

[2021-06-27 18:33] #282 closed

[2021-07-01 18:01] solegalli opened #284 "add inverse_transform to transformer classes in creation module"
The transformers in this module add new variables to the dataset with the different math operations. Inverse_transform should remove these newly created variables and return the original data representation

[2021-07-01 18:02] solegalli opened #285 "create roadmap for feature_engine project and add it to the documentation"
Please let us know if you think there is information missing, or how else we can improve the documentation from Feature-engine.

If you are referring to an existing page, please paste the url.

[2021-07-04 09:35] solegalli commented on #248
closed in #283

[2021-07-04 09:35] #248 closed

[2021-07-09 20:35] NicoGalli commented on #284
@solegalli mathematical_combination.py and combine_with_reference_feature.py create new features in the dataset based in a combination of others. This meaas that "inverse" should remove those new features to obtein the original dataset. Dont think this will create to much value to this class. Any thoughts?

[2021-07-09 20:37] NicoGalli commented on #284
@solegalli same with cyclical.py. which is also creating new features in the dataset.

[2021-07-10 08:43] solegalli commented on #284
All transformers in this module add new variables by combining existing ones. So `inverse_transform` should just remove/drop these new variables to obtain the original dataframe representation.

I am also not sure how much value this adds to the classes.

On one hand, sklearn has `inverse_transform` in its classes (wherever possible), so to make Feature-engine more compatible, I thought we could a

[2021-07-12 08:20] solegalli opened #286 "gather group of 4 regular contributors"
In order to apply to NumFocus, one of the requirements is that the package has 4 regular contributors that are active at the same time. More details [here](https://numfocus.org/projects-overview). And no more than 2 contributors should belong to the same institution.

[2021-07-13 14:02] solegalli commented on #274
closed in #281

[2021-07-13 14:02] #274 closed

[2021-07-13 15:23] solegalli commented on #276
created github organisation: https://github.com/feature-engine

Would migrate repo at some point.

[2021-07-14 06:30] #275 closed

[2021-07-15 13:03] TremaMiguel commented on #268
I can take the dev of this issue, we should be able to specify in the contribution guidelines to install and activate `pre-commit`  to automatically check code issues.

This could be pair with what CI pipeline tests

[code]

[2021-07-15 13:08] TremaMiguel opened #287 "feat: Custom threshold in SmartCorrelatedFeatures"
**Is your feature request related to a problem? Please describe.**

Currently `SmartCorrelatedFeatures` takes correlation measures that have a similar range (between -1 and +1) and select features by a fixed threshold value (defaults to 0.8).

**Describe the solution you'd like**

Extend the `threshold` selection to a custom function in order to be able to apply other correlation measures that hav

[2021-07-15 15:10] chrish42 opened #288 "Stale link (404) to "nice summary" article"
The [main page of the doc](https://feature-engine.readthedocs.io/en/1.0.x/index.html) has a link to an article that is supposed to have a "[nice summary of what is unique about Feature-Engine](https://www.trainindatablog.com/feature-engine-a-new-open-source-python-package-for-feature-engineering)"... except that link leads to a 404. 😢

[2021-07-15 16:30] solegalli commented on #288
Thank you for the heads-up. This is [the working link](https://trainindata.medium.com/feature-engine-a-new-open-source-python-package-for-feature-engineering-29a0ab88ea7c). I will fix it and it will be available in our next release.

[2021-07-15 17:42] #288 closed

[2021-07-16 13:18] solegalli commented on #287
I had a quick look at the link, and all metrics seem to return values somewhere between -1 and 1.

Why do you think we need to expand the threshold allowance in the transformer?

Also, there is one metric, the Hoeffner D or similar, that varies between -0.5 and 1, and not sure how this metric works, but the transformer is taking the absolute value, so not sure how to make this one fit in, or even

[2021-07-16 13:23] solegalli commented on #268
This was @ChristopherGS suggestion. Is this what you had in mind @ChristopherGS ?

[2021-07-16 14:00] TremaMiguel commented on #287
For the MI calculation, I'm basing on [sklearn.feature_selection.mutual_info_regression](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.mutual_info_regression.html). Basically uses [scipy.special.digamma](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.digamma.html) which is in log scale. In theory, there would be no upper bound for this measure. For

[2021-07-16 14:38] solegalli commented on #287
For the standard correlation functions (spearman, pearson, kendall) the value of correlation is quite intuitive, if it is >0.7 or 0.8, then the variables are probably very related.

What sort of value indicates correlation for this mutual_info_regression? Is this an accepted metric for correlation? where has it been used? (other than in sklearn, which I understand what a workaround to extend the M

[2021-07-17 13:58] TremaMiguel commented on #287
The MI can detect non-linear, sinusoidal and linear relationships as well. [Here](https://www.kaggle.com/ryanholbrook/mutual-information) is a better explanation from a Kaggle Tutorial.

[2021-07-17 14:28] TremaMiguel opened #290 "feat: Group Transformer"
**Is your feature request related to a problem? Please describe.**
Aggregating variables by a single or multiple category is a simple task

[code]

however to make it compatible with a Sklearn Pipeline, a Transformer with some requirements is needed. Feature Engine could provide a transformer with these functionality.

**Describe the solution you'd like**

A `GroupTransform` class with a `fit()` t

[2021-07-17 14:54] TremaMiguel opened #291 "feat: Kmeans Encode Categorical Feature"
**Is your feature request related to a problem? Please describe.**

From [Kaggle](https://www.kaggle.com/ryanholbrook/clustering-with-k-means)

**Describe the solution you'd like**

A `KmeansEncoder` transformer that takes as input a set of variables X and return the corresponding cluster label. A basic structure is show below.

[code]

[2021-07-17 15:01] TremaMiguel opened #292 "feat: Random Noise Selection method"
**Is your feature request related to a problem? Please describe.**
Filtering Noisy features from a set of features can be easily accomplished by adding a one or more random variables to train set, train a gradient boosting or linear model and compute the feature importance.

When a feature is  below the importance of the random noise probably that feature is not so important.

[Reference](https://

[2021-07-17 15:13] TremaMiguel opened #293 "feat: Gradient Boosting Tree predicted leaf as feature"
**Is your feature request related to a problem? Please describe.**

LightGBM has the option to return the predicted decision tree leaf for every model. From the [documentation](https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMRegressor.html#lightgbm.LGBMRegressor.predict)

[Reference](https://www.youtube.com/watch?v=RtqtM1UJfZc&t=2702s)

**Describe the solution you'd like**

A `Dec

[2021-07-18 07:35] solegalli commented on #290
Hey @TremaMiguel thanks for filling this issue:

A few things to consider:

- will this transformer allow grouping per any variable, or only categorical variables? pros and cons? This refers to var 'cat' in code snippet.
- the variables that will be used to create the aggregations, 'num_var' will be only numerical? or categorical also?, functions like 'count' could be used over categorical variabl

[2021-07-18 07:43] solegalli commented on #160
This transformation already exists in [category encoders,](https://contrib.scikit-learn.org/category_encoders/mestimate.html) am I correct? as per @Tejash-Shah 's previous comment.

@TremaMiguel you mentioned including this transformer in feature-engine as well.

I am not completely sure we should bring to feature-engine transformations that already exist in category_encoders, what would be the be

[2021-07-18 08:05] solegalli commented on #67
@TremaMiguel this transformer is top priority. Would you like to give it a go?

[2021-07-18 08:19] solegalli commented on #293
I've heard of this method before. How widely spread its use it (other than in kaggle)?

Things to consider:

- how "interpretable" are the derived features? would they be suitable in a setting where we want to use this models in real life? would users be able to understand what the importance of these features tells them based on the model?
- if not, should we make this transformer part of feature

[2021-07-18 08:25] solegalli commented on #292
If a feature is not important, the decision trees would already return a low importance value. And then we could select features using SelectFromModel for example from sklearn.

I guess the value from adding "random features" would be that it would allow us to distinguish which features add "any" value other than random. Is this the overall point?

How much value does this selection method have ov

[2021-07-18 08:31] solegalli commented on #291
By any change, is there a link to an article? I've heard of this manipulation for categorical variables before, so I was wondering if we could gather a few more links to understand what else should we consider.

My first thoughts are:

- the categorical variables are strings, how would they be encoded before passing them to KMeans?
- that if there is a label in the test set, that did not appear in

[2021-07-18 08:33] solegalli commented on #284
@TremaMiguel in your view, would inverse_transform add any value in these classes?

[2021-07-18 08:49] solegalli opened #294 "expand categorical detection of NAN after encoding"
At the moment, the categorical encoders will raise a warning if NAN are introduced after the encoding. This is controlled from the [BaseCategoricalEncoderClass](https://github.com/solegalli/feature_engine/blob/master/feature_engine/encoding/base_encoder.py#L155).

We should expand this warning to inform the user in which variables exactly the NaN were introduced.

This functionality is useful in p

[2021-07-18 09:05] solegalli commented on #294
at the back of #238

[2021-07-18 09:08] solegalli opened #295 "add functionality to detect introduction of NAN in transform method of discretizers"
For the arbitrary, equal width and equal frequency, we should include in the transform method a check to see if NaN are being introduced accidentally.

This can happen if a value is outside the boundaries entered by the user in the arbitrary, or of the variable is too skewed for the other transformers.

The catch should be as a warning to begin with, not to break backwards compatibility perhaps, a

[2021-07-18 09:08] solegalli commented on #295
At the back of #169

[2021-07-18 09:20] solegalli commented on #169
I just ran your code, the error here is because NAN are introduced into the features by the OrdinalEncoder. Then these features with NAN are taken up by the discretizer and thus, it returns an error.

The error raised is not due to a bug in Feature-engine.

We will expand functionality to make errors and warnings more helpful as per indicated in issues #294 and #295

[2021-07-18 09:20] #169 closed

[2021-07-18 09:31] solegalli opened #296 "Improve SelectByTargetMeanPerformance functionality"
Idea:

Create predictor class TargetMeanPrediction or similar name with methods fit and predict.

- Fit - learns transformation
- predict - returns the mean target value per observation

Output:

- This transformer will automatically output the mean value of the target per category if variable is categorical (we have an encoder for this).
- If variable is numerical, it will first discretize it (we

[2021-07-18 09:32] solegalli commented on #296
closes #238

[2021-07-18 09:37] solegalli commented on #287
In the kaggle kernel you mention it is used exactly as per sklearn docs. To determine relationship with the target and not among variables. It also does not make reference to which would be an accepted threshold to indicate that above the threshold the variables are "truly" related.

We need more info on the threshold front, and on how widely this metric is used to determine relationship among var

[2021-07-18 16:57] TremaMiguel commented on #287
Yes, that's a good point, from what I know. Relations above 1 are periodic.

[code]
![Captura de pantalla (111)](https://user-images.githubusercontent.com/49818188/126075363-c160901f-b0ef-4509-be27-a875483c9a9d.png)

Convex or non linear relations are close to two

[code]
![Captura de pantalla (112)](https://user-images.githubusercontent.com/49818188/126075438-01b4b702-28f1-4653-ba89-504e8ae3f899.

[2021-07-19 13:35] TremaMiguel commented on #290
Hi @solegalli, these are good points to consider. I resume my answer in the following points.

**1.** I think the transformer should not limit the arguments that `pandas.DataFrame.groupby` already support

so, user could use be both categorical and numerical variables or any other thing that define the groups.

**2.** We could set as default `mean, max, min, skew, std` if aggregated variables is n

[2021-07-19 14:11] TremaMiguel commented on #291
Hi @solegalli, regarding your points:

**1.** The transformer by default could encode categorical variable to an ordinal representation or any other transformation , [here](https://github.com/nicodv/kmodes/blob/dab08c094a83ec247d9ff1cac652e607a234b3e7/kmodes/kmodes.py#L210) is an example from Kmodes. But, I think is better to warn the user to encode the categorical variable prior to calling this t

[2021-07-19 14:28] TremaMiguel commented on #292
Regarding

Taking as baseline a feature with no information (random variable) we want to filter those variable that do contribute information to predict the target. For this, we find the features that are more useful to predict the target variable through the model's feature importance.

The main difference with `SelectFromModel` and `SelectBySingleFeaturePerformance` is that user do not need to p

[2021-07-19 14:45] TremaMiguel commented on #293
**1.**
The idea I get from this method is to find relations or interactions between the features, a sample in each leaf would be represented by different characteristic of the variables.  An each sample might be represented differently in each tree, so this help finding interactions between group of features.

**2.**

this is a good point, for individual decision trees we can get an idea of why ea

[2021-07-20 10:04] carneche opened #297 "Rare Label encoding attribute"
Hi, I wonder if there would be is an issue within the doc. In fact, I can't use the attribute "variables_" but it's possible to "variable" instead.

[2021-07-20 10:14] solegalli commented on #297
`variables` is a parameter that you use when you set up the parameter for the first time. It can be `None`, a string with a column name, or a list of column names. With this parameters you indicate which variables you want to modify.

`variables_` is determined automatically by the transformer. If you set variables to a string or a list, then variables_ would take exactly the same values. If you s

[2021-07-20 11:33] TremaMiguel commented on #67
@solegalli going to take a look at this, it would be better to elaborate a development plan on a google sheet, what functionalities do we want exactly ?, which are the ones to start?

[2021-07-20 12:04] carneche commented on #297
For example, the code below works doesn't work:
`my_pipe.named_steps.rare_label_enc.variables_`

But when I use `my pipe.named_steps.rare labeling.variables` without" _ "at the end, it works. That's what I meant.

[2021-07-21 11:51] solegalli commented on #297
I think it is probably a version problem. Which version of Feature-engine do you have installed?

If you dont know, from a notebook run the following:

[code]

The documentations correspond to versions 1.1 or bigger.

[2021-07-21 11:53] solegalli commented on #67
Yep, happy to work on a sheet. The functionality wanted is described at the top of the issue. Link the sheet to the issue when you have it ready if you want :)

[2021-07-21 12:02] solegalli commented on #293
In its inception, Feature-engine was thought to include methods that you would actually use when creating models to use in real life. My experience, from finance and insurance, is that you need to be able to explain what the model is outputting, and the users o the models, for example the fraud investigators, would like to understand what the feature is telling them. That is why encoding methods l

[2021-07-21 12:07] solegalli commented on #292
that is an interesting point. Let's try and see if there is some reference other than the Kaggle video and attach to this issue.

[2021-07-21 12:10] solegalli commented on #291
I think the idea of this technique is to take a group of categorical variables and replace them with kmeans. Otherwise, it doesn't make much sense, because the clusters will be arbitrarily determined by the numbers used to replace the categories.

I think there is some value here. But I would like to gather some more references before we proceed.

[2021-07-21 12:12] solegalli commented on #291
I think the idea of this technique is to take a group of categorical variables and replace them with kmeans. Otherwise, it doesn't make much sense, because the clusters will be arbitrarily determined by the numbers used to replace the categories.

I think there is some value here. But I would like to gather some more references before we proceed.

[2021-07-21 12:21] solegalli commented on #290
The underlying idea:

`
class GroupTransform()

    def __init__(grouping_vars=['var1', ;var2'], agg_vars=['var3', 'var4'], etc..)

   def fit():
       for var in self.grouping_vars:
           X_merge = X.groupby(var)[self.agg_vars].agg('mean', 'std', etc)
`

Something like that.

[2021-07-21 12:21] solegalli commented on #290
The underlying idea:

`
class GroupTransform()

    def __init__(grouping_vars=['var1', ;var2'], agg_vars=['var3', 'var4'], etc..)

   def fit():
       for var in self.grouping_vars:
           X_merge = X.groupby(var)[self.agg_vars].agg('mean', 'std', etc)
`

Something like that.

[2021-07-21 12:22] solegalli commented on #290
Also, is the best place for this transformer the module encoding? and would the transformer drop the original variables? maybe offer that as parameter. And finally, in the aggregation, would the transformer allow aggregating by the target? or should aggregating the target be a different transformer?

[2021-07-21 12:32] solegalli commented on #287
I hear the pros:
a tiny code modification,  that is, removing the check for the threshold value, would allow the use of this technique, and virtually any other.

On the downside, not having the threshold check, may encourage users to use any value, so for users less familiar with correlation, we would not be guiding them, when setting up the transformer, to choose a value that is suitable, for the

[2021-07-21 12:57] TremaMiguel commented on #293
@solegalli, let's do a survey in Linkedin asking the interest for these methods.

[2021-07-21 13:10] carneche commented on #297
Indeed, it's was a 1.0.1 version problem. I've updated that and it's ok now.

[2021-07-21 13:12] solegalli commented on #297
@carneche good to hear. I will close this issue then :)

[2021-07-21 13:12] #297 closed

[2021-07-21 13:36] TremaMiguel commented on #292
@solegalli  other references:

1. [Feature Selection beyond Feature Importance](https://www.kdnuggets.com/2019/10/feature-selection-beyond-feature-importance.html). This article talks about adding three different kind of random features

* Binary random feature ( 0 or 1)
* Uniform between 0 to 1 random feature
* Integer random feature

and select only the ones with feature importance above the ran

[2021-07-21 13:44] TremaMiguel commented on #291
The book [Feature Engineering for Machine Learning](https://www.amazon.com/-/es/Alice-Zheng/dp/1491953241) describe the method as **K-means Featurization**, it already provides some code example.

[code]

Same as with #292 as there's code example they could be a good starting point.

[2021-07-21 15:12] TremaMiguel commented on #287
Regarding

We notice that method `SmartCorrelatedSelection` is highly dependent on three correlation measures (spearman, kendall and pearson) this turns out the method inflexible to consider other correlation measures.

So as you say, we can tackle this with two approaches:

1. Modify `SmartCorrelatedSelection`  to remove that high dependency and make it flexible for other methods. (It already acc

[2021-07-21 15:14] TremaMiguel commented on #287
@solegalli , can we decide on which of the issues #287, #290, #291, #292 and #293 to develop?

[2021-07-22 03:10] solegalli commented on #290
Happy to move forward with this issue. Let's leave the target out in the first version of the transformer.

There is a workaround in is_dataframe, that assings the column index as string name. So it should work

[2021-07-22 04:24] solegalli commented on #292
I spent a good 90 minutes searching for more information about this technique, and I did not find anything other than the kdd blog and the talk by Gilberto that you linked to this issue.

The technique makes sense thought, so happy to move forward.

Do you have any experience with this method? would adding a binary random or uniform random have any advantage over adding just a normal distributed r

[2021-07-22 04:58] solegalli commented on #291
In the book, she says that K-mean featurization makes sense on variables where the euclidean distance "makes sense", so should not be applied on categorical variables (page 130).

If there are categorical variables, she says to convert to binning statistics, "Bin Counting" as called in her book. That could be one option. To do this, we would first have to create a BinCounting encoder for categoric

[2021-07-22 05:02] solegalli commented on #287
Hi @TremaMiguel

Would you mind please removing the last comment? I don't think it is relevant to this issue. It is linking other issues that are not related.

Thank you!

[2021-07-22 05:51] solegalli commented on #290
I am thinking that this one, may also be a good candidate for a new module called "embedding". Thoughts?

[2021-07-23 03:33] Tejash-Shah commented on #160
I agree, there's no need to re-invent the wheel. When I was reading the paper I created my own custom transformer and thought to add it to this package but later I realized a lot of transformers/encoders are available in category encoders and no need to write my own.  I would be fine dropping this feature request of MEstimateTargetEncoder.

[2021-07-25 16:32] solegalli commented on #291
Reading the book Feature Engineering for Machine Learning from Alice Zhang further Bin counting is in essence target mean encoding, as per example number of clicks / sum (click + non-clicks). So we could actually offer the user the possibility to choose the categorical encoding to use first, ahead of the kmeans featurization.

[2021-08-06 08:33] #285 closed

[2021-08-06 12:03] #276 closed

[2021-08-16 04:50] Ninimama opened #301 "Bug in drop_last_binary of OHE"
Hi...Thanks for creating this nice package. I think there is a potential bug with OneHotEncoder function

**Describe the bug**
The problem appears when we call `OneHotEncoder` and use `drop_last_binary=True`. According to the document, setting this argument to `True` means that for categories with two labels (binary), one of them will be eliminated as it is redundant. However, it seems it creates

[2021-08-25 09:44] papachristoumarios opened #302 "Imputation and data generation methods request"
**Is your feature request related to a problem? Please describe.**

Methods for _data imputation_ and _data generation_.

**Describe the solution you'd like**

1. It would be a good idea to have a data imputation method like the Amelia package in R (https://cran.r-project.org/web/packages/Amelia/index.html) together with existing imputation methods.
2. Regarding artificial data generation methods,

[2021-08-30 08:28] T-rect commented on #302
Hi!

I installed feature_engine using pip install feature_engine. Then I created the following script and run it, but in jupyter notebook the following error appears. I tried running the script in PyScript and it runs without the error. I'm running Python 3.9.6 on Windows 10. Please help fix this problem. Thanks a lot!

import pandas as pd
import numpy as np
from feature_engine.imputation import E

[2021-08-30 10:43] solegalli commented on #302
Hi @T-rect could you please delete your comment from this issue and create a new issue with your question? then i can answer there separately.

Thank you

[2021-08-30 13:22] solegalli opened #303 "OHE: allow encoding of specific, user desired categories"
As per [this thread](https://stackoverflow.com/questions/65153240/categorical-data-encoder-for-unseen-data-in-python), the user may want to encode certain categories, that may not be the most frequent.

[2021-08-30 15:27] T-rect commented on #302
Hi, ok I understand, and will do as soon as possible.
Thanks for the reply

Pada tanggal Sen, 30 Agu 2021 17.44, Soledad Galli ***@***.***>
menulis:

[2021-08-31 11:26] solegalli commented on #301
yep, that is correct. Thank you for reporting @Ninimama :)

I created a PR to address this issue asap.

[2021-08-31 11:57] #301 closed

[2021-08-31 12:10] solegalli commented on #302
Thank you @papachristoumarios

At the moment, we don't have methods for artificial data generation in the roadmap for Feature-engine.

Re: the imputation method, after a quick look, am I alright to say that these are methods for time series data?

At the moment, Feature-engine takes care of tabular (cross-sectional data). We do have a module on time series in the roadmap, it is not the top priorit

[2021-09-03 08:02] solegalli opened #305 "separate the documentation into API and User Guide"
Like sklearn does.

All "theory" and explanation in the user guide, and the API would discuss only the parameters, attributes, etc.

[2021-09-03 08:03] solegalli opened #306 "change docs layout to pydata sphinx theme"

[2021-09-06 16:51] gverbock opened #307 "Selection based on PSI values"
As a new feature, it would be nice to have a selection to remove all features having a PSI value higher than a given threshold. The Population Stability Index (PSI) is a widely used measure for population shift in a feature. If a shift has happened (i.e. if the PSI is above a given level), the feature is not fit for purpose and usually removed from the feature set.

A way to deal with it would be

[2021-09-06 17:18] solegalli commented on #307
Hey @gverbock thanks for the suggestion!

Would you be able to add a few links to the technique and your implementation. And give us an idea of how this method is suitable for feature selection? very briefly

I can see that it is used to measure population shifts in time. But I have not seen it used for feature selection. So I am not too sure of how it works.

Thank you!

[2021-09-06 17:20] solegalli commented on #307
these links I found:
https://mwburke.github.io/data%20science/2018/04/29/population-stability-index.html
https://www.listendata.com/2015/05/population-stability-index.html

Wonder if you had additional ones? Ideally to an article instead of a blog

[2021-09-06 19:19] gverbock commented on #307
Basically, the idea is to split the feature matrix according to a in-time and an out-of-time period and then perform PSI for all individual features. If a feature has a PSI above a given threshold (usually 0.25), then its distribution has shifted over time and thereby the feature is not stable. The safest approach is to exclude the feature from the feature list.

There is a paper I am aware of
htt

[2021-09-06 19:20] gverbock commented on #307
The (basic) implementation I have so far is the following

[code]

[2021-09-07 04:23] solegalli commented on #307
Thank you for the links and the details @gverbock

Feature selection transformers in Feature-engine work as follows:

1. they either take X and y in fit, so the selection method involves the target, for example in RecursiveFeatureElimination, i.e., `selector.fit(X, y)`
2. they take only X, and then select features based on some internal characteristics, for example if they are constant or they are

[2021-09-07 15:58] gverbock commented on #307
I fully understand the need to be consistent. This makes feature_engine so nice to work with. I would be happy with the approach you proposed.

And yes you are correct in your understanding of how the PSI works.

[2021-09-08 08:29] solegalli commented on #307
Great! Thanks for the feedback.

If you'd like to give it a go at drafting a first version of the code and making a PR, we would be more than happy to have your contribution :)

[2021-09-08 11:38] gverbock commented on #307
I will do so.

[2021-09-15 16:05] gverbock opened #309 "Adjust variables when piling up selectors"
**Is your feature request related to a problem? Please describe.**
The variables argument works very well when having a single selector but then "piling up" selectors in a pipeline it does not account for the features removed in the previous steps.

For example if I want to have the pipeline running on only variables starting with "f_" I cannot run the following code because "f_A" is not defined a

[2021-09-15 17:44] gverbock opened #310 "Add control for drop in selector"
**Is your feature request related to a problem? Please describe.**
In the current set-up the transform method of the selector is based on the *drop* of the pandas.dataframe. I would like to add a control parameter in the initiation of the class to allow the option errors='ignore'.

In that case the selector also works when the feature is not present in the dataframe.

![image](https://user-images.

[2021-09-27 19:34] gverbock commented on #307
@solegalli Dear Soledad, I was wondering if you had time to look at the PR already. I know there is still work to do but I would like to have you opinion on the current work before going further.
Thanks in advance for the support.

[2021-09-28 11:55] solegalli commented on #307
I don't see any PR associated to this issue. Did you make one?

[2021-09-28 18:28] gverbock commented on #307
I made one indeed
![image](https://user-images.githubusercontent.com/32060943/135144738-61d25a42-739f-4a49-a918-17d350e06a41.png)
But I guess it is at the wrong place!

[2021-09-29 09:09] #271 closed

[2021-10-15 21:18] hectorpatino opened #315 "Smoothing on Mean Encoder"
**Is your feature request related to a problem? Please describe.**
Hi Sole, currently Im doing the mini course of [feature engineering](https://www.kaggle.com/ryanholbrook/target-encoding) on kaggle. The last seccion is about Mean Encoding and how it can create risks of overfitting specially with unknown or rare categories. They mention that smooting is a way to deal with this. I checked the [code

[2021-10-16 09:06] solegalli commented on #315
Yes, some users also requested to introduce this transformer or smoothing function in this issue: #160

I am still wondering if it is worth to bring in to Feature-engine the functionality that already exists in category_encoders. Category encoders also allows you to select columns, so not sure how much value it would add.

What are your thoughts?

[2021-10-16 19:33] hectorpatino commented on #315
As someone mention in the issue there is no need to reinvent the wheel. Maybe an update on docstring suggesting `category_encoders` for smoothing?

[2021-10-20 08:47] solegalli opened #316 "expand CyclicalTransformer.rst"
I would like to have more detail, that is some plots, showing how the original features, like months are transformed into a sinusoidal feature with this transformer. A visual cue of what the transformer is achieving.

[2021-10-20 08:50] solegalli opened #317 "add jupyter notebook demonstraing the use of CyclicalTransformer"
Add a jupyter notebook demonstrating the full functionality of the Cyclical Transformer to our example gallery located here:
https://github.com/feature-engine/feature-engine-examples/tree/main/creation

The notebook should feature a dataset as real as possible, suitable options are those from the UCI Machine Learning repository,

The data can't be uploaded to the repo, so we need to indicate in th

[2021-10-20 08:50] solegalli commented on #317
@hectorpatino

[2021-10-20 08:51] solegalli opened #318 "link kaggle kernel using CyclicalTransformer"
We would like to prepare a simple Kaggle kernel where we demo how to use the CyclicalTransformer and link it to the CyclicalTransformer,rst file

[2021-10-21 08:05] solegalli commented on #315
Great! In that case, please make a PR to the branch "pydata_template" as the doc files have been reorganized quite a bit compared to master.

And you probably want to modify [this file](https://github.com/feature-engine/feature_engine/blob/pydata_template/docs/user_guide/encoding/MeanEncoder.rst) and / or [this file](https://github.com/feature-engine/feature_engine/blob/pydata_template/feature_eng

[2021-10-26 16:46] kevinkurek opened #319 "DropMissingData based on Percentage of Empty Columns"
Hi guys,

Often I find I only want to drop data if X% of the columns are missing, rather than if any data is missing.
Here is a quick demo of a compatible sklearn transformer:

    class DropThreshPct(BaseEstimator, TransformerMixin):
        """
        Keeps rows that have at least thresh_pct columns of data available.
        """
        def __init__(self, thresh_pct):
            self.thresh_p

[2021-11-08 20:29] solegalli commented on #84
This transformer from category encoders may do something of the sort:
https://contrib.scikit-learn.org/category_encoders/catboost.html

[2021-11-08 20:51] solegalli commented on #315
Already added links to category encoders in the class api docs. We still need to add some details in the user guide.

[2021-11-08 22:00] hectorpatino commented on #315
Ive been extremely busy sole but I Will try to do it this weekend

[2021-11-08 22:01] Sandy4321 commented on #84
YOU are mistaken
nothing even close at this link
https://contrib.scikit-learn.org/category_encoders/catboost.html

did you meant PolynomialWrapper
as it is written
For polynomial target support, see PolynomialWrapper.
??

[2021-11-09 06:46] solegalli commented on #84
Are you talking about this: https://contrib.scikit-learn.org/category_encoders/polynomial.html?

Otherwise, could you please paste a link with a reference?

[2021-11-09 07:46] solegalli commented on #316
Perhaps we can get some inspiration from this link for the demo either for the rst or the jupyter notebook for #317

https://scikit-learn.org/dev/auto_examples/applications/plot_cyclical_feature_engineering.html

[2021-11-09 15:31] Sandy4321 commented on #84
seems to it is not for interactoins
as stated
1.2.3 Contrast Coding
 Contrast coding creates a new variable by assigning numeric weights (denoted here as w)
to the levels of an ANOVA factor under the constraint that the sum of the weights equals 0

in
http://psych.colorado.edu/~carey/Courses/PSYC5741/handouts/Coding%20Categorical%20Variables%202006-03-03.pdf

or
Orthogonal polynomial coding is a f

[2021-11-10 15:46] solegalli opened #323 "include code coverage"
At the moment, we have no visibility of test coverage. I would like to include this in the package.

Here some useful links I gathered:

https://gist.github.com/dnozay/5b9b818ff0dc857d1358

https://pytest-cov.readthedocs.io/en/latest/tox.html

https://coverage.readthedocs.io/en/6.1.1/config.html

Also check imbalanced-learn package, they have some code to run coverage.

[2021-11-16 16:21] #305 closed

[2021-11-16 16:21] #306 closed

[2021-11-16 16:22] solegalli commented on #319
added in #321

[2021-11-16 16:22] #319 closed

[2021-11-16 16:23] solegalli commented on #315
added links to docs in #314

[2021-11-16 16:25] solegalli commented on #284
closing as we decided this method adds no value to the class with @NicoGalli

[2021-11-16 16:25] #284 closed

[2021-11-16 16:25] solegalli commented on #255
added in #314

[2021-11-16 16:25] #255 closed

[2021-11-16 16:28] solegalli commented on #160
At the moment, we are not going to go ahead with introducing transformations that are available in category encoders. Instead, we linked the transformers throughout our documentation in #314

We can re-open the issue in the future if for some reason we change our minds.

[2021-11-16 16:28] #160 closed

[2021-11-16 16:46] solegalli commented on #148
For the moment, we won't be going ahead with this suggestion. Thank you for the engagement!

[2021-11-16 16:46] #148 closed

[2021-11-16 16:48] solegalli commented on #189
Hey @dataML007 , @indymnv and @NicoGalli

Would any of you be able to pick up this issue?

It should be fairly straightforward :)

[2021-11-16 19:54] NicoGalli commented on #189
@solegalli please assign it to me.

[2021-11-16 20:11] solegalli commented on #189
assigned :p

[2021-11-17 09:24] #307 closed

[2021-11-21 14:12] FedericoMontana opened #327 "drop_correlated_features sets are not always correlated"
**Is your feature request related to a problem? Please describe.**
The class drop_correlated_features creates a set of correlated features which might work most of the time, however, it assumes transitivity which is not a property of correlation. It is also not deterministic, depending on the order of the columns, the sets might end up being different.

**Describe the solution you'd like**
Each fe

[2021-11-22 09:23] solegalli commented on #327
Hi @FedericoMontana

Thanks a lot for the suggestion.

I agree that the current implementation is non-deterministic.

I also see the point that not all features within the group could be correlated to each other. However, they will be correlated to the first feature in the group, and then, they would, in theory provide "redundant" information, at least respect to the first feature in the group.

S

[2021-11-22 13:05] FedericoMontana commented on #327
I don't have any resource detailing exactly this, other than the link I shared in my initial message. I'm writing a simple python library with one class implementing this (still workin in progress) https://github.com/FedericoMontana/instrumentum/blob/master/src/instrumentum/feature_selection/correlation.py

Perhaps the class could be parametrizable for the user to select the grouping method? The c

[2021-11-22 15:09] solegalli commented on #327
The link from stackabuse is about hierarchical clustering, but after a quick look it does not mention anything regarding using this method for feature selection.

Personally, I have not heard of using clustering to select features. That is why, I would be keen on some reference that shows that this idea has been successfully implemented somewhere.

The thing is, depending on the distance that you

[2021-11-28 18:10] david-cortes opened #329 "Request: add indicator variables as output from `Winsorizer`"
**Is your feature request related to a problem? Please describe.**
When clipping extreme values in data, oftentimes having an indicator of whether a feature ended up being clipped or not turns out to be a helpful feature. Currently, `Winsorizer` will clip the features and output them with the same name, but does not produce indicator variables.

**Describe the solution you'd like**
Would be nice i

[2021-11-29 10:04] solegalli commented on #329
Sounds like a good idea. We could do that.

The code implementation is fairly straightforward. Would you like to give it a go?

The only 1 thing to consider is that the outlier trimmer inherits from the winsorizer, and we probably do not want this parameter in the trimmer, so need to think how to go about this.

A suggestion would be to create a base class with the basic functionality (i.e., how t

[2021-11-29 17:48] david-cortes commented on #329
Ok, will send a PR later this week.

[2021-11-29 20:39] kylegilde opened #330 "CombineWithReferenceFeature support timestamp subtraction"
Is there any chance that you would support the ability to subtract datetime columns?

[2021-11-29 20:45] dodoarg commented on #67
Hi, I recently took some of your courses on udemy and saw your post on linkedin. Take it this still needs some work? Gonna give it a go as my first issue if you don't mind, think it's good practice.

[2021-11-29 21:00] kylegilde opened #331 "dropping input columns in CombineWithReferenceFeature"
In CombineWithReferenceFeature, would you consider adding a boolean parameter indicating whether the variables_to_combine and reference_variables columns should be dropped?

drop_inputs=True/False

[2021-11-29 22:30] solegalli commented on #331
We certainly could.

In fact, we have that functionality already in the CyclicalTransformer, see this [line of code](https://github.com/feature-engine/feature_engine/blob/main/feature_engine/creation/cyclical.py#L145).

We could extend both the CombineWithReference and the MathCombinator. The changes are fairly straitghtforward.

Would you like to give it a go?

[2021-11-29 22:32] solegalli commented on #330
We do want to expand the functionality of Feature-engine to work with datetime variables. See for example #67. I think that would be the first step. And then we can see how to best implement datetime combinations.

I am inclined to have separate transformers to handle datetime variables. Otherwise, the transformers become too complicated.

We are a bit short of hands. So if you fancy helping us ex

[2021-11-29 22:33] solegalli commented on #67
Hi @dodoarg

That would be amazing. We welcome all the help we can get :)

[2021-11-29 22:52] kylegilde commented on #330
I think it does make sense to have datetime transformers in its own module. I'll give #67 a look. Thanks!

[2021-11-29 23:03] kylegilde commented on #331
That does seem straightforward.

I'll take a look at your [contributor guide ](https://feature-engine.readthedocs.io/en/latest/contribute/index.html)and maybe give it a shot.

Thanks!

[2021-11-30 08:25] solegalli commented on #331
Great! I look forward to it.

Check this [contribute guide](https://feature-engine.readthedocs.io/en/pydata_template/contribute/index.html) instead. There is more detail in it and it will be released in the next round.

[2021-12-01 00:37] Morgan-Sell commented on #294
I'm happy to work on the warning telling the user where the NaN exists. Please assign the task to me.

[2021-12-01 06:56] solegalli commented on #294
Super, thank you! Go for it :)

[2021-12-02 01:24] Morgan-Sell commented on #294
Just to confirm, the objective is to have the warning, "NaN values were introduced in the returned dataframe by the encoder..." include the names of the columns that are comprised of NaN values and to implement the corresponding unit tests. Is there anything else?

[2021-12-02 08:00] solegalli commented on #294
The idea is to change this sentence:
"NaN values were introduced in the returned dataframe by the encoder."

by something like:
"NaN values were introduced in variables [list with the variable names] during the encoding."

where [list with the variable names] is the variables in which NaN were introduced.

We need to change the error message and the code in the class so that it captures the names

[2021-12-02 10:23] solegalli commented on #67
question @ChristopherGS and @NicoGalli

We want to introduce new functionality to extract temporal features from a datetime variable.

datetime variables can have dates, times or both.

the new functionality wants to extract date derived features from the date part if there is one (month, day, etc) and time  (hr, min) features from the time part (if it exists).

My original idea was to have 3 tran

[2021-12-02 13:27] SunnyxBd commented on #296
HI @solegalli , I'm thinking of picking up this issue.
what do you think?

[2021-12-02 13:31] solegalli commented on #296
I think it is a great idea :)
I look forward to it

[2021-12-02 13:52] SunnyxBd commented on #296
@solegalli in which folder does this predictor go? in 'creation' folder?

[2021-12-02 13:57] solegalli commented on #296
a new one: prediction

does not exist yet :)

[2021-12-02 15:10] SunnyxBd commented on #296
@solegalli
I am trying to push into my branch but I am unable to do it.

remote: Permission to feature-engine/feature_engine.git denied to SunnyxBd.
fatal: unable to access 'https://github.com/feature-engine/feature_engine.git/': The requested URL returned error: 403

[2021-12-03 01:02] NicoGalli commented on #67
@solegalli initially, working with dates and times are always a challenge as per de amount of formats, timezones, calendars, dailylight saving time and lot of ETCs. After have said that and taking into account that Datetime, Time and Date are 3 differents classes from which you will derive different new features, this may be a good case to keep it separated! I would recommend start with de Datetim

[2021-12-03 07:28] solegalli commented on #67
@dodoarg as per Nico's suggestion let's begin by creating the DateTime class that derives all features, and then we see if we need to break it down.

[2021-12-04 01:29] Morgan-Sell commented on #294
Ok, great, that's what I thought. I implemented the code. I now need to develop the unit test. I don't see a **test_base_encoder.py** file. Should I create one or add to one of the other "test_encoding" files?

[2021-12-05 03:31] kylegilde commented on #327
Should the set of features be a clique, where they are all correlated with each other?

https://en.wikipedia.org/wiki/Clique_(graph_theory)

[2021-12-06 12:30] solegalli commented on #327
I am not familiar with graph theory at the moment.

I would welcome references on the use of the suggested methods for feature selection. This is kind of a per-requisite to go ahead with a class implementation.

[2021-12-06 13:02] solegalli commented on #294
We would have to add 1 test in each one of the encoders :)

Also, would you mind making a PR with the code changes you already made and linking this issue?

[2021-12-06 13:12] solegalli opened #336 "categorical encoders should not pick datetime variables automatically"
If a datetime variable is encoded as object or categorical, and the parameter `variables` is set to None, the transformer will detect those datetime variables as categorical and then encode them.

It might be better practice to exclude datetime variables when the transformer searches for variables automatically

[2021-12-06 13:12] solegalli commented on #336
@dodoarg I am capturing your concern about `_find_or_check_categorical_variables` in a new issue.

[2021-12-06 13:22] solegalli opened #337 "no numerical or categorical variable checks when user passes string instead of list"
`_find_or_check_numerical_variable`s and `_find_or_check_categorical_variables` don't check variable type when user passes string instead of list

Copying @dodoarg code that spots this issue:

Please have a look at the demo below (on the PowerTransformer, which I haven't touched in my fork) <br>
Here, _variables_ is passed as a list and the correct TypeError is thrown at the _find_or_check_numeric

[2021-12-07 01:34] Morgan-Sell commented on #294
I sent the PR. Of course, I immediately noticed an error after sending the PR. The existing code does not pass the tests.

How will I know when I can send a new PR w/ the revised code?

I'll work on the tests later this week.

[2021-12-07 08:44] solegalli commented on #294
I left a comment in the PR #338

We follow the conversation there now that we have a PR :)

Well done with the code changes

[2021-12-09 08:31] #337 closed

[2021-12-10 09:43] solegalli commented on #310
Yes, I also saw this problem coming.

The initial pipeline would have the feature engineering transformations for all features in the dataset. Then a couple of feature selection transformers to reduce the feature span. And finally, once you are happy to deploy with 15 from the original say 500 features, basically, you need to re-structure the pipeline.

The solution proposed here works well for wh

[2021-12-10 09:52] solegalli commented on #309
So basically, variables would have to be a subset of the variables entered by the user. Only those that are present in the input dataframe.

Makes sense. I see the problem.

We could add a parameter in the init, confirm_variables=False, that when true runs the functionality you mention during fit.

Doable. Would you like to try? @gverbock

[2021-12-11 14:13] gverbock commented on #309
@solegalli Happy to try this indeed. Would be in the beginning of 2022.

[2021-12-14 12:19] solegalli commented on #295
Hi @Morgan-Sell

Would you like to pick up this issue?

It is very similar to the one we just worked on.

We need to expand the error message to clarify which variables are the ones where nan were introduced.

[2021-12-15 00:22] Morgan-Sell commented on #295
Por supuesto!

Confirming the high-level scope:
- Create a new branch, PR, etc.
- Assess whether there is a NaN value in the dataframe that is inputted in the `transform()` methods for both equal_frequency.py and equal_width.py.
- Create a warning that is in the same vein as the one we developed for the "base_enconder NaN detection" issue.
- Implement the appropriate tests using `pytest.raises` in

[2021-12-16 02:02] Morgan-Sell commented on #295
Ah, yes, class inheritance! Thanks for the framework!

[2021-12-17 00:41] Morgan-Sell commented on #295
@solegalli, I thought I created a PR for this task. I went to the branch called "discretizer-nan-detection", which I created for this task, and selected "Open pull request".

<img width="927" alt="Screen Shot 2021-12-16 at 4 38 21 PM" src="https://user-images.githubusercontent.com/5661386/146469595-c6d536c9-b7c6-468e-b2c6-f67ae27c0c10.png">

However, I do not see a PR. I've already committed two e

[2021-12-17 09:41] solegalli commented on #295
We have a PR here #341

If you commit changes to the branch called "discretizer-nan-detection" they should appear in the PR straightaway.

[2021-12-17 11:34] solegalli opened #342 "time series forecasting: lag features"
This would be a transformer that lags features (pandas.shift())

The transformer would lag all numerical features or those entered by the user, and automatically concatenate them to the df.
Option to drop the original variables.

To think about: can we make multiple lags within one transformer? lag 1hr, lag2hrs etc, or would it be better to pile up 3 transformers instead?

The previous could be ve

[2021-12-17 11:37] solegalli opened #343 "time series forecasting: window features"
The transformer should create computations over windows of past values of the features, and populate them at time t, t being the time of the forecast.

It uses pandas rolling, outputs several comptutations, mean, max, std, etc, and pandas shift to move the computations to the right row.

[code]

[2021-12-17 21:18] #67 closed

[2021-12-22 20:35] solegalli opened #345 "create docstring functionality to bring forward bits of the docstrings from base classes"
Not to duplicate the docstrings over and over for those cases where the parameters do the same thing, we could have base dosctrings and reuse them. See for example how they do it in imbalanced learn:

decoration: https://github.com/scikit-learn-contrib/imbalanced-learn/blob/master/imblearn/under_sampling/_prototype_selection/_condensed_nearest_neighbour.py#L25

A base class: https://github.com/sci

[2021-12-22 20:37] solegalli opened #346 "update all init checks, across transformers, to inform users which value they entered by mistake."
Most transformers check the input values and raise an error if not allowed. But do not tell the user, what value they passed instead.

We simply need to extend the checks to return the f"Got {param} instead."

And then, hopefully, extend the tests accordingly as well. For how to test an error message, check tests for categorical encoders.

[2021-12-22 23:18] #329 closed

[2021-12-22 23:33] #336 closed

[2021-12-24 17:47] #331 closed

[2021-12-27 02:49] Morgan-Sell commented on #107
Hola @solegalli, are you still looking for help w/ this issue? I'm happy to tackle this one.

A couple of questions:

- Is the plan to create a new class which will be the parent class to both the DeciscisionTreeDiscretiser and a new child class that uses `DescisionTreeRegressor` to create new continuous features?

- You brought up an excellent point of the cost associated w/ generating all possib

[2021-12-27 12:13] solegalli commented on #107
Hi @Morgan-Sell

This class needs a bit of thinking and brainstorming of the design.

But before developing this one, I would like to have this other PR #189 resolved.

Maybe you would like to crack on with that one instead?

[2021-12-27 12:14] solegalli commented on #346
I made a start on this one, and it is a big change that is required. Bigger than I thought.

[2021-12-27 23:37] Morgan-Sell commented on #107
Sounds good, @solegalli. I thought the task was already "assigned" to someone else. I'm happy to work on it.

[2021-12-27 23:53] Morgan-Sell commented on #189
If no one is tackling this issue, I'll take it on.

Btw, be careful tossing around the term "straightforward"! Very few things are as straightforward as they seem ;p

[2021-12-28 12:44] #294 closed

[2021-12-28 12:55] solegalli commented on #189
It would be great if you can pick this one up @Morgan-Sell :)

[2021-12-31 18:28] kylegilde commented on #327
What if we added an argument to the class that checked that all of the features in the group are correlated to each other at the specified threshold? I think that this would remove the non-determinism.

[2021-12-31 20:19] FedericoMontana commented on #327
At some point in the past I tried this solution, but ended up disregarding it as at the end it was not as useful as I had thought. To ilustrase this, say that you have feature **a** correlated with **b**, **c** & **d** (but b, c & d are not correlated with each other). With the current implementation you would end up with only 1 cluster, using the logic you described you would end up with 3 cluste

[2022-01-01 12:25] solegalli commented on #327
Hi @FedericoMontana

Thanks for the info and the ideas. I am not deeply familiar with feature selection for clustering. So this is very useful.

Which of the methods [in the article you linked](https://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.295.8115&rep=rep1&type=pdf) is the equivalent of the one you are proposing?

[2022-01-02 18:56] Morgan-Sell commented on #296
@SunnyxBd, @solegalli

Has this task been scooped up? ;)

[2022-01-03 02:03] solegalli commented on #296
What do you mean?

The basic idea is at the top of the issue.

It requires investigating the sklearn base classes that are suitable for this estimator. We need (if it exists) the equivalent of the `TransformerMixin` but for an estimator instead of a transformer.

You can get some info from the sklearn docs. Search for "building your own estimator" and "sklearn".

[2022-01-03 02:04] solegalli commented on #296
There is a placeholder PR for this issue here #334

[2022-01-04 00:06] Morgan-Sell commented on #296
Sorry, I'm speaking yanqui slang ;)

Is @SunnyxBd already working on this issue? I'm trying to avoid duplicate efforts.

[2022-01-04 11:44] solegalli commented on #296
I think you are welcome to give it a go :) @Morgan-Sell

[2022-01-04 13:29] #295 closed

[2022-01-05 00:01] kylegilde commented on #330
I see that the datetime module was released today. If we wanted to proceed with a datetime subtraction class, would we just need to combine some parts of the DatetimeFeatures class w/ most of what's in the CombineWithReferenceFeature class? One additional argument would need to be output_units.

[2022-01-05 00:14] solegalli commented on #330
What you say sounds right. I would have an output units argument as well. some differences might be in seconds, so fractions of the day might not be very useful.

Would you like to give it a go?

[2022-01-05 01:44] kylegilde commented on #330
I might give it a go if I have some time this week/weekend.

[2022-01-07 22:42] kylegilde commented on #330
should I create a datetime_subtraction.py script in the datetime folder?

[2022-01-12 12:46] #189 closed

[2022-01-14 00:34] Morgan-Sell commented on #343
Hi @solegalli,

I'm considering taking on this issue. Which family - e.g., discretisation and encoding - will this class belong to? Or, will we create a new one?

Will this transformer be applied to all numerical columns in the provided dataframe? I guess we should check to see which columns are numerical.

[2022-01-15 14:02] solegalli commented on #343
I recommend to start with the lagged features issue. It is simpler.

It would go in a new module: **timeseries**. And inside that a submodule: **forecasting**

The same is true for the lagged features transformer.

[2022-01-16 01:05] Morgan-Sell commented on #342
Hola @solegalli,

Per your recommendation, I'll crawl before I walk. I'll start with this issue :)

[2022-01-17 14:03] solegalli commented on #342
Look forward to it  :)

 @Morgan-Sell

[2022-01-29 12:58] solegalli opened #364 "creation module: make classes compatible with sklearn"
https://scikit-learn.org/stable/glossary.html#term-feature-extractors

Feature extractors must implement at least:

-     fit
-     transform
-     get_feature_names
-     get_feature_names_out

At the moment, we do not have a unified system for the classes that create and add new features.

[2022-01-29 13:15] solegalli opened #365 "transformers that take y should check X.shape[0] == y.shape[0]."
X.shape[0] should be the same as y.shape[0]. If this requisite is not met, an exception of type ValueError should be raised.

https://scikit-learn.org/stable/developers/develop.html#fitting

[2022-01-29 17:43] hectorpatino opened #366 "Output features lists for transformers"
**Is your feature request related to a problem? Please describe.**
Hola @solegalli voy a escribir este issue en español, primero que todo felicidades por el último realease, me ha dado un poco duro el cambio entre la api y el user guide, pero entiendo que era necesario. Ahora si el issue, creo que es necesario que todos los transformadores tengan algo tipo `features_in_`, `features_out_` donde se

[2022-01-29 18:55] solegalli commented on #366
Hola @hectorpatino

Que bueno tenerte nuevamente entre nosotros :)

Lamento que haya sido duro el cambio en los docs. Sos el primero que da feedback al respecto :_(

Respecto a este issue, si, scikit-learn deployed esos features que decis vos en su ultimo release asi que deberiamos traer la funcionalidad a feature-engine tambien.

Habiamos iniciado un PR #298 pero quedo ahi.

Ahora la libreria cam

[2022-01-29 20:26] hectorpatino commented on #366
@solegalli no me malinterpretes es solo que estaba acostumbrado al de antes, no es mal feedback :wink:. No he visto esos cambios en la api de sklearn, no sé si los pasé por alto en algún momento.

Estuve revisando #298 (estuvo algo largo), pero a pesar de que vi que te opusiste, al final creo que la idea caló; sin embargo me guastaría tener claras algunas cosas:

-  ¿Te parece bien `input_features

[2022-01-31 17:32] #345 closed

[2022-01-31 20:44] noahjgreen295 opened #368 "SklearnTransformerWrapper: cross-validation error when wrapping OneHotEncoder"
**Describe the bug**
I am finding that when I create an sklearn [Pipeline](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html) that uses the [SklearnTransformerWrapper](https://feature-engine.readthedocs.io/en/0.6.x_a/wrappers/Wrapper.html)  to wrap a [OneHotEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html), I get the

[2022-01-31 23:31] bmreiniger commented on #368
I think we've likely identified the problem in the stackexchange post.  I think either setting the index to match the original when framifying the `OneHotEncoder`'s output, or using `ignore_index=True` in the subsequent concatenation, could work.
https://github.com/feature-engine/feature_engine/blob/e97bd4b38458ff38bd8867fe877e53c100a51a7a/feature_engine/wrappers/wrappers.py#L157

[2022-02-01 18:32] solegalli commented on #368
Interesting. Thanks for bringing this up.

If there is a problem with the concatenation, then other transformers that concatenate features might also have the same issue when doing cross-validation :_(

Would you like to make a PR with the proposed changes?

We probably need to add a test with similar code to the one you have here, that fails with the current implementation, and then it should pas

[2022-02-01 22:24] solegalli commented on #366
Creo que deberiamos agregar un attributo en fit que se llame `feaures_in_` como [aca](https://github.com/feature-engine/feature_engine/pull/298/files#diff-48499fb9da380e9dbdf8c272c921231c581accb1555d01965ce78d8ea11d57e2R101)

Y despues una funcion que se llame `get_feature_names_out` que tenga funcionalidad parecida a [esta](https://github.com/feature-engine/feature_engine/pull/298/files#diff-4849

[2022-02-02 03:12] noahjgreen295 commented on #368
I would like to help! Let me work to get dev environment set up and try to block out some time to work on this.

[2022-02-02 17:37] bmreiniger commented on #368
I can probably help if Noah doesn't have time.

I did a check for `pd.concat` issues elsewhere.  I can't promise this is exhaustive, and I haven't completed a check whether issues arise, but here's a start.

In [Winsorizer](https://github.com/feature-engine/feature_engine/blob/e97bd4b38458ff38bd8867fe877e53c100a51a7a/feature_engine/outliers/winsorizer.py#L139), I think it's fine because the things

[2022-02-07 21:54] rajshree8217 opened #371 "add inverse_transform functionality to sklearnTransformerWrapper"
Please add inverse_transform functionality to the sklearnTransformerWrapper .

[2022-02-07 23:48] Morgan-Sell commented on #227
Hi @solegalli,

Since I helped with the TargetMeanRegressor and TargetMeanClassifier, I'm happy to work on this issue. I recognize we first need to complete the classes. I believe there are a couple of items still outstanding.

[2022-02-09 10:51] GLevV commented on #292
This is an ok FS method, i just don't think it should be used as step in pipeline as done in satra and should be more of a model examination tool.

[code]

This will allow user to inspect specific features and try to understand why it is not very useful for selected model, instead of being just a drop-in grey-box transformer.

[2022-02-10 22:53] noahjgreen295 commented on #368
Sorry for delayed start! Starting on it today.

[2022-02-11 12:15] solegalli commented on #368
No worries at all. We welcome all the help that we can get, whenever we can get it ;)

[2022-02-12 18:11] Morgan-Sell commented on #371
Vamos, @solegalli!

I'm happy to help however I can ;)

[2022-02-14 04:02] noahjgreen295 commented on #368
Thanks! Quick update: can't reproduce the issue in the new environment I set up (working on this at home instead of my work computer so that I can contribute from it). Comparing library versions, stepping thru with debugger, etc. Will update again once I get it reproduced and fixed.

[2022-02-15 02:28] noahjgreen295 commented on #368
Hi - I completed both the unit test and the fix for the `SklearnWrapper` issue, and am ready to submit! Happy to help on the other encoder issues @bmreiniger mentioned; should I make them part of this PR or submit this PR now and start a new one?

[2022-02-15 20:33] solegalli commented on #368
Hi @noahjgreen295

Sounds great. You need to upload the changes to your repo in a new branch. And from there, make a PR to this repo (a new one yes).

This conversation here is on an issue. We can't add code here as far as I know.

Cheers

[2022-02-15 22:49] hectorpatino commented on #366
Hola Sole, en #372 dices que cierras este issue pero veo cosas en el TODO, estoy algo confundido.

[2022-02-16 04:16] noahjgreen295 commented on #368
OK PR is [here](https://github.com/feature-engine/feature_engine/pull/375)!
I followed all instructions including using isort, black, and tox, but am still getting an error on one of the style checks.

[2022-02-17 01:56] solegalli commented on #366
Yep, it will close this issue when we finish adding the required changes and merge the PR.

[2022-02-18 00:37] #309 closed

[2022-02-18 16:09] #368 closed

[2022-02-18 17:16] noahjgreen295 commented on #368
Thanks again for guiding me through the process. Happy our fix is now merged!
In terms of what @bmreiniger mentions above, would you like me to help on that - starting a separate issue and PR?

[2022-02-19 01:21] Morgan-Sell commented on #303
Hi @solegalli,

This looks interesting!

Are you envisioning that OHE allows the following functionality?

- init has a param called `variables_w_new_category` that represents which variables may contain the new category(ies).
- `new_categories` - a list of categories that should be encoded in the variables included in the `variables_w_new_category`
- the `new_categories` values would be added as

[2022-02-19 14:54] noahjgreen295 opened #376 "Encoders that are f(X, y) can produce nan results when y has non-standard index and X becomes an np.ndarray"
**Describe the bug**
In encoders where the feature encoding is a function of both the feature and the target (e.g. [feature_engine.encoding.MeanEncoder](https://feature-engine.readthedocs.io/en/1.2.x/api_doc/encoding/MeanEncoder.html)), resulting encoding can become all `nan` if:
- Feature `DataFrame` `X` is transformed upstream into an `np.ndarray` by a standard `sklearn` transformer.
**and**
- F

[2022-02-19 14:57] noahjgreen295 commented on #376
Am taking this issue; starting on unit test and fix now.

[2022-02-19 16:54] noahjgreen295 commented on #376
PR is [here](https://github.com/feature-engine/feature_engine/pull/377)!

[2022-02-19 19:43] PeterPirog opened #378 "Can feature engine work with modin.pandas?"
Is possible to make  feature engine  compatible with pandas dataframes created by modin?
[https://docs.ray.io/en/latest/data/modin/index.html](https://docs.ray.io/en/latest/data/modin/index.html)

Pandas modin is very effective way to paralelly computation of dataframes.
The dataframe type of modin dataframes  is <class 'modin.pandas.dataframe.DataFrame'>

but in file [https://github.com/feature-e

[2022-02-20 15:35] solegalli commented on #378
Hi @PeterPirog

Thanks a lot for the suggestion!

Long term, I would say yes. I thought of dask. I wasn't aware of modin but we can explore this option as well.

Short term, we have no capacity to embark on adding and then supporting this functionality.

We would need at least one person dedicated to introduce this and then helping support the code for the foreseeable future.

[2022-02-20 15:44] solegalli commented on #376
Hi @noahjgreen295

Thanks for such a great description of the issue.

Does the OrdinalEncoder not have the issue when the encoding is set to "ordered"? it also uses y.

I see the problem and it needs fixing.

I also see that the problem is artificially introduced because of a workaround I made in the function `is_dataframe` to accept numpy arrays, so that I could use the battery of tests from the

[2022-02-20 16:37] PeterPirog commented on #378
@solegalli  Thank You for the answer. I asked about modin with ray parallel computations because Ray  is very useful for pytorch an tensorflow distributed computation.  I  use Ray for  tensorflow hyperparametres opimization, here is example: [https://docs.ray.io/en/latest/tune/examples/tune_mnist_keras.html](https://docs.ray.io/en/latest/tune/examples/tune_mnist_keras.html). I will try to modify f

[2022-02-21 07:50] PeterPirog commented on #378
@solegalli I opened issue on modin github about modin equivalents for some pandas classes:
[https://github.com/modin-project/modin/issues/4236](https://github.com/modin-project/modin/issues/4236)

You wrote about dask, modin has support for ray and dask:
[https://modin.readthedocs.io/en/stable/](https://modin.readthedocs.io/en/stable/)
[code]

[2022-02-21 12:48] solegalli commented on #378
@PeterPirog great! Thank you.

[2022-02-22 01:27] #342 closed

[2022-02-22 07:23] PeterPirog opened #379 "EqualFrequencyDiscretiser bins defined as list"
I suggest some new functionality in class

`class feature_engine.discretisation.EqualFrequencyDiscretiser(variables=None, q=10, return_object=False, return_boundaries=False)`

now q is integer type, but it can e defined as list  with strings like:
`
q=['very_low','low','medium','high','very_high']`

Number of bins equals: len(q)
The result is object  not integer with values from list so:

'very_lo

[2022-02-22 18:29] solegalli commented on #379
Hi @PeterPirog

Thank you for the suggestion.

If I understand this correctly, independently of how we implement it, what you would like to see is the option to name the intervals with bespoke strings. These strings would be entered by the user.

Is this correct?

The logic to return integers is that we already have a value that can be used by a machine learning model.

Users found that the intege

[2022-02-22 20:36] PeterPirog commented on #379
@solegalli My goal is to visualize similarity and correlation between categorical and numerical values.
Step 1: change numerical values to bins (categorical values)
Step 2: create  text values created by column name + category name
Step 3: merge all feature columns into single text feature
Step 4: make tokenization of text and create words embeding as vectors (embedings are trained in model)
Step

[2022-02-24 01:05] solegalli commented on #379
Thank you so much @PeterPirog

I've not come across with this type of analysis before.

I reckon you need the specific label names for the analysis, but from a practical perspective, would this not be possible with the current integer encoded interval names?

Before committing to change the API, I would like to understand a bit more, to what extent this is something that would be of use for the wi

[2022-02-24 02:53] Morgan-Sell commented on #343
Hi @solegalli,

I'm happy to continue working on the time-series module or work on issue #303. Let me know what you think!

[2022-02-24 12:52] PeterPirog commented on #379
@solegalli  Of course there is no problem with conversion integer to string labels manualy.
I think there is no reason to make big changes in API, I have some idea how to make compatibility.

`feature_engine.discretisation.EqualFrequencyDiscretiser(variables=None, q=10, return_object=False, return_boundaries=False)`

: int **list, dict**, default=10
Desired number of equal frequency intervals / bi

[2022-02-24 18:41] solegalli commented on #379
If we were to make this change, I would prefer to leave the functionality of `q` as it is now, and add an additional parameter, called `labels`, that defaults to None, where the user could pass a list or dictionary. We would have to do this for the equal frequency, equal width and arbitrary discretizer.

But, as I said, I would  like to wait a few months and see if this issue has some support from

[2022-02-24 18:50] solegalli commented on #343
Hi @Morgan-Sell

Sure. We'll have @KishManani supporting on this issue as well.

[2022-03-04 13:22] qiaott commented on #327
Hey, @solegalli I had encountered the same issue when I used SmartCorrelatedSelection class.

I had an idea of fixing the issue and I prepared a notebook and put all the functions in `utils.py` to illustrate my ideas. It would be great if you can have a look.

https://github.com/qiaott/path_to_opensource/tree/main/feature_engine_issue_327

Happy to discuss it in a call.

[2022-03-09 12:52] gverbock opened #383 "Wrong reference for SelectByShuffling"
If I am right, the calculation of the "scorer" between the unshuffled and the shuffled data set is not fair.

The initial model performance is computed on the test set only:

[code]

while the shuffled performance is computed on the full (shuffled) data set

[code]

This leads to negative values for the performance drift
[code]

A mapping of CV model to the fold used for test could be a solution.

[2022-03-10 09:18] solegalli commented on #383
Yes, good catch @gverbock !

Would you be able to try and fix that? If yes, please pull the branch `get_feature_names` and make a PR to that branch as well :)

Thank you!

[2022-03-10 09:34] solegalli commented on #327
Thank @qiaott and everyone else (@FedericoMontana @kylegilde ) for discussions on this topic.

Apologies @qiaott for the late response.

To summarize, the issue that we are discussing is that the selection using correlation (DropCorrelatedFeatures and SmartCorrelation classes)

- are non-deterministic (different feature order will return different feature subsets)
- assumes that all features in th

[2022-03-13 22:27] Morgan-Sell opened #385 "GuassianDistributionDiscretizer"
**Is your feature request related to a problem? Please describe.**
I'm developing a DigitalCommerceIndex class (in Python) that can rank U.S. counties on any continuous numeric variable.  To do so, the class allows the user to discretize the continuous variables based on params like `index_scale`, e.g. 1 to 5 and 1 to 10 and `strategy` which references feature-engine's EqualFrequencyDiscrteriser a

[2022-03-14 08:19] KishManani opened #386 "Timeseries forecasting: Expanding window features"
Creating window features with an expanding rather than rolling window (see https://github.com/feature-engine/feature_engine/pull/380#issuecomment-1062057682).

@Morgan-Sell and @solegalli I have already picked this up and will tag you when ready, thanks!

[2022-03-14 15:51] solegalli opened #387 "update imputer class names"
Consider making imputer classes name shorter:

- AddMissingIndicator to MissingIndicator
- ArbitraryNumberImputer to ArbitraryImputer
- EndTailImputer to ExtremeImputer (?)
- MeanMedianImputer to MeanImputer (?)
- RandomSampleImputer to RandomImputer

Use a deprecation cycle and warning.

[2022-03-14 15:53] solegalli opened #388 "add missing_only=True to all imputers to use in combination with variables=None"
Add missing_only functionality to all imputers to use in combination with variables=None

When variables is None, the imputers select all numerical, or categorical or all variables by default. With the missing_only, it would select only those from each subgroup that show missing data during fit.

[2022-03-14 15:55] solegalli opened #389 "add option to automatically add indicators in imputers meanmedian, random, categorical imputers"
Inspired in sklearn SimpleImputer() considering if we should add a parameter that allows users to automatically create and add the missing indicators when using one of these transformers.

Not sure how much value it adds, because we could line up the add missing indicator with these imputers. I guess, it saves users one line of coding per imputer.

[2022-03-16 00:45] Morgan-Sell commented on #385
Hi @solegalli,

No problem. Imagine the following pandas series:

`var_A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]`

If we apply the EqualFrequencyDiscretiser with `bins` = 6, the function (internally) produces the following dictionary:
[code]
In contrast, the GaussianDiscretizer would generate the following dictionary:

[code]

[2022-03-16 05:26] solegalli commented on #385
That clears things up, thank you!

By any chance, do you have a reference to share about where or how this method has been used?

If we incorporated this method, we would kind of need to point users to scenarios where using this procedure would be appropriate.

[2022-03-20 01:05] KishManani commented on #386
@Morgan-Sell and @solegalli. I've got a WIP branch here: https://github.com/KishManani/feature_engine/commit/a2d061a269e4da67fd11284f4d30811a30774faf. I rebased from the current PR of window features https://github.com/feature-engine/feature_engine/pull/380 mainly to get access to the `BaseForecast` class. Other then that they should be pretty independent. I refactored some of the tests and simpli

[2022-03-20 02:27] Morgan-Sell commented on #385
I see this method being used when designing a normalized index ranking. It's similar to when teachers normalize students' grades, so the majority of students receive Cs (average) and the number of students who have more "extreme" scores decreases.

As mentioned, I'm considering developing this discretizer for an index. I would like the majority of U.S. towns to receive an average score.

[2022-03-21 10:56] solegalli commented on #386
I saw your comments on the windows features PR, very useful thank you! I will try and bring them in during this week.

Could you make a PR to this repo from your expanding windows branch? so we keep the conversation in feature-engine's main repo? You can add [WIP] if you'd prefer us to wait with the review.

I look forward to the new class :)

[2022-03-21 11:06] solegalli commented on #385
Thank you @Morgan-Sell

Excuse my ignorance here, would this be a feature destined to analysis? or would you train a machine learning model with a feature like this?

[2022-03-22 03:30] Morgan-Sell commented on #385
My use case is for analysis. Does feat-engine support such transformations? ;)

I'm unsure how others would use it. I've never used it in an ML scenario. At the same time, I rarely discretize variables when designing ML models. I should probably fix that habit ;)

[2022-03-22 06:35] solegalli commented on #385
At the moment, we have tailored Feature-engine's transformations to those that you would / could use to train machine learning models.

Having said this, I am considering adding a module for analysis. So, I'd say, let's wait a bit, see if this issue gathers support from the community, and when we are ready to incorporate the analysis module, we see how we can make it fit.

[2022-03-24 10:37] solegalli commented on #388
As part of this change, ensure missing_only only works when variables is None in the AddMissingIndicator and DropMissingData classes.

At the moment, the transformers will also check the users variables.

[2022-03-25 10:08] solegalli opened #393 "add user guide and api docs for target mean classifier and regressor"
We've introduced 2 new classes, a regressor and a classifier. At the moment, we only use them for the SelectByTargetMean() feature selector, but I think we my use them to create more features.

Anyhow, we need to add them to the docs, both user_guide and API, and the index and readme

[2022-03-25 10:09] solegalli opened #394 "new discretiser: sorts variables in bins, and replaces bins by target mean value"
We can use the functionality of the target mean classifiers or regressor probably.

[2022-03-25 10:10] solegalli commented on #383
closed in #384

[2022-03-25 10:10] #383 closed

[2022-03-26 06:44] solegalli opened #395 "create documentation for the use of the shared estimator tests"
check_estimator has a lot of tests that should be carried to Feature-engine transformers. We need to document them to help devs use them

[2022-03-26 06:49] solegalli opened #396 "organise docstrings into module"
At the moment, most docstrings are contained in the _docstrings.py module.

We should create a folder called docstrings, and within it, create separate .py for attributes in the init, fit, transform etc.

We need to think if we also want to split it in imputers, encoders, etc. But we should probably centralize docstrings in this module instad of having it in base classes or within modules.

[2022-03-26 08:02] #227 closed

[2022-03-26 08:02] #316 closed

[2022-03-26 08:02] #317 closed

[2022-03-26 08:02] #364 closed

[2022-03-26 08:02] #366 closed

[2022-03-26 08:02] #371 closed

[2022-03-26 08:02] #238 closed

[2022-03-26 08:02] #296 closed

[2022-03-28 11:30] solegalli opened #397 "extend DatetimeFeatures to extract features from index as well"
Hey @dodoarg

Since you created this transformer, I thought I would run this issue by you, in case you have some time in your hands and would be interested in this small addition to its functionality.

The idea is that the parameter `variables` in the init, also takes the string `"index"` as input, and then extracts the datetime features from the index, which should be datetime of course.

It is c

[2022-03-28 14:52] #343 closed

[2022-03-28 18:20] solegalli commented on #376
**OK scenarios:**
- If X is array and y is array ==> no problem
- If X is a DataFrame and y is a series and their index match ==> no problem
- X is array (say, result of sklearn transformer) and y is a series indexed at 0 ==> no problem (am I right?)

**Problematic cases:**
- If X is a DataFrame and y is a series and their index does not match ==> error (but why would the index not match?)
This is