[2022-03-28 23:22] noahjgreen295 commented on #376
These all make sense to me, and I think they cover all possibilities.
RE your comments in the PR, I can definitely remove the portions of the logic where X could be a Series, since that is not possible.

**OK scenarios:**
-  Everything you have looks correct to me

**Problematic cases**
- I can detect that and raise an error

**Error scenarios**
- These both seem like the scenarios we've been talk

[2022-03-29 01:01] noahjgreen295 commented on #376
All changes done except whether to merge logic of `_check_X_y_pd_np_mismatch()` into another function (`self._check_fit_input_and_variables()`? , `_is_dataframe()`? etc.) or whether good as is.

[2022-03-29 16:31] solegalli opened #402 "get_feature_names_out does not work with the pipeline"
I think this is because the pipeline passes by default `input_features`, and not all transformers allow the parameter input_features at the moment.

We need to fix this and add a couple of tests to ensure it works with the pipeline.

Hey @janrito @hectorpatino

I would really appreciate if you could help me fix it :)

[2022-03-29 22:17] particle1331 opened #403 "Adding default categories in OneHotEncoder"
**Is your feature request related to a problem? Please describe.**
Implement in `OneHotEncoder` a way to list all possible values in a categorical feature. This can be important for example when cross-validating a pipeline. Consider a feature `f` with values `[f1, f2, f3]`. Suppose one fold has only values `f1` and `f2`, then the input data frame will be encoded to only have two additional columns

[2022-03-29 22:20] particle1331 commented on #402
The issue #403 that I just opened is related to this! I tried creating a pipeline with one hot encoder but kept getting `nan` in `cross_val_score` function of scikit-learn.

[2022-03-30 07:10] solegalli commented on #403
Thank you for the suggestion @particle1331

You are probably after something similar to the parameter "categories" in sklearn's OneHotEncoder.

Probably also a solution to this other issue #303

[2022-03-30 07:13] solegalli commented on #402
The `get_feature_names_out functionality` is not released yet. So unless you are using Feature-engine's version from the main branch in this repo, this should not trigger your error.

Issue #403 does not mention anything about getting nan. Could you create a separate issue to report the potential bug and copy and paste the code that is triggering the error please?

[2022-03-30 15:56] solegalli opened #404 "multivariate imputation"
In multivariate imputation, we estimate the values of missing data using regression or classification models based of the other variables in the data.

The iterativeimputer will allows us only to use either one of regression or classification. But often we have binary, discrete and continuous variables in our datasets. So we would like to use a suitable model for each variable to carry out the imp

[2022-03-30 17:29] dodoarg commented on #397
Hi! Nice to hear from you.
I think I got what the requested functionality is. I have just landed a full time job so I'm not sure how long it'll take me but I can have a look into this yea

[2022-03-31 06:37] solegalli commented on #397
Congratulations @dodoarg !

Your employer is lucky to have you :)

[2022-04-04 15:30] noahjgreen295 opened #406 "DropFeatures fails when features_to_drop is a string"
**Describe the bug**
`DropFeatures` [type hint and documentation says](https://feature-engine.readthedocs.io/en/1.2.x/api_doc/selection/DropFeatures.html#:~:text=Parameters,from%20the%20dataframe) `features_to_drop` can take `str or list` as parameter, but instantiation fails when `features_to_drop` is a string.

**To Reproduce**
`transformer=DropFeatures(features_to_drop="some_string")`

**Expect

[2022-04-04 16:21] solegalli commented on #406
Thank you!

[2022-04-04 16:23] noahjgreen295 commented on #406
no prob, on it now!

[2022-04-04 16:28] noahjgreen295 commented on #406
OK, PR #407 here!

[2022-04-06 08:22] #397 closed

[2022-04-06 15:46] #406 closed

[2022-04-07 22:40] Pacman1984 opened #411 "[FEATURE] Categorical Variable Concatenation"
## Expected Behavior

Concatenating categorical variables is a powerful feature engineering technique, often used in competitions. You could watch the 9 minuts of this video for understanding the topic (i placed the video on the right starting minute already): [Winning Solution --> RecSys 2020 Tutorial: Feature Engineering for Recommender Systems](https://youtu.be/uROvhp7cj6Q?t=1704),

Categorical

[2022-04-08 10:44] solegalli commented on #411
Oh yes, I love well crafted feature requests, with plenty of links and examples :)

Thank you so much for that.

I've seen this technique before. In fact, it was explained, if I remember correctly, in a course in coursera called "How to Win a Data Science Competition: Learn from Top Kagglers". But I don't seem to be able to find the course any more.

I don't seem to find the class ColumnsConcatena

[2022-04-08 11:10] Pacman1984 commented on #411
Hi,

the code is in the __ini__.py file [Link](https://github.com/Pacman1984/catcomb/blob/master/catcomb/__init__.py):

![image](https://user-images.githubusercontent.com/14351072/162423496-b90229ae-7333-439c-8a1e-faeec6825928.png)

Regarding your considerations:

1. I have already implemented a strategy to only consider categorical variables with a cardinality < threshold (look at the max_cardina

[2022-04-09 17:49] Morgan-Sell commented on #394
Hola @solegalli, how does this transformer from the TargetMeanRegressor that we created for feature selection?

[2022-04-09 17:59] Morgan-Sell commented on #107
Hola @solegalli, I see this one is now a priority.

It seems a bit much to autogenerate all unique feature permutations and apply them all to a decision tree. As @SuryaThiru, I think the combinations are subject matter specific; therefore, we should allow the user to specify the features.

This will also avoid unnecessary computational costs.

On the other hand, we could create an init param calle

[2022-04-09 18:01] Morgan-Sell commented on #404
Looks fun, @solegalli! I'm happy to tackle this issue. Which issue do you prefer we address first? This issue or #107?

[2022-04-11 17:21] solegalli commented on #402
@Morgan-Sell

I need help with this issue, because we need to resolve it before launching version 1.3

The idea is that now, all classes have the method `get_feature_names_out()` that return the name of the features in the transformed dataset. That is, the dataset that results of applying the transform() method.

A bunch of those methods in the classes take no input. That makes the method not comp

[2022-04-11 17:24] solegalli commented on #394
Actually it does not much in functionality. The TargetMeanRegressor is an estimator. We need to create a transformer instead, inheriting BaseEstimator and TrasformerMixin only. And then, we would not transform categorical variables, only numerical ones.

So it is a bit simpler. Give it a go if you fancy :)

[2022-04-11 22:59] Morgan-Sell commented on #402
hola @solegalli, me encargo!

It seems straightforward; although, scoping code is frequently deceiving ;)

[2022-04-13 01:06] Morgan-Sell commented on #394
@solegalli,

Should the class have a `binner_dict_` param similar to the AribitraryDiscretiser? If not, how will the transformer know which ranges to discretize?

[2022-04-13 07:09] #386 closed

[2022-04-14 04:42] solegalli opened #413 "add function to check that y is binary in dataframe_checks"
Many transformers in feature engine require that y is binary. At the moment we do this check within each transformer. We should create a function that unifies this behaviour and call it from the transformers instead of repeating all the logic every time.

Example: encoders woe, pratio

[2022-04-14 05:07] #376 closed

[2022-04-14 05:07] #365 closed

[2022-04-14 05:09] solegalli commented on #394
Same attributes as the other discretizers yes.

[2022-04-14 07:06] #396 closed

[2022-04-14 17:09] david-cortes opened #416 "`SklearnTransformerWrapper` fails when FunctionTransformer used with non-numerical columns"
The `SklearnTransformerWrapper` will throw an error if I try to use it for non-numerical columns, even though some scikit-learn transformers are able to handle non-numerical columns.

Consider the following example:
[code]
[code]

[2022-04-14 17:59] noahjgreen295 commented on #56
Sorry I missed the merge on the last PR - was due to work situation. Long story short re that, I have a lot more free time on my hands - at least for now :-)
Would it be helpful for me to take on some of the backlog priority issues, including this one?

[2022-04-14 18:25] david-cortes opened #417 "`CountFrequencyEncoder` could output zeros for new categories"
The `CountFrequencyEncoder` has an `errors` argument which can either raise an error or output NaNs when encountering new categories. For this particular class, it'd make sense (perhaps even as a default behavior) to output zeros when a new category is encoded instead of generating NaNs.

[2022-04-14 18:26] solegalli commented on #56
Hi @noahjgreen295

Nice to hear back from you. No worries at all... I really appreciate your help, so please do keep it coming ;)

[2022-04-14 18:28] david-cortes opened #418 "Would be useful to have a simple categorical levels encoder"
It would be useful if there could be a class that would encode `object` / `category` and similar dtypes into `pd.Categorical`, while remembering the categories / encodings / levels that were used when calling `transform` later, but without applying any further transformation like one-hot (akin to R's `factor(data, levels)`).

[2022-04-15 06:21] solegalli commented on #418
I am not sure I understand this class. Could you provide an example of the desired functionality?

[2022-04-15 06:25] solegalli commented on #417
Thank you for the suggestion @david-cortes

I see the logic of returning zeros on unseen categories, and would he happy to have that implemented.

Not sure that I would make that the default implementation, though. I still prefer the default to alert the user that some categories were not seen (with an error). This is particularly useful for less experienced data scientists who may not be aware th

[2022-04-15 06:27] solegalli commented on #416
Hi @david-cortes

Thank you for bringing this up. It was out of my radar.

It should be an easy fix though, we would just need to add the FunctionTransformer (and any other class that you are aware that can take categorical variables) to the list that allows that behaviour within the SklearnTransformerWrapper.

Would you like to give it a go?

[2022-04-15 18:43] david-cortes commented on #416
I'm not sure that having a list of exceptions is the right way to approach the problem. One might want to use `SklearnTransformerWrapper` with user-defined transformers that are scikit-learn compatible too.

[2022-04-15 18:46] david-cortes commented on #418
Something like this:
[code]

Should be very easy to build such a transformer, and it'd come very handy for working with libraries that support pandas `category` dtype as inputs, such as `lightgbm`.

[2022-04-15 18:48] david-cortes commented on #417
Ok, I'll submit a PR later, perhaps towards the end of this month.

[2022-04-15 20:42] solegalli commented on #416
What would you suggest?

[2022-04-17 05:46] solegalli opened #420 "expand non_fitted_error_checks for methods get_feature_names_out and inverse transform"
Methods transform, inverse_transform, get_feature_names_out and other specific methods (see DropMissingData) should run only after the transformer was fit.

At the moment, we test that this is the case only for the transform method. We should expand this to test all methods.

[2022-04-18 13:51] david-cortes commented on #416
(sorry, seems somehow my earlier comment got lost)

I think it’d be better to avoid this check altogether and let the transformer throw an error instead. I guess most scikit-learn transformers will be able to throw an error in such cases, even if the error message is not as informative.

[2022-04-22 13:38] Arminkhayati opened #425 "Feature_engine installed but can not import"
HI

**Describe the bug**
I have tried and installed Feature_Engine 1.2 using both pip and conda install command but when I want to import it in my jupyter notebook it says
`No module named 'feature_engine'`

I can verify that feature_engine is installed in my environment but when I run jupyter notebook and try to import it, that error rises. (And yes I am running jupyter notebook from the environm

[2022-04-25 06:36] solegalli commented on #425
Sorry for the delay, I was on holidays.

A couple of sanity checks:

1. Did you change the kernel in the jupyter notebook to the environment in which feature-engine is installed? (from tab "Kernel" -> "change kernel")
2. Did you re-start the jupyter notebook kernel after installing feature engine?

From your message above I guess the answer to the above questions is yes. If that is the case, could

[2022-04-25 09:12] solegalli commented on #416
While I agree that having no check for variable types would be easier to implement and to maintain, it goes a bit against Feature-engine's spirit, where we try to enforce applying suitable transformations to adequate variable types.

[2022-04-25 10:03] solegalli commented on #418
If I understand this correctly, the class is intended only to add the categories to the variables, when applying the transform method. So fit() would learn the category values and transform would apply those values to the data, whether the categories are present or not.

In what scenarios would this transformer be needed? would you be able to give some examples?

[2022-04-25 12:01] solegalli opened #426 "one hot encoder of frequent categories should capture top categories with similar number of observations"
At the moment the OHE will create binary variables for the top k categories with most observations. However, if 2 categories should have similar number of observations, only 1 of them will be encoded and the other one ignored. We probably want to encode both?

[2022-04-25 15:36] solegalli opened #427 "replace concat in encoders by y_train.groupby(X_train["variable"]).mean().sort_values()"
Applies to the following encoders:

- OrdinalEncoder
- MeanEncoder
- PRatioEncoder
- WoEEncoder

Currently we concatenate the target to the predictors (X_train) to determine the mappings. This is not necessary. We can determined them automatically with syntax like this:

y_train.groupby(X_train["A7"]).mean().sort_values()

therefore removing one unnecessary step in the calculation, the pd.concat s

[2022-04-25 15:56] GLevV commented on #411
Yes, it's a rerun of a #84
If someone has an implementation of this, it should be tested on OOM issues as well as speed first, since there could be some problems

[2022-04-25 17:23] solegalli opened #428 "`OrdinalEncoder` could output -1 for unseen categories"
The OrdinalEncoder has an errors argument which can either raise an error or output NaNs when encountering new categories. For this particular class, it'd make sense to output -1 when a new category is encoded instead of generating NaNs.

[2022-04-25 17:28] solegalli commented on #315
Reopening as I think it might be worth bringing in this functionality to our class as well. It is not so complicated.

[2022-04-25 17:43] solegalli opened #429 "`CountFrequencyEncoder` could have a parameter to group categories with few observations"
Useful to handle rare categories in highly cardinal variables.

If a category is present in less than a certain threshold of observations it should be replaced by a certain value. Check page 91 of Alice Zhengs book and the CountEncoder from category encoders.

[2022-04-25 17:56] solegalli commented on #427
@noahjgreen295 @bmreiniger would this be an interesting issue to work on?

[2022-04-26 11:40] solegalli opened #430 "`WoEEncoder` should return a list with all the variables that have 0 in the denominator of the WoE"
At the moment, the transformer fails when it encounters one variable with 0 in the denominator of the WoE formula. We would like it to assess and raise an error with all the variables that show this behaviour.

[2022-04-27 11:45] Arminkhayati commented on #425
Thank you, I hope you had great time on holidays.
I did what you said, installed those libraries and again I couldn't import them. You were right. so I tried reinstalling jupyter notebook and the problem solved. thank you.

[2022-04-27 12:13] solegalli commented on #425
Glad you could solve the issue! :)

Will close this thread then.

[2022-04-27 12:13] #425 closed

[2022-04-28 12:04] solegalli commented on #411
Sorry for the late response @Pacman1984 for some reason I only noticed your answer after @GLevV added his comment :/

I guess we could draft an implementation of this transformer and then run some speed tests?

How does long does the transformation take as the number of variables to combine and/or the cardinality increases?

And from there, we can make some decisions on how we limit the functional

[2022-05-02 11:35] Pacman1984 commented on #411
I can make a pull request next week.

[2022-05-02 11:52] Pacman1984 opened #432 "[FEATURE] Categorical Feature Embedding via MLP"
Using an Embeddinglayer of a deep neural network to encode categorical variables is a common practice also known as "entity embedding". One problem is, that you have to install a deeplearning library like pytroch or tensorflow to implement the neural network with an embedding layer and they are heavy libraries.

One alternative approach could be to use the MLPClassifier, MLPRegressor class from sk

[2022-05-02 15:54] #402 closed

[2022-05-04 15:48] solegalli opened #434 "[NEW TRANSFORMER] arcsin transformation for decimal data"
For more info on the transformation:

https://stats.stackexchange.com/questions/251449/how-do-i-find-a-variance-stabilizing-transformation

https://www.stata.com/users/njc/topichlp/transint.hlp

Creating the new class is fairly straighforward.

Use the ReciprocalTransformer() as template. Copy it into a new python script called arcsin.py and edit the fit, transform and inverse transform to return

[2022-05-04 17:18] solegalli opened #435 "Add correct article for the yeo-johnson transformation"
We need to add the following article as reference 1 [here](https://github.com/feature-engine/feature_engine/blob/main/feature_engine/transformation/yeojohnson.py#L72):

Yeo, In-Kwon and Johnson, Richard (2000). A new family of power transformations
to improve normality or symmetry. Biometrika, 87, 954-959.

And the current reference 1 should be reference 2.

[2022-05-04 18:01] solegalli opened #436 "expand the user guide of the module transformations by talking about variable stabilizing functions"
Please let us know if you think there is information missing, or how else we can improve the documentation from Feature-engine.

If you are referring to an existing page, please paste the url.

[2022-05-05 01:58] SharkFin-top opened #437 "A little typo in the document"
doc link: https://feature-engine.readthedocs.io/en/1.2.x/user_guide/selection/DropHighPSIFeatures.html#case-3-split-data-based-on-time-date-as-cut-off

in this ode block:

[code]

`X_transformed.columns` should be `X_transformer.columns`

Thanks♪(･ω･)ﾉ

[2022-05-05 06:47] solegalli commented on #432
Thanks for the suggestion.

I've heard of this before, but I have to say I am not deeply familiar with these types of embeddings and when we could/should use them.

If you'd like to draft a PR, go for it. Meanwhile, I'll try to get up to speed with papers on the topic.

What would be the advantage of using embeddings for categorical variables? we won't be able to interpret features after that, rig

[2022-05-05 06:56] solegalli commented on #437
thank you!

it is now fixed here #433

[2022-05-05 07:26] #437 closed

[2022-05-05 08:19] solegalli opened #438 "[FIX] logo does not display in Pypi"
https://pypi.org/project/feature-engine/

We need to adjust the source of the image in the readme file so that pypi can read it properly.

Either this link:
https://raw.githubusercontent.com/feature-engine/feature_engine/main/docs/images/logo/FeatureEngine.png

or the current link plus: `?raw=true` at the end

[2022-05-05 14:18] solegalli opened #439 "add first-timers-welcome badge to readme"
Very easy, we need a badge to show that we welcome contributions from first-timers.

The code for the badge can be taken from here:
https://www.firsttimersonly.com/

and it is actually this one:
[![first-timers-only](https://img.shields.io/badge/first--timers--only-friendly-blue.svg?style=flat-square)](https://www.firsttimersonly.com/)

[2022-05-05 14:40] Safirangi commented on #439
Should this batch be added to the README.md after the other batches?

[2022-05-05 14:40] solegalli commented on #439
I think so.

[2022-05-05 19:49] david-cortes commented on #418
Yes, that is the idea. The use cases are many:
* Passing data at prediction time to modeling libraries that support pandas `Categorical` dtype but which do not remember the encodings (e.g. `glum`, `lightgbm`).
* Saving these encodings for some custom user-created transformer that will use them later.
* Ensuring that no new categories are passed at prediction time to some data pipeline or model.

[2022-05-06 14:19] Typepluto opened #442 "Deal with KeyError when combine two or more selection transformers with the variables parameter."
When I try to combine two or more selection transformers(by sklearn pipeline) with the variables parameter.
Due to the first selection transformer already dropping some features, I would encounter KeyError.

For example:

I want to combine DropHighPSIFeatures(split by 'position') and DropHighPSIFeatures(split by 'date') selection transformer.
I don't want 'date'  and 'position' to compute by the o

[2022-05-07 06:20] solegalli commented on #442
Hi @Typepluto

This issue was already raised here  #309 and resolved here  #369

From version 1.3 (released last Thursday) you can now use the parameter `confirm_variables` to tell the selector to adjust the list according to what is available in the incoming dataframe.

Check the new documentation here: https://feature-engine.readthedocs.io/en/latest/api_doc/selection/DropHighPSIFeatures.html

So

[2022-05-07 06:23] #438 closed

[2022-05-07 06:31] solegalli commented on #418
I can see the use of this transformer, thanks for the examples (do you have by any chance any public notebook with an example ?).

I guess we could make this transformer part of the preprocessing module. Would you like to give it a try?

[2022-05-07 06:41] solegalli commented on #416
I think, the easiest solution for this issue would be to add the FunctionTransformer to the list of transformers that can take both categorical and numerical variables as input.

From a code perspective, this would be a very minor modification and would solve the issue raised here.

If more of these type of issues arise, we can think of introducing the switch you suggest.

[2022-05-07 06:51] solegalli commented on #416
The needed change includes adding the string "FunctionTransformer" in this [list](https://github.com/feature-engine/feature_engine/blob/main/feature_engine/wrappers/wrappers.py#L214) and then write a small test at the very end of [this script](https://github.com/feature-engine/feature_engine/blob/main/tests/test_wrappers/test_sklearn_wrapper.py) with the following test:

[code]

I add in the amoun

[2022-05-07 06:55] #439 closed

[2022-05-07 07:03] solegalli commented on #439
Thank you!

[2022-05-07 13:02] Safirangi commented on #439
Thank you for letting me to contribute!

[2022-05-07 14:15] nandevers commented on #416
@solegalli

I am a newcomer and I'd be thrilled to contribute to the project.

I wrote the test function with a few tweaks to the above content:

[code]

I'll be adding a PR shortly, would you please be so kind as to help me with the review?

[2022-05-07 17:12] khanma1962 commented on #435
Current reference 2 -
https://github.com/feature-engine/feature_engine/blob/main/feature_engine/transformation/yeojohnson.py#L72

[2022-05-07 17:59] solegalli commented on #439
You are very welcome! Feel free to join us again :)

[2022-05-07 18:20] solegalli opened #445 "[new transformer] exponential width discretiser"
when a variable is in a logarithmic scale, it might make sense to create the intervals based on a log scale instead of linear scale.

Quote:
"
When the numbers span multiple magnitudes, it may be better to group by powers of
10 (or powers of any constant): 0–9, 10–99, 100–999, 1000–9999, etc. The bin widths
grow exponentially
"

the idea is taken from: Feature Engineering for Machine Learning" Ali

[2022-05-08 04:28] lauradang opened #446 "[ENHANCEMENT] change pandas.corr() by numpy alternative in correlation selectors"
**Is your feature request related to a problem? Please describe.**

For the following feature selectors:
- [SmartCorrelatedSelection](https://feature-engine.readthedocs.io/en/1.3.x/api_doc/selection/SmartCorrelatedSelection.html)
- [DropCorrelatedFeatures](https://feature-engine.readthedocs.io/en/1.3.x/api_doc/selection/DropCorrelatedFeatures.html)

`pandas.corr(method='pearson')` is currently bei

[2022-05-08 19:15] david-cortes commented on #416
But even if it is made to work for `FunctionTransformer`, it still wouldn't work for user-defined transformers. I find myself very often defining custom transformers that I want to use with `SklearnTransformerWrapper` such as this:
[code]

This transformer is not part of scikit-learn but it follows its idioms and is compatible with pipelines. Yet, it would still fail.

[2022-05-08 19:16] david-cortes commented on #418
Ok, will give it a try, probably later during next week.

[2022-05-09 06:51] solegalli commented on #416
And why not add the select variables functionality within the custom transformer @david-cortes ?

Say something like this:

[code]

[2022-05-09 07:05] #416 closed

[2022-05-09 07:18] solegalli commented on #446
Hi @lauradang

Thank you so much for raising the issue.

Do you have, by any chance, some code that compares the performance of the 2 (pandas.corr() vs np.corrcoef())? To have a better view of how much faster we are talking about?

We would also need to seek support for the other correlation formulas. At the moment, this transformer supports pearson, spearman, kendall and also user designed functi

[2022-05-09 07:26] solegalli commented on #445
This issue is a relatively simple one.

We need to use the `EqualWidthDiscretiser()` as a template, copy the class in a new python.py within the discretisation module, and update the fit method so that it creates the bin limits based on logarithmic scale.

We could find the intervals like this: `np.floor(np.log10(X[variable))` and give the user the option to select from log10 and ln to begin with.

[2022-05-09 07:41] solegalli commented on #310
Is this issue resolved with the new parameter `confirm_variables` that we introduced in a separate PR @gverbock ?

[2022-05-09 13:59] gverbock commented on #310
Yes. I will close the issue

[2022-05-09 15:41] Typepluto commented on #442
Thank you for your reply!

I've tested `confirm_variables `it works as well as I thought.

Thank you for all your great work! :)

[2022-05-09 15:41] #442 closed

[2022-05-09 18:58] GLevV commented on #445
It would work only with positive features. Maybe something like np.floor(np.cbrt(X[column])) would be more universal?

[2022-05-09 23:48] Morgan-Sell commented on #315
hola @solegalli,

I can work on this task. Although, I'm always wary when you write, "It is not so complicated." ;)

[2022-05-09 23:55] Morgan-Sell commented on #434
hola @solegalli,

I'll also work on this issue! I like creating a queue of tasks.

[2022-05-09 23:57] Morgan-Sell commented on #107
@solegalli, should we work on this task now?

[2022-05-10 06:24] solegalli commented on #434
Hi @Morgan-Sell . @tomtom-95 is working on this transformer already here #444

[2022-05-10 06:29] solegalli commented on #445
This transformer's idea is to work with variables in the log scale.

For bespoke limits we have the ArbitraryDiscretiser already, which takes at the moment a dictionary with limits. I guess we could adapt that discretiser to be able to take functions as well instead of just limits?

[2022-05-10 06:34] solegalli commented on #315
Go for it.

We need to implement the transformation described in the article cited in [this documentation](https://contrib.scikit-learn.org/category_encoders/targetencoder.html) and I guess we can borrow the logic to calculate the prior and posterior probability from category encoders as well.

What I am still not sure, is if we should adapt our MeanEncoder to be able to apply the smoothing, or cr

[2022-05-10 06:35] solegalli commented on #107
Hi @Morgan-Sell

You volunteered for many issues now. Not sure which one you like the most?

[2022-05-10 08:39] SharkFin-top opened #448 "add miceforst in the Missing Data Imputation"
Hello,guys, I find an amazing package `miceforst` ，which can be added in the Missing Data Imputation.

GitHub link: [https://github.com/AnotherSamWilson/miceforest](https://github.com/AnotherSamWilson/miceforest)

the official description:

There is currently no such strategy for filling missing values in feature_engine, and I think it is very advanced. This method keeps the distribution of the fi

[2022-05-10 08:51] solegalli opened #449 "add inverse_transform method and functionality to BoxCoxTransformer"
We can use the inv_boxcox functionality from scipy.special: https://docs.scipy.org/doc/scipy-1.8.0/html-scipyorg/reference/generated/scipy.special.inv_boxcox.html

[2022-05-10 08:59] solegalli commented on #448
Thank you @SharkFin-top

[2022-05-10 11:44] solegalli opened #450 "new discretisation transformer: chimerge"
some existing implementations:

https://github.com/lisette-espin/pychimerge
https://github.com/night18/ChiMerge
https://github.com/raiyan1102006/ChiMerge
https://gist.github.com/alanzchen/17d0c4a45d59b79052b1cd07f531689e?short_path=f2e54c6

Reference to original article can be found in first link

[2022-05-10 11:46] solegalli opened #451 "new discretization transformer: IRD or OneRuleDiscretizer"
Holte 1993. More details coming soon

[2022-05-10 11:51] solegalli opened #452 "DecisionTreeDiscretiser to output integers in addition to the predictions"
At the moment, the DecisionTreeDiscretiser returns the values of the tree predictions as the replacement of the original variables.

I would like to add the option to return integers from 1 to k (or 0 to k-1), where k is the number of final leaves. The numbers increase with the mean value target per leave.

Not sure how difficult it is to implement, I think we sort of need to navigate the tree som

[2022-05-11 10:37] nandevers commented on #430
Hi @solegalli , do you think I could pick up this one? Please let me know.

[2022-05-11 10:53] solegalli commented on #430
I am more than happy for you to do it @nandevers

I think the main modification need to be done somewhere here:
https://github.com/feature-engine/feature_engine/blob/248465e111416f88a4784b5e2e13a83d47e1f00e/feature_engine/encoding/woe.py#L174-L181

[2022-05-11 11:46] nandevers commented on #430
Awesome, working on it! Thanks a bunch

[2022-05-11 17:36] giemmecci opened #453 "Future warning: Passing a set as indexer - SmartCorrelatedSelection"
**Describe the bug**
Hi, I'm getting a FutureWarning message when running the SmartCorrelatedSelection both on my data and following one of the examples from the tutorial:

[code]

**To Reproduce**
I have followed the code example posted [here](https://feature-engine.readthedocs.io/en/1.3.x/user_guide/selection/SmartCorrelatedSelection.html)

**Screenshots**

![Screenshot from 2022-05-11 12-23-26]

[2022-05-11 23:43] Morgan-Sell commented on #107
@solegalli,

I'll work on this one!

[2022-05-12 06:35] solegalli commented on #453
Hi @giemmecci

thank you for the raising the issue.

Can I ask which version of pandas you are using?

[2022-05-12 15:13] solegalli commented on #453
fyi

#455

[2022-05-12 19:00] david-cortes opened #457 "Potentially unneeded data copying"
There is a function `check_X` used throughout the library which produces a copy of the data in order to avoid potential in-place modifications:
https://github.com/feature-engine/feature_engine/blob/248465e111416f88a4784b5e2e13a83d47e1f00e/feature_engine/dataframe_checks.py#L50

This is inefficient since it generates an extra copy of the whole data, and as a given transformer such as `CountFrequenc

[2022-05-19 00:41] Morgan-Sell commented on #450
hola @solegalli,

I know we still need to finish #454. I'm keen to work on this transformer though! What if I create a PR and layout the initial architecture?

Abrazo!

[2022-05-22 03:44] Morgan-Sell commented on #107
Closed by #454

[2022-05-22 04:54] Morgan-Sell commented on #450
Closed by #459.

[2022-05-23 14:52] ftvalentini opened #460 "Transformations by group"
Is there support for creating new variables that are summaries of existing variables by group? I can't seem to find it.

For example:

[code]
[code]

This type of feature engineering is usually helpful.

[2022-05-29 07:02] solegalli commented on #460
Hi @ftvalentini

We already got an issue that seems capture your proposal here #290

My suggestion would be to place the transformer in the "creation" folder and call the transformer "AggregateFeatures".

The transformer would have the parameters:

- variables: the variables over which the computations will be done
- groupby: the variables for the grouping
- func: the math functions to use for the

[2022-05-29 07:10] solegalli commented on #445
The logic for this transformer can be obtained from cells 7 onward on this [jupyter notebook](https://github.com/solegalli/Python-Feature-Engineering-Cookbook-Second-Edition/blob/main/ch04-discretization/Recipe-3-User-defined-interval-discretisation.ipynb).

It does contain clear interval limits. They are real numbers, obtained from a log transform of the variable as per in the notebook.

[2022-05-30 14:55] solegalli opened #462 "SelectByShuffling and SmartCorrelationSelection may be returning different results in different runs"
A student reported that when executing the transformers various times on the same dataset, they obtain different results even though the seeds seem to be set correctly

[2022-05-31 08:05] solegalli commented on #457
Hi @david-cortes

Do you have some code that compares the time implementation of copy() vs assign() that you could share? or a link to more details about the efficiency of the 2 methods?

[2022-05-31 19:59] david-cortes commented on #457
I don't have any comparison, but the underlying issue is rather simple: `.copy()` makes a deep copy of the whole data, `assign` updates it column-by-column without creating a full copy.

[2022-06-01 17:54] #434 closed

[2022-06-07 14:46] kylegilde opened #465 "How does LagFeatures & WindowFeatures produce values on unseen data without learning any parameters?"
I was expecting these transformers to learn some parameters that they can use on unseen data.

[2022-06-07 19:13] david-cortes commented on #457
Just learned that nowadays pandas's `assign` also copies the data underneath: https://github.com/pandas-dev/pandas/blob/4bfe3d07b4858144c219b9346329027024102ab6/pandas/core/frame.py#L4509

Thus, using `assign` would not actually accomplish anything here.

[2022-06-08 11:45] SangamSwadiK commented on #435
I've done a PR. Please let me know if any further changes is needed. Thanks !

[2022-06-08 11:55] SangamSwadiK commented on #449
@solegalli  Can I take this up ?
The link is updated to;
[https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.inv_boxcox.html](url)

[2022-06-08 17:31] solegalli commented on #449
Absolutely! That would be great, thanks!

[2022-06-08 17:38] solegalli commented on #457
Thanks @david-cortes for following this through!

[2022-06-08 17:39] solegalli commented on #465
which parameters?

[2022-06-08 17:41] solegalli commented on #465
LagFeatures just moves values in the past forward, and WindowFeatures takes a mathematical function of a window of values in the past.

They are used for time series forecasting, where past values inform future outcomes.

More in the user guide: https://feature-engine.readthedocs.io/en/1.3.x/user_guide/timeseries/forecasting/index.html

[2022-06-09 01:12] BriceChivu opened #467 "timeseries module missing"
Hi there,

It seems that the module 'timeseries' is missing when installing feature_engine library.
I tried both pip and conda installation.

![image](https://user-images.githubusercontent.com/48819468/172743228-a32296f9-e5eb-49db-86c5-d5f734943903.png)

Any idea why it is so?

Thanks in advance

Brice

[2022-06-09 06:22] solegalli opened #468 "functions in variable manipulation should check that user did not enter duplicated variable names"
@FYI @Morgan-Sell

This one is important for your decision tree transformer

[2022-06-09 06:24] solegalli commented on #467
which version of feature engine are you using?

from the notebook you can check as follows:

[code]

time series is available only from version 1.3 onward

[2022-06-09 07:02] BriceChivu commented on #467
Hi,
Thanks for your quick reply.
The version is 1.3.0
![image](https://user-images.githubusercontent.com/48819468/172785152-e808473a-bb9b-4351-9ff5-962f6a7608da.png)

[2022-06-09 07:09] solegalli commented on #467
OK, thank you.

What is the error message? or the question about? can you import WindowFeatures? or does that raise an error? if so, could you copy and paste the error?

[2022-06-09 07:12] BriceChivu commented on #467
The issue I'm facing is the missing timeseries module. Hence, I can't import WindowFeatures.
Here is the error message.
![image](https://user-images.githubusercontent.com/48819468/172786968-0b3f5893-0f17-4022-b485-fddbd79bb140.png)

[2022-06-09 07:14] #435 closed

[2022-06-09 07:32] solegalli commented on #467
Yep, thanks for reporting. It seems we forgot an init file in the module. Fixing as we speak. Stay tuned.

[2022-06-10 10:51] solegalli commented on #462
SmatCorrelationSelection returns same number of features as expected. Tested.

[2022-06-10 11:18] solegalli commented on #467
Hi @BriceChivu

There is a new version now in Pypi, 1.4.0, that should resolve the issue. It would be great if you could try it out and let me know if it works.

The conda version will be available in a few hours.

Cheers
Sole

[2022-06-11 09:42] SangamSwadiK commented on #449
@solegalli  Hi, I've submitted a PR #471 , please let me know if i'm missing anything. I'll do it asap.

[2022-06-11 15:55] BriceChivu commented on #467
Hello @solegalli
I was able to use WindowFeatures after upgrading to 1.4.0
Thank you for that.

By the way, I have a follow-up question in the context of time-series forecasting. Using _WindowFeatures_, I wanted to use the target variable to create a rolling average feature. As expected, it gave NaN for the first row as there is no record before that, so far so good.
The problem arises when I want

[2022-06-12 00:23] SangamSwadiK commented on #429
Hey, @solegalli, I would like to work on this issue if possible.

[2022-06-12 06:16] solegalli commented on #429
Great! Go for it!

Do you have an idea of how to go about it? or shall we discuss here first?

[2022-06-12 06:37] solegalli commented on #467
Hi @BriceChivu

At the moment, you would have to remove missing data manually. I'd recomment creating a pipeline only for feature engineering. Then a step to remove nan in train set and target. Then train a model.

We are working on a forecasting pipeline in this PR #464 that would remove missing data from train and target automatically. Probably available later this year.

These are our first cla

[2022-06-12 09:24] BriceChivu commented on #467
Hello Soledad,

Noted on that. Appreciate your response.
Keep up the good work.

Cheers,
Brice

[2022-06-12 10:28] #449 closed

[2022-06-12 10:38] SangamSwadiK opened #473 "mypy throws error on latest main"
**Describe the bug**
I'm following the contribution guidelines, But when I run mypy on the latest main branch, I get type errors.The type errors are not related to the issues im working on.

**To Reproduce**
Steps to reproduce the behavior:
1.  Pull the latest main branch.
2. Cd into feature-engine
3. Run mypy feature_engine
4. Error must be visible in the command prompt.

**Expected behavior**
My

[2022-06-12 10:43] solegalli commented on #473
is this new?

I can see that the test is passing in main branch in the repo.

Did it pass before and now raises an error? or is this the first time you try?

could you please check the version of numpy and mypy that you are using and let me know?

[2022-06-12 10:57] SangamSwadiK commented on #473
Hi, I just tried it now.
I'm using the following when I installed from requirements.txt.

- Python version: 3.10.3
- Numpy version: 1.22.4
- Pandas version: 1.4.2
- Scikit-learn version: 1.1.1
- Scipy version: 1.8.1
- Statsmodels version: 0.13.2
- Mypy version: 0.961

[2022-06-12 11:00] SangamSwadiK commented on #473
@solegalli  I'm getting the same mypy type errors on the 1.4.X branch released 2 days ago.

[2022-06-12 11:11] solegalli commented on #473
I can't reproduce the error in my computer :_(

How about, you make a PR with some code changes that you propose, and we see if the test passes in the PR?

@ChristopherGS any idea why this could be?

[2022-06-12 11:11] SangamSwadiK commented on #473
The Circle CI for `Python 3.10` seems to be using `Python 3.9`
![ci-pipeline](https://user-images.githubusercontent.com/35230623/173230264-cdb617f1-b503-4650-bd1f-917bcdc3aa59.PNG)

[2022-06-12 12:50] solegalli commented on #473
atte #474

[2022-06-12 12:50] solegalli commented on #473
Well spotted thank you! Fixing in #474 but still can't manage to reproduce the error.

waiting to hear from @ChristopherGS

[2022-06-12 16:52] SangamSwadiK commented on #429
Hi, Is the book name "Feature engineering for machine learning" ?, I think ill be able to better understand and discuss about it after going through the book.

[2022-06-13 07:35] solegalli commented on #473
After further investigation, this typing error is caused by numpy versions 1.21 and above.

When I installed numpy 1.22.4 I got the same error as @SangamSwadiK when executing mypy locally.
With an older version, the typing tests passed.

See for example [here](https://github.com/asyml/forte-wrappers/issues/90) and [here](https://github.com/asyml/forte-wrappers/issues/91) resolves the issue.

What

[2022-06-13 08:22] solegalli commented on #429
This is the book:
https://www.amazon.de/-/en/Alice-Zheng/dp/1491953241

[2022-06-13 11:48] SangamSwadiK commented on #473
Hi @solegalli , if the return type is `np.ndarray` The tests for array seem to be passing mypy.
I've checked the numpy repo on github for similar issues and couldnt find any.

I'm currently going through.
https://numpy.org/devdocs/reference/typing.html

I guess we can restrict the numpy versions if nothing else works out.

[2022-06-13 12:28] solegalli commented on #473
Hi @SangamSwadiK thank you. Good pointer. I removed typing and change array for ndarray and the tests pass both locally and in circleci.

Also have this question in stackoverflow:
https://stackoverflow.com/questions/72599663/numpy-typing-works-locally-but-not-in-circleci?noredirect=1#comment128244278_72599663

to try and understand a bit more.

[2022-06-13 14:32] #473 closed

[2022-06-13 14:34] #468 closed

[2022-06-13 15:22] SangamSwadiK commented on #473
Yes, In the numpy docs
https://numpy.org/devdocs/reference/typing.html

They ask us to add a separate configuration for typing in mypy. for numpy
`[mypy]
plugins = numpy.typing.mypy_plugin`

It says `np.ArrayLike` can also be used for typing.

[2022-06-14 08:57] solegalli commented on #453
resolved in #455

[2022-06-14 08:57] #453 closed, assigned to nobody

[2022-06-14 14:30] solegalli commented on #429
Yes, that is correct :)

[2022-06-14 14:46] SangamSwadiK commented on #429
Okay Cool !
Ill do it and submit a PR.

[2022-06-20 13:14] solegalli commented on #292
As per @GLevV 's comment, the authors themselves argue that the method of adding probe features (what we call here noise features) is aimed to understand which features have some sort of relation to the target, but not necessarily to improve model performance.

In other words, better suited for model interpretability than for feature selection.

[2022-06-26 13:02] #417 closed

[2022-06-26 17:09] kylegilde commented on #465
I guess that I was hoping to use this class in the following use case:

A new date occurs in the test dataset that wasn't in the training dataset. The class would know that it can fill in `ambient_temp_lag_1` with a 9 instead of NaN.

[code]
[code]

[2022-06-26 18:59] solegalli commented on #465
I see what you mean.

At this stage, you'd have to pass the transformer enough past data to create the features that you need for your forecasting horizon. So if the point you need for index=[X.index.max() + pd.Timedelta(1, 'd') is the one in index=[X.index.max() , your test set needs to have both time stamps, index=[X.index.max() + pd.Timedelta(1, 'd') and index=[X.index.max() .

How to implement

[2022-06-26 20:26] david-cortes opened #481 "Handling of missing values in categorical encoders"
Some transformers such as the `CountFrequency` categorical encoder have options for handling new unseen categories during calls to `transform`. In some cases, unseen categories and explicit missing values might be getting mixed together however.

It would be good to have some distinction between the two and potentially different options for courses of action that would be consistent across transfo

[2022-06-26 20:27] kylegilde commented on #465
sounds good! Thank you for the recommendations!

[2022-06-26 20:27] #465 closed

[2022-06-27 18:22] david-cortes commented on #481
Many transformers actually fail to fit when the data has missing values, even though their presence shouldn't affect the calculations that the transformer does. One might want to preserve missing values as missing in the output before passing them to some further transformer for example (such as a multivariate imputer).

[2022-06-29 07:42] solegalli commented on #481
All encoders will fail if the input has missing data. They will fail during fit and they will also fail during transform. This is intentional.

The user can impute missing data beforehand, for example with the CategoricalImputer() and replace nan by a string, for example "Missing", if they want to preserve that as a separate category.

Unseen categories are a different story. They will only be tak

[2022-06-29 19:18] david-cortes commented on #481
Example use cases for passing explicit missing values:
* I have a data frame with mixed columns and missing values in many of them. I want to fit a regression model using a software that handles missing values without imputation, such as lightgbm. Some categorical columns have high cardinality and lightgbm doesn't handle them well, so I want to encode them with some transformers.
* I have a data f

[2022-07-05 14:02] #462 closed

[2022-07-05 14:03] solegalli opened #482 "change name of parameter errors by unseen in categorical encoders"
The change should be done with a deprecation cycle.

[2022-07-05 14:06] #387 closed

[2022-07-05 14:07] #346 closed

[2022-07-05 14:08] #318 closed, assigned to nobody

[2022-07-05 17:10] david-cortes commented on #481
In the case of lightgbm, when it encounters NaNs in a categorical variable during fitting, at each node that makes a split on that variable, it decides to which branch to assign NaNs by checking on which branch they would decrease the loss function the most, which is something that could not be achieved by using the same imputed value at every tree and node - hence why one would want to pass NaNs

[2022-07-08 22:06] joaopcnogueira commented on #452
Really nice one.

I was also using the DecisionTreeDiscretiser to binnarize a model probability prediction to sort of define rules of action depending on the generated bin.

In that case, it could be nice to have the option to `return_boundaries` within the list of parameters of DecisionTreeDiscretiser.

![CleanShot 2022-07-08 at 19 03 35](https://user-images.githubusercontent.com/17098391/1780760

[2022-07-09 17:52] Morgan-Sell commented on #413
hola @solegalli,

This check will be very useful! I'll work it on. Hopefully, it will be ready for you to review once you return from vacay ;)

[2022-07-10 03:24] Morgan-Sell commented on #451
The anticipation is killing me...

[2022-07-10 04:14] Morgan-Sell commented on #404
hola @solegalli,

I see sklearn has an experimental version of the [IterativeImputer](https://scikit-learn.org/stable/modules/generated/sklearn.impute.IterativeImputer.htmlrl). Do we still want to implement this transformer into feature-engine?

When training the transformer's estimator, will the transformer organize the non-missing values for the dependent variable as the training set and all the

[2022-07-12 08:42] AMM53 commented on #388
Will be having a look at it later.

[2022-07-19 18:07] Morgan-Sell commented on #413
Closed by #484

[2022-07-21 19:35] datacubeR opened #489 "Polynomial Feaatures + SklearnWrapper weird behavior"
**Describe the bug**
A clear and concise description of what the bug is.

When using PolynomialFeaturs + SklearnWrappers the base features are duplicated, when trying to dedup using DropDuplicateFeatures the values are repeated again!!

Using the simple Titanic Dataset you can run something like this:

[code]

This returns the first issue:

![image](https://user-images.githubusercontent.com/486383

[2022-07-30 00:41] Morgan-Sell commented on #323
Hola @solegalli,

I'm going to git this PR a try. I need to work on my dev skills. This seems like a great place to focus!

[2022-08-02 12:56] solegalli commented on #323
Sounds good @Morgan-Sell

Shouldn't be too difficult (she said, :p)

Thank you!

[2022-08-02 13:37] solegalli commented on #489
Hi @datacubeR

Thank you for raising the issue. Apologies for the delay. I was on holidays until yesterday.

To check if I understand this correctly, the first pipeline should return these columns:
['age', 'fare', 'embarked', 'pclass', 'sex',  'pclass sex']

but it is instead returning this columns:
[**'pclass', 'sex'**, 'age', 'fare', 'embarked', 'pclass', 'sex', 'pclass sex']

The DropDuplicates

[2022-08-03 07:09] solegalli commented on #404
Hi @Morgan-Sell

The iterativeImputer will return a continuous value to impute NA. But some variables are categorical, so instead of regression, classification would be more suitable.

Nan are handle during the subsequent rounds of imputation, like the iterativeimputer does.

So I guess, the only difference would be that our imputer is able to distinguish when to do regression and when to do imput

[2022-08-03 07:17] solegalli commented on #452
Hi @joaopcnogueira

Thanks for the detail and the notebook you contributed to the examples repo. And apologies for the delay. I was on holidays.

Would you like to give it a go at making the discretizer return the interval boundaries?

these links may help:

https://scikit-learn.org/stable/auto_examples/tree/plot_unveil_tree_structure.html#sphx-glr-auto-examples-tree-plot-unveil-tree-structure-py

[2022-08-03 16:36] datacubeR commented on #489
Hi @solegalli,
I would love to give it a try. The thing I would like to understand better is that it seems you think the problem is the `SklearnTransformerWrapper` not the `PolynomialFeatures` nor the `DropDuplicatesFeatures`.
On that note, do you thing is an expected behavior to not detect Duplicate Features when the only difference is DataType?

Thanks and I'll keep you posted!!

[2022-08-03 16:57] solegalli commented on #489
Yes. The PolynomialFeatures from sklearn is designed to just return the polynomial features. It operates over the entire dataset. As such, the result will have the original features, which are the features exponentiated to 1.

The SklearnTransformerWrapper, applies the PolynomialFeatures to a selected group of variables, and the appends the result to the original data, creating the duplication. Th

[2022-08-05 14:38] timvink opened #492 "Idea: add a `UnstableLabelEncoder`"
Related to [`RareLabelEncoder`](https://feature-engine.readthedocs.io/en/latest/api_doc/encoding/RareLabelEncoder.html), I wrote an `UnstableLabelEncoder` that groups categories that are unstable over time.

You define `n_time_buckets` (for example `5`) and a `time_variable`. Then I cut the `time_variable` into `n_time_buckets` and then per variable, per category, I look at the spread (range betwe

[2022-08-05 15:04] joaopcnogueira commented on #452
No need to apologize, I completely understand that.

I will give it a try to make the discretizer return the interval boundaries, much likely as shown on the notebook on examples repo.

[2022-08-05 17:31] timvink commented on #492
I'm still playing with the metric to use for `tol`. Probably better to use the max absolute percentage difference from the mean. Easier to interpret: a feature category's proportion should not fluctuate more than xx% over time.

[2022-08-06 02:31] datacubeR opened #493 "Ignore NaNs before using `OrdinalEncoder`"
*Is your feature request related to a problem?*
`OrdinalEncoder` should accept nulls. Sometimes you don't want to impute directly but using Imputing Options of XGBoost, LightGBM or CatBoost. Because of the constraints of always Impute before this is currently not possible.

*Describe the solution you'd like*
I like that Feature Engine forces you to Impute first, but I will add some kind of default

[2022-08-06 04:48] GLevV commented on #315
If we want to distinguish our mean encoder from many others (category_encoders, h2o, dirty_cat etc) we could use different smoothing function. In original Micci-Barreca they are using sigmoid function to calculate smoothing factors, but it possible to use any other monotonic (0-1) function (they also said it in the paper). For example, [here](https://tel.archives-ouvertes.fr/tel-02614322/document)

[2022-08-06 07:46] GLevV opened #494 "Adding auto threshold to DropHighPSIFeatures"
**Is your feature request related to a problem? Please describe.**
Staple thresholds 0.1 and 0.25 are empirical, but there are alternatives to calculate threshold based on data and parameters of the transformation

**Describe the solution you'd like**
There are two formulas [described in this dissertation](https://scholarworks.wmich.edu/cgi/viewcontent.cgi?article=4249&context=dissertations) to ca

[2022-08-06 13:20] solegalli commented on #494
Thanks @GLevV for the suggestion.

@gverbock what do you think about this?

[2022-08-06 13:21] solegalli commented on #315
thank you @GLevV

[2022-08-06 13:25] solegalli commented on #493
Hi @datacubeR

Thanks for the suggestion.

You are certainly not the first one who'd like the encoders to support NaN. I think @david-cortes made a similar suggestion here #481, am I right?

It would be great if those interested in this functionality could upvote / like or leave a comment in any of the 2 issues to better gauge the interest in this functionality.

[2022-08-06 13:38] solegalli commented on #492
Hi @timvink

Thanks for the suggestion!

Did you create this method? or was it described somewhere else? if yes, would you be able to add some links for more information?

@gverbock what do you think about this suggestion?

[2022-08-07 03:03] GLevV commented on #452
If DT has random seed locked, it will always return the same values, thus we can use something like `stats.rankdata(x, method='dense')` to transform floats to integers.

[2022-08-07 03:10] GLevV commented on #291
From the looks of it it is the same as `sklearn.preprocessing.KBinsDiscretizer` with `strategy='kmeans'`

[2022-08-07 08:31] solegalli commented on #291
Hi @GLevV

 I didn't check the source code of the KBinsDiscretizer when strategy is kmeans, but according to the docs: "‘kmeans’ strategy defines bins based on a k-means clustering procedure performed on each feature independently". Thus, it would map:

- n features -> n clusters
- n features -> n features x n clusters if ohe.

The proposition here is to use **all categorical variables** to derive

[2022-08-07 09:35] GLevV commented on #291
@solegalli sorry, my bad, I misunderstood OP. It is transformation of k features to 1. So it just regular fit_predict of KMeans on subset of data. Which is something like this:
 `ColumnTransformer([('kmeans',  KMeans(n_clusters=6), [ids of categorical columns])], remainder='passthrough')`

[2022-08-08 07:07] timvink commented on #492
I did.

I don't have them. I would need to spend more time looking for papers, running benchmarks and writing about experimental results.

Does it makes sense to close this issue until I have more information?

[2022-08-08 07:49] solegalli opened #495 "new transformer: feature selection using mrmr"
As per description here:

https://medium.com/towards-data-science/mrmr-explained-exactly-how-you-wished-someone-explained-to-you-9cf4ed27458b

and references therein.

[2022-08-08 08:33] solegalli commented on #492
I would leave it open. And whenever you have the time to gather the information, just pin it here :)

[2022-08-08 09:01] gverbock commented on #492
What I find interesting in the discussion is how to deal with unstable categories in a feature. The DropHighPSI approoach is designed to work with numeric variable and the topic of categorical variable is not really addressed. In the current set-up it should be applied after OneHotEncoding and remove the unstable encoded features. (@timvink long time no see).

[2022-08-08 09:11] gverbock commented on #494
I like the idea to use the number of points to set a common threshold for all features. On the other hand the number of bins is arbitrary so it there will be an arbitrary factor anyway (still need to read the dissertation on that topic). @GLevV  what is your view on this?

[2022-08-08 10:32] GLevV commented on #494
Yes, threshold will depend on size of dataset (and on `split_frac`)  and number of bins, which kinda makes sense. In practice it gives lower thresholds than 0.1 or 0.25, but we could keep the defaults as is.

Should be pretty straightforward to implement, I think

[2022-08-08 10:49] solegalli commented on #494
@GLevV would you like to give it a go?

[2022-08-08 12:49] GLevV commented on #494
@solegalli ye, why not

[2022-08-08 14:58] timvink commented on #492
Good suggestion Gilles, I will experiment with OHE + DropHighPSI also. (Indeed long time, nice to run into you here!)

[2022-08-12 11:33] saurabhgoel1985 commented on #280
Hi Sole, I am interested to work on this, but I dont not much idea about open source contribution. I have recently watched all your ML courses on Udemy and I really liked them, thats why I am inclined to take a shot at this. Can you guide me a little bit here.

[2022-08-12 14:08] GLevV opened #496 "MAD-Median rule for outlier removal"
**Is your feature request related to a problem? Please describe.**
We can add outlier rule similar to gaussian (mean +- k * std) but using robust statistics (median +- k * mad). It is very often get named in statistical books (for example Introduction to Robust Estimation and Hypothesis Testing by R.R. Wilcox), so I'm surprised it is not here.

**Describe the solution you'd like**
Add `mad` option

[2022-08-13 04:19] datacubeR commented on #428
@solegalli I was taking a look at this Issue and I noticed `transform` method is inherited from `CategoricalMethodsMixin`. So in order to fix this, a whole transform method should override the one in `CategoricalMethodsMixin`? Or is there a better way to do this?

[2022-08-13 11:51] solegalli commented on #280
Welcome @saurabhgoel1985

Absolutely! I look forward to working with you.

First of all, it's been a while since I read those articles on IV, so I guess, the first thing would be to go over them and maybe add a few bullet points below on what the new transformer should be doing.

From the top of my head, using the WoE we should replace the categories by the IV instead.

Then, since the IV, if I re

[2022-08-13 11:56] solegalli commented on #280
Correction: the transformer is for feature selection, so I edited the former comment.

[2022-08-13 11:58] solegalli commented on #496
Go for it.

What do you have in mind as substitute of the fold parameter?

[2022-08-13 12:20] solegalli commented on #428
We did this for the CountEncoder already. I think the best would be to have a look at how we implemented there?

[2022-08-13 15:35] GLevV commented on #496
We can translate multipliers to percentiles. For example 2 and 3 fold for gaussian method is a 2-sigma, 3-sigma rules which is 95.5% and 99.7% respectively ([wiki article if someone interested)](https://en.wikipedia.org/wiki/68%E2%80%9395%E2%80%9399.7_rule). As for IQR 1.5 is approx 99.3% ([this medium article](https://towardsdatascience.com/why-1-5-in-iqr-method-of-outlier-detection-5d07fdc82097)

[2022-08-14 06:58] solegalli commented on #496
Thank you @GLevV for so much detail.

The thing is, 1.5 and 3 are values that are commonly used for the IQR, and transforming that into percentiles would lose the meaning/easy interpretability of those values.

And the same is true for the normal distribution. The number of sigmas away from the mean are very standardized values. Transforming that into percentiles means a lot more detail in the doc

[2022-08-14 09:05] GLevV commented on #496
Ok, I will make draft PR soon

[2022-08-14 20:37] Morgan-Sell commented on #280
I started working on this already. I not by my PC but there is a PR.

Sent from my iPhone

[2022-08-15 08:15] saurabhgoel1985 commented on #280
Thanks for the update Morgan, hope the PR gets merged soon

[2022-08-15 13:32] solegalli commented on #280
Sorry @Morgan-Sell I 've not reviewed that PR yet. You make so many PRs that I can't keep up :p

I'll review the 2 remaining PRs on Wednesday.

Cheers

[2022-08-15 13:36] solegalli commented on #292
Hey @saurabhgoel1985

This is a fairly straightforward feature selection transformer, if you fancy making a contribution.

The idea is, introduce 3 random features in the data, train a machine learning model with all features plus the 3 random ones, and select all features which importance is greater than the random ones (or mean of the 3 random features).

We need to create a new class called `Pr

[2022-08-15 15:39] saurabhgoel1985 commented on #292
Sure @solegalli let me have a look and will get back to you for any doubts. Thanks a lot for tagging me here.

[2022-08-18 00:16] Morgan-Sell commented on #323
Closed by #504.

[2022-08-18 07:48] #427 closed

[2022-08-18 08:19] solegalli commented on #413
Actually, PRatio will be deprecated, so the only transformer atm using binary classifcation exclusively is WoE.

Not worth the effort.

[2022-08-18 09:40] #429 closed

[2022-08-18 10:01] #482 closed

[2022-08-18 10:02] #413 closed

[2022-08-18 22:36] Morgan-Sell commented on #445
hi @solegalli and @SangamSwadiK,

Was this issue completed? I think I saw a PR created and committed for this issue.

[2022-08-18 22:52] Morgan-Sell commented on #315
Ok, I'm getting back to this issue. I'll get started on it this coming week.

@GLevV, a few questions:

1. Are you referring to using x / (x + a) for the weighting?
2. Does `x` representhe total number of times that category occurs in the data?
3. Does `m` represent the "smoothing factor" that is to be selected by the user?

[2022-08-19 08:03] solegalli commented on #445
There is no PR for this transformer. But this is another one of those for which I am in 2 minds about whether it is useful or not.

[2022-08-19 09:01] GLevV commented on #315
x are the counts/frequencies of categories, a is a smoothing factor. If a is 0 then this become vanilla MeanEncoder as we have right now (which is good for backward compatibility and classes relying on MeanEncoder).
For more math details please refer to the papers mentioned above.

On the footnote, in Micci-Barecca paper they mentioned that a for this formula could be easily calculated from the da

[2022-08-20 16:30] Morgan-Sell commented on #315
Ok, cool. Thanks for the explanation. We're saying the same thing.

@solegalli, should we knock out SelectByInformationValue and TargetMeanSelector before jumping into this one? I see it's a priority.

[2022-08-20 16:35] Morgan-Sell commented on #404
Hi @solegalli,

Yeah, I read a paper on MICE. I saw there that R has a MICE package.

I'm going to table this one for the moment to focus on the other transformers. Maybe one of our wonderful collaborators will pick this one up ;)

[2022-08-22 02:54] BromleyJames commented on #426
Hi @solegalli , I want to attempt this as my first issue, but I'm a little confused as to what is needed here.

Are you talking about the case where k=2 categories, in which case we have only 1 binary output?

e.g. current state

| Input | Encoding_1_green |
|------| ----------|
| green | 1 |
| green | 1 |
| green | 1 |
| green | 1 |
| green | 1 |
| blue | 0 |
| blue | 0 |
| blue | 0 |
| red | 0 |

[2022-08-22 08:39] solegalli commented on #426
The OHEEncoder has the parameter top_categories, that if set to 3 for example, the encoder will count the number of observations per category, order them from those with most to those with less categories, and then select the top 3.

So if the variable City has the following categories: London, Berlin, Manchester, Amsterdam, Buenos Aires, it will count the number of observations in each city, and

[2022-08-22 08:40] solegalli commented on #426
Btw, welcome to the project @BromleyJames

Where did I leave my manners?

[2022-08-22 11:41] BromleyJames commented on #426
Hi @solegalli, thank you very much for your clarifying explanation and for the warm welcome. I feel that this is much clearer now and I look forward to trying to tackle the issue.

[2022-08-22 15:22] #496 closed

[2022-08-24 14:25] solegalli opened #513 "replace loop by broadcasting in cyclical features"
The class creates features in a loop:

https://github.com/feature-engine/feature_engine/blob/9d4b67e34973fb0dad6a1df6ba88a3305a2c5bb7/feature_engine/creation/cyclical_features.py#L151-L154

I think we could replace that by broadcasting and make it faster

[2022-08-24 14:27] solegalli commented on #513
Hi @GLevV

You are really good at programming,  so I thought I would pick your brain once more :)

Would it be possible to replace this loop by array / pandas operations? and if yes, would you be able to give it a go?

I think you should be able to obtain the variable names from the get_feature_names_out() method passing the input variables

[2022-08-25 05:55] GLevV commented on #494
closed with #498

[2022-08-25 05:55] #494 closed

[2022-08-25 05:56] GLevV commented on #513
Will look into it

[2022-08-27 07:34] GLevV commented on #513
In this case loop is faster, see PR

[2022-08-30 09:03] solegalli commented on #513
Thank you @GLevV

this was really helpful. I'll close the issue then !

[2022-08-30 09:03] #513 closed

[2022-08-30 09:16] #489 closed

[2022-09-02 03:08] Manuelhrokr commented on #495
Hi Soledad,

I went through the suggested TDS article. I see there is an existing library implemented by the author: `https://github.com/smazzanti/mrmr`. How would the implementation for the Feature-engine library would be under this circumstances? I would like to contribute by adding this transformer if possible. Thanks.

[2022-09-10 10:36] GLevV commented on #315
Is it in the workings or stale?

[2022-09-10 11:24] solegalli commented on #315
It is waiting for a kind contributor to pick it up :)

[2022-09-11 16:17] solegalli opened #518 "get_feature_names_out is not compatible with sklearn"
Sklearn functionality is as follows:

If None, the transformer returns all the features in the transformed dataframe.

If list, the list must coincide the input features, stored in features_names_in, and the output is still all the features in the transformed dataframe.

Sklearn has the option to pass a list, because they work with numpy arrays, which do not have feature names. So if the user want

[2022-09-19 15:25] #518 closed

[2022-09-20 13:29] solegalli commented on #420
This was taken care of in #519

[2022-09-21 06:00] #315 closed

[2022-09-21 09:58] #323 closed

[2022-09-21 16:21] solegalli opened #524 "reduce running time of tests for feature selection module"

[2022-09-21 16:23] solegalli opened #525 "add functionality in MeanEncoder to replace unseen by the target prior"
How do you feel about this one @GLevV ?

We already added similar functionality in the CountEncoder for inspiration:
https://github.com/feature-engine/feature_engine/blob/main/feature_engine/encoding/count_frequency.py

[2022-09-21 16:24] solegalli opened #526 "increase code coverage"
Our overall code-coverage is good. But there are some modules that are lacking a few lines of code here and there. We should run coverage and add the missing tests.

[2022-09-21 19:29] Morgan-Sell opened #527 "Cyclical datetime feature transformation"
**Is your feature request related to a problem? Please describe.**
Some date/time features have cyclical trends, e.g., solar and wind energy generation. Let's create a transformer that can capture cyclical trends.

This [Medium post](https://medium.com/ai%C2%B3-theory-practice-business/top-6-errors-novice-machine-learning-engineers-make-e82273d394db) claims that such features are transformed in su

[2022-09-22 06:02] solegalli commented on #527
Is this not covered by the CyclicalFeatures class?

[2022-09-22 06:25] solegalli opened #528 "create Pipeline capable of adjusting y after removing observations."
For example, to be able to use DropMissingData or OutlierTrimmer within the pipeline.

[2022-09-23 16:46] david-cortes opened #529 "Applying multiple transformations on the same variable"
Oftentimes, one wants to create multiple transformations out of a single column, or to have the original column in addition to the transformations.

For example, I might have a categorical column for which I might want to do something as follows:
* Impute missing values.
* Create a frequency-encoded version of the column.
* Create a mean-encoded version of the column.
* Apply the rare label transf

[2022-09-25 08:03] GLevV opened #530 "String Similarity Encoder"
Recently dirty_cat dropped support for edit distances and left only ngram similarity, so I think it's time to add encoder like this.
The whole concept is pretty simple: instead of encoding categories if there is an exact match like OneHotEncoder, we encode categories based on their string similarity. It's very useful if dataset has 'dirty' (poorly-defined) categories (for example, professions). Si

[2022-09-25 08:13] GLevV commented on #525
Will look into it

[2022-09-26 08:39] solegalli commented on #530
Thank you for so much detail @GLevV.

Go for it :)

This article about dirty categories has been in my "to read" list for quite a long time now :p

[2022-09-26 08:40] #525 closed

[2022-09-26 08:54] solegalli commented on #529
Hi @david-cortes

Thank you for the suggestion.

These are my thoughts:

The encoding methods are kind of tailored to the model we want to train. For example, OrdinalEncoding works with decision trees, but not really with linear models, unless we order following the target value. One Hot encoding is on the other hand more suitable for linear models, but not really for decision trees as it expands

[2022-09-26 08:55] solegalli commented on #527
I reckon we can close this issue. If CyclicalFeatures does not have the functionality requested already, we can open it again :)

[2022-09-26 08:55] #527 closed

[2022-09-26 09:55] GLevV commented on #529
Yes, this one needs clearly defined usecase and example before any decision could be made

[2022-09-26 12:26] solegalli opened #532 "add notebook on cyclical features to example repo and make sure link matches the one in documentation"
It is the one from the time series course.

[2022-09-26 12:27] solegalli opened #533 "bring notebooks from fsml book to example repo and ensure links match"

[2022-09-26 12:29] solegalli opened #534 "add code snippet of class use to API"
Users like copying and pasting the code for simplicity.

Modules

- [x] creation
- [x] datetime
- [x] discretisation
- [x] imputation
- [x] encoding
- [x] outliers
- [x] preprocessing
- [x] selection
- [x] timeseries
- [x] transformation
- [x] wrappers

Adding all relevant PRs:

https://github.com/feature-engine/feature_engine/pull/564
https://github.com/feature-engine/feature_engine/pull/563
http

[2022-09-26 12:30] solegalli opened #535 "add dataset module"
first function should be to load and prepare the titanic dataset from openML

[2022-09-26 12:31] solegalli opened #536 "add parameter to handle NA as per pandas functionality in forecasting classes"
pandas shift and pandas rolling have a parameter to handle NaN introduced during the operations, we should allow users to tap into that parameter in our transformers.

@KishManani one for you? :p

Should be an easy fix.

[2022-09-26 16:24] david-cortes commented on #529
For example, one use case would be if there is a high-cardinality categorical variable in which a handful categories are more common than the rest, from which one might want to create both a rare-label+dummy-encoded that leaves only top-5 or so and additionally a weight-of-evidence and/or frequency-encoded version of it, and pass those further down the line to either a linear model or to a decisio

[2022-10-06 15:36] GLevV opened #538 "Inverse transform functionality of encoders"
While looking at base encoder class I saw inverse_transform function. It won't work with the most of the encoders (or maybe even all of them), and will only cause problems.

Maybe it should be dropped completely or replaced by dummy function raising NotImplementedError?

[2022-10-07 06:35] solegalli commented on #538
Thanks for raising the issue. We should add tests and fix it.

[2022-10-12 18:45] solegalli commented on #529
I think we are not going to move forward with this one, for the time being, because it seems too specific.

We can open it later if it gathers users support.

[2022-10-12 18:45] #529 closed

[2022-10-13 08:23] #530 closed

[2022-10-13 09:33] solegalli commented on #526
coverage for encoding is taken care of here: #539

[2022-10-13 10:16] #428 closed

[2022-10-13 10:16] #538 closed

[2022-10-14 05:00] bearberror opened #543 "Is sklearntransformerwrapper get list of transformers?"
In this stage, the sklearntransformerwrapper is the wonderful feature but, Is it possible to get list of sklearntransformerwrapper and parallel transform the data.

Thank you.

[2022-10-14 09:20] solegalli commented on #543
Hi @bearberror

Thanks for the suggestion.

Could you elaborate more about what functionality you have in mind? I am not quite sure I understand what's the desired output of the transformer?

[2022-10-14 09:22] solegalli commented on #536
Hi @Morgan-Sell this issue, has your name on it :p

We need to add a parameter in the init of the LagFeatures, WindowFeatures and ExpandedWindowFeatures that then would be passed onto the fill_value parameter of pandas.shift (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html) to replace the nan introduced by that value.

Small code modification, plus a test or

[2022-10-14 09:47] bearberror commented on #543
Thanks for your response.
The feature I need is a kind of ColumnTransformer in sklearn but the output will be the dataframe not the array like sklearn ones.

[2022-10-14 11:52] solegalli commented on #543
Do I understand correctly, that what you'd like is to wrap many transformers with one instance of the sklearnwrapper? as if the wrapper was a pipeline?

[2022-10-14 17:08] datacubeR commented on #534
@solegalli I think I could work on this one too? Would you give me some guidelines on how to address this one?

[2022-10-17 08:25] solegalli commented on #535
Sure @datacubeR

In many of our user guide demos for categorical encoders, we use the titanic dataset from open_ml.

We use variations of this function to import and prepare the data:

[code]

If would be great if all of that, including removing the variables name and ticket and probably home as well, went into a function in a new module called datasets, so that in the demos, we can just do `load_

[2022-10-17 08:28] solegalli commented on #534
I've received feedback from some users, telling me that it would be nice to have a snippet of code implementing the transformer in the API part of the docs, where we describe the parameters, so that they can do copy and paste  and execute.

So the task here would be, for every class in feature_engine, in the docstrings, create a mini toy dataset, and apply the transformer.

We could break this iss

[2022-10-23 00:50] Morgan-Sell commented on #536
Dale!

[2022-10-24 07:28] solegalli commented on #536
I think that is actually a good idea. Go for it :)

[2022-10-24 09:42] #280 closed

[2022-10-24 09:44] solegalli commented on #426
FYI @GLevV

Closing after your suggestion that it complicates more than it helps.

Thanks for your engagement!

[2022-10-24 09:45] #426 closed

[2022-10-24 12:11] datacubeR commented on #534
@solegalli
It should something like this?  I will start on this one too...

https://github.com/scikit-learn/scikit-learn/blob/36958fb240fbe435673a9e3c52e769f01f36bec0/sklearn/linear_model/_logistic.py#L1011-L1024

[2022-10-24 13:47] solegalli commented on #534
yes, that is it :)

thank you!

[2022-10-25 17:07] csetzkorn opened #548 "entity embedding for categorical features with large cardinality"
I think this would be useful. I would know how to do this using TF + Keras. Not sure if this could be used?

[2022-10-26 06:57] solegalli commented on #548
Hi @csetzkorn

thanks for creating the issue. Could you add some links or more details regarding what this functionality is about?

[2022-10-26 08:27] solegalli commented on #548
Thank you @csetzkorn !

[2022-11-09 18:37] px39n opened #557 "Bug: MatchCategories cannot import"
ImportError                               Traceback (most recent call last)
[<ipython-input-21-d13d6f98bc57>](https://localhost:8080/#) in <module>
      1 get_ipython().system('pip install feature_engine')
----> 2 from feature_engine.preprocessing import MatchCategories
      3 match_categories = MatchCategories(missing_values="ignore")
ImportError: cannot import name 'MatchCategories' from 'feat

[2022-11-10 08:17] solegalli commented on #557
Could you corroborate the version of feature engine that is being installed?

[code]

It should be 1.5.0 or above.

[2022-11-10 09:29] px39n commented on #557
yes its 1.4.0 thanks for reply

[2022-11-10 09:29] #557 closed

[2022-11-15 15:34] solegalli commented on #493
Hi @glevv

We've got a few requests to allow feature-engine encoders to not raise an error when the variable has nan.

At the moment, the encoders are designed to require imputation before encoding.

I think, the idea is to let the encoders encode variables if they have nan and leaving the nan as nan. The motivation is that some algorithms, like lightgbm (not sure which else?), can handle nan out

[2022-11-17 16:38] glevv commented on #493
`handle_missing` could be implemented in the base class in `transform` function, but `RareLabelEncoder`, `OneHotEncoder` and `DecisionTreeEncoder` redefine transform function, so they will need to be updated manually. `StringSimilarityEncoder` already has this functionality, will need just harmonization of names.

[2022-11-17 17:02] solegalli commented on #493
Maybe it is worth exploring creating a MixIn?

[2022-11-18 10:03] glevv commented on #493
I'm not sure how it would help. My current understanding is that we need to add additional lines to `fit` and `transform` methods that will ignore nans and assign nans according to input, but not all encoders use base class methods. On top of that logic of some encoders just don't allow nans, like `DecisionTreeEncoder`.

[2022-11-23 10:17] MatheusHam opened #566 "[ENH] Possibility to fit base_selector with one feature for automated pipelines."
https://github.com/feature-engine/feature_engine/blob/f94cfaf2bec343b71c73a33b0c5d4e30eb7e7177/feature_engine/selection/base_selector.py#L121

When using [SuperVectorizer (dirty_cat)](https://dirty-cat.github.io/stable/generated/dirty_cat.SuperVectorizer.html) to develop an AutoML solution, I have bumped into a situation where a master table has only one numerical feature, thus raising an error he

[2022-11-23 11:22] sTomerG opened #567 "Don't error when DropFeatures get's empty list"
**Is your feature request related to a problem? Please describe.**
To be able to more easily gridsearch over which features to drop using `DropFeatures` it would be helpful if `DropFeatures` wouldn't generate a `ValueError` when `len(features_to_drop) == 0`, so that you can also choose to not drop any features in the gridsearch by inserting an empty list as value.

**Describe the solution you'd li

[2022-11-23 15:27] solegalli commented on #567
Hi @sTomerG

Thanks for the suggestion. This is a use of `DropFeatures` that I had not thought of :)

Going back to my thinking when I designed this class: it was intended for users to remove features based on some domain knowledge. Thus, calling this class and removing no feature (empty list) made no sense. Hence, the error check.

Of course I did not see the potential use in combination with Gri

[2022-11-23 15:32] solegalli commented on #566
Hi @MatheusHam

Thanks for your engagement in the project!

I don't understand the issue though. If you want to remove duplicated features from a dataset (which is what `DropDuplicateFeatures` is designed to do), you need at least a data set with 2 features. If the dataset has 1 feature, for sure, it won't be duplicated. So why would we use `DropDuplicateFeatures` on a dataframe with 1 variable?

[2022-11-24 08:39] MatheusHam commented on #566
Absolutelly!

I have been working on an auto ml solution and we are applying a SuperVectorizer with some feature_engine selectors. The [SuperVectorizer (dirty_cat)](https://dirty-cat.github.io/stable/generated/dirty_cat.SuperVectorizer.html) separates the features of our master by its types and applies a transformation pipeline, e.g:

[code]

Sometimes,  a user tries to use our automated pipeline

[2022-11-24 09:40] sTomerG commented on #567
Thanks for your quick reply @solegalli :). Now that I've thought about it some more; this actually applies to more classes in feature-engine which have a parameter that specifies on which variables the transformation should be applied.

With categorical encoding, you might want to gridsearch whether the model learns more of the feature through ordinal encoding or through mean encoding. This would

[2022-11-24 10:11] solegalli commented on #567
I see the point for automation. But I also think that removing the "safety net" of alerting the user when no variables will be transformed by the encoder is too dangerous, i.e., the user may think that their variables are being transformed, but they are not.

There could be options with Optuna to sample the param space with no variables. Optuna allows to define parameters with the define-by-run me

[2022-11-24 10:23] solegalli commented on #566
Cool example, thank you! Very interesting way of combining transformers :)

My first thought is, if we remote that check in the `base_selector`, it will affect other transformers as well, so we need to think carefully about the consequences of doing this.

Looking at your pipeline, I guess you pass different datasets (containing datetime vars, low cardinality vars, high cardinality vars and numeri

[2022-11-26 00:37] ricardordb opened #568 "Adding a MedianEncoder on encoding category"
Hello!
I am working on a project and we found that the median encoding works better for our kind of data.
So I replaced the **MeanEncoding** _mean_ function by the _median_ function creating a new encoder.
Already tested the new encoder on some data and it works perfectly.
I forked it here: [feature_engine](https://github.com/ricardordb/feature_engine)

What do you think about adding a **MedianEnc

[2022-11-26 15:07] MatheusHam commented on #566
We do something similar to what you suggested, I appreciate your answer.

Yes, that would definitely require special attention. Some data analysts with little python experience are using our auto ml tool to experiment on their own, eventually, they can fail to build a good first master table for their use case and we do not want to impact their experience by raising errors they can't understand.

[2022-11-28 09:14] solegalli commented on #566
Hi @MatheusHam

Thanks for the input. I really appreciate it.

As it stands now, I get the impression that this would not be a wide spread enough use of the transformer for us to change the API.

We could pick it up at a later stage if there are more users that would like DropDuplicatedFetures() and / or other selectors not to drop the error on single column dataframes.

Thank you!

[2022-11-28 09:28] solegalli commented on #568
Hi @ricardordb Thanks a lot for your suggestion!

@glevv what do you think about this suggestion?

**My thoughts:**

In principle, if we use target mean encoding, I don't see why not also use target median. Sounds like a small difference from a statistical perspective.

In practice, I don't know how much the median encoder would improve the model performance over the mean encoder (I guess we don't

[2022-11-28 13:22] glevv commented on #568
@solegalli

This is a special case of quantile encoder
http://contrib.scikit-learn.org/category_encoders/quantile.html

I know of this method, but didn't use it at all, since I saw no point in using it over target encoding.

[2022-11-29 12:53] sTomerG commented on #567
Hi!

I've found a solution; I've created a meta-estimator which can turn other estimators/transformers in a Pipeline on or off :)
[code]

[2022-11-29 13:02] solegalli commented on #568
Thank you @glevv

This tells us 2 things:

First, I still have a lot to learn (lol).

And second, if we were to implement **median encoding**, then, we should probably read the references in the Quantile encoder from category encoders to understand more of its use and functionality, and potentially create a quantile encoder and not just a median encoder, based on the literature.

Since it exists i

[2022-11-29 18:16] ricardordb commented on #568
On my side I am doing some research and tests to check if we can justify
this component.
I will now look at Quantile Encoding as suggested by @glevv
<https://github.com/glevv>.
Having more information will return my findings to you.

On Mon, Nov 28, 2022 at 6:28 AM Soledad Galli ***@***.***>
wrote:

--
Ricardo Rezende